<div class="c-modal-overlay js-modal-po" data-modals--offer-modal-target='modal'>
  <div class="c-modal">
    <div class="c-modal__scroll">
      <div class="c-modal__scroll__content">
        <button class="c-modal__close-btn js-close-modal" data-action='modals--offer-modal#close'>
          <span class="o-close-icon"></span>
        </button>
        <div class="c-modal__header">
          <div class="c-modal__header__title">
            <span class="o-edit-icon--green"></span>
            <span><%= t('offers.change_bid') %></span>
          </div>
          <div class="c-modal__header__subject">
            <span class="c-modal__header__subject__title"><%= @auction.domain_name %></span>
            <span class="o-po-icon o-io-icon--bg-orange"></span>
          </div>
          <div class="c-modal__header__desc">
            <span><%= t('offers.new.title') %></span>
          </div>
        </div>

        <div class="c-modal__main">
          <div class="c-modal__grid">
            <div class="c-modal__main__info">
              <span><%= t('english_offers.show.min_bid') %></span>
              <h3 class="u-h2 u-m-none"><%= Money.new(Setting.find_by(code: 'auction_minimum_offer').retrieve) %> €</h3>
            </div>
            <div class="c-modal__main__info c-modal__main__info--black">
              <strong><%= t('english_offers.show.current_price') %></strong>
              <h3 class="u-h2 u-m-none"><%= current_price %> €</h3>
              <span>S<%= t('auctions.you') %></span>
            </div>
          </div>

          <%= form_with model: @offer, url: url, id: 'english_offer_form', data: { turbo: false },
                                data: { controller: 'autotax-counter', autotax_counter_template_value: t('english_offers.price_with_wat_template'),
                                autotax_counter_tax_value: "#{offer.billing_profile.present? ? offer.billing_profile.vat_rate : 0.0 }",
                                autotax_counter_defaulttemplate_value: t('offers.price_is_without_vat')} do |f| %>
            <%= f.hidden_field :user_id, value: offer.user_id %>
            <%= f.hidden_field :auction_id, value: offer.auction_id %>
            <div class="c-modal__grid u-flex-wrap u-mt-24 u-mt-48-l">
              <div class="c-modal__col">
                <label>Pakkumus</label>
                <span id="offer_<%=offer.auction.id%>_form">
                  <%= component 'modals/change_offer/number_form_field', offer_value: current_price, offer_disabled: @auction.finished? %>
                </span>
                <span class="c-modal__input-desc">
                  <%= t('.minimum_offer', minimum: Money.new(Setting.find_by(code: 'auction_minimum_offer').retrieve,
                          Setting.find_by(code: 'auction_currency').retrieve)) %></span>
              </div>
              <div class="c-modal__col">
                <label>Kokku</label>
                <span class="c-modal__calculation" data-autotax-counter-target='result'>
                  <% if offer.billing_profile.present? %>
                    <%= t('offers.price_with_wat', price: (@auction.min_bids_step.to_f * offer.billing_profile.vat_rate.to_f).to_f + @auction.min_bids_step.to_f, tax: offer.billing_profile.vat_rate * 100)  %>
                  <% else %>
                    <%= t('offers.price_is_without_vat') %>
                  <% end %>
                </span>
              </div>
            </div>
            <div class="c-modal__select u-mt-24 ">
              <%= f.label :billing_profile, t('.bidder') %>
              <%= f.select :billing_profile_id,
                                            billing_profiles = BillingProfile.where(user_id: offer.user_id).collect { |b| [b.name, b.id, {'data-vat-rate' => b.vat_rate}] },
                                            {},
                                            class: billing_profiles.size == 1 ? "disabled" : "",
                                            data: { action: 'change->autotax-counter#updateTax' } %>
            </div>
            <%= link_to t('new_billing_profile'), billing_profiles_path, class: 'c-modal__link c-modal__link--first-col', target: '_top' %>
          <% end %>

        </div>
        <div class="c-modal__footer">
          <div class="c-modal__footer__col">
            <button class="c-btn c-btn--ghost" data-action='modals--offer-modal#close'><%= t('close') %></button>
          </div>

          <% if @auction.in_progress? %>
          <div class="c-modal__footer__col">
            
            <%= button_to offer_path(@auction.offer_from_user(current_user).uuid), method: :delete, form: { data: { turbo_confirm: t(".confirm_delete") } }, class: "c-btn c-btn--ghost c-btn--icon" do %>
              <span class="o-delete-icon"></span>
            <% end if @auction.offer_from_user(@current_user).present? %>

            <%= submit_tag t(:submit), class: "c-btn c-btn--green", id: 'bid_action', form: 'english_offer_form', style: 'cursor: pointer;', data: { turbo: false } %>
          </div>
          <% end %>

        </div>

        <% if @captcha_required %>
          <% if @show_checkbox_recaptcha %>
            <div class="field">
              <br>
              <%= recaptcha_tags %>
              <%= recaptcha_tags site_key: recaptcha2_site_key %>
            </div>
          <% else %>
            <%= recaptcha_v3(action: 'offer', site_key: recaptcha3_site_key, turbolinks: true) %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
