<% content_for :title, t('.title') %>

<div class="o-container">
  <div class="c-block c-account c-account--createnew">
    <%= form_with model: @recommendation_profile, url: recommendation_profile_path, method: :put, class: "o-grid o-grid--two-col o-grid--sep" do |f| %>
      <%= hidden_field_tag :return_to, params[:return_to] %>
      <%= render 'fields', form: f %>

      <div class="o-card-wrapper">
        <div class="o-card o-card--personaldata">
          <h2 class="o-card__title c-account__title"><%= t('.why_it_helps_title') %></h2>
          <p class="c-account__subtitle"><%= t('.why_it_helps_body') %></p>

          <% if @recommendation_profile.summary_lines.any? %>
            <div class="u-mt-20">
              <% @recommendation_profile.summary_lines.each do |line| %>
                <p class="c-account__subtitle"><%= line %></p>
              <% end %>
            </div>
          <% end %>
        </div>

        <%= component 'common/links/link_button', link_title: t(:cancel), href: params[:return_to].presence || user_path(current_user.uuid), color: 'ghost' %>
        <%= component 'common/form/form_button', form: f, btn_title: t('.submit') %>
      </div>
    <% end %>
  </div>
</div>
