<div class="text-center">
    <div class="row justify-content-center">
        <div class="col-4">
            <h1 class="mb-3">Sign up</h1>

            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>

                <div class="form-group">
                    <%= f.label :email %><br />
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
                </div>

                <div class="form-group">
                    <%= f.label :password %>
                    <% if @minimum_password_length %>
                        <em>(<%= @minimum_password_length %> characters minimum)</em>
                    <% end %><br />
                    <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
                </div>

                <div class="form-group">
                    <%= f.label :password_confirmation %><br />
                    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
                </div>

                <div class="form-group">
                    <%= f.label :identity_code %><br />
                    <%= f.password_field :identity_code, autocomplete: "new-password", class: "form-control" %>
                </div>

                <div class="form-group">
                    <%= f.label :country_code %><br />
                    <%= f.select(:country_code, options_for_select(Countries::ALPHA_2_SELECTION, %w[Estonia EE])) %>
                </div>


                <%= f.submit "Sign up", class: "btn btn-lg btn-primary btn-block form-control" %>
            <% end %>

            <%= render "devise/shared/links" %>
        </div>
    </div>
</div>
