<%= form_with url: auctions_path, method: :get, data: { **form_data_attributes } do |f| %>
  <div class="c-table__filters">
    <div class="c-table__filters__btns" style='position: relative'>
      <%= component 'common/form/radio_button', form: f, title: 'all', attribute: :type, 
                    data_attributes: { **form_filter_target }, options: { **radio_btn_style, id: 'filter_all_button'} %>
      <%= f.label :type_all, t('auction.all'), class: "c-table__filters__btn is-active js-table-filter-btn", style: 'cursor: pointer;', for: 'filter_all_button', data: { **form_filter_data_attrs } %>

      <%= component 'common/form/radio_button', form: f, title: 'english', attribute: :type, data_attributes: { **form_filter_target }, options: { **radio_btn_style, id: 'filter_IO_button'} %>
      <%= f.label :type_english, class: "c-table__filters__btn js-table-filter-btn", style: 'cursor: pointer;', for: 'filter_IO_button', data: { **form_filter_data_attrs } do %>
        <span class="o-io-icon"></span><span class="u-hidden-m"><%= t('auctions.english_auction') %></span>
      <% end %>
      
      <%= component 'common/form/radio_button', form: f, title: 'blind', attribute: :type, 
                    data_attributes: { **form_filter_target }, options: { **radio_btn_style, id: 'filter_PO_button'} %>
      <%= f.label :type_blind, class: "c-table__filters__btn js-table-filter-btn", style: 'cursor: pointer;', for: 'filter_PO_button', data: { **form_filter_data_attrs } do %>
        <span class="o-po-icon"></span><span class="u-hidden-m"> <%= t('auctions.blind_auction') %></span>
      <% end %>
    </div>

    <div class="c-table__filters__search">
      <%= component 'common/form/search_field', form: f, attribute: :domain_name, value: params[:domain_name], placeholder: t('search_by_domain_name') %>
    </div>
    

    <div class="c-table__filters__more">
      <% if current_page?(auctions_path) || current_page?(root_path) %>
        <%= component 'common/links/link_button', link_title: t(:finished_auctions), href: histories_path, color: 'ghost' %>
      <% else %>
        <%= component 'common/links/link_button', link_title: t(:auctions_name), href: auctions_path, color: 'ghost' %>
      <% end %>

      <%= component 'pages/auction/notification_subscribe', current_user: @current_user %>
    </div>

    <div class="c-auctions__legend">
      <div><span class="o-io-icon o-icon--sm"></span><%= t('auctions.english_auction') %></div>
      <div><span class="o-po-icon o-icon--sm"></span><%= t('auctions.blind_auction') %></div>
    </div>
  </div>
<% end %>
