    <%= component 'common/table', header_collection: header_collection, options: { class: 'table--black' } do %>
      <%= tag.tbody do %>
        <tr>
          <td><strong><%= @offer.auction.domain_name  %></strong></td>
          <td>2<%= I18n.l(@offer.auction.ends_at) %></td>
          <td><%= t('offers.price_in_currency', price: @offer.price) %></td>
          <td><%= t('offers.price_in_currency', price: @offer.total) %></td>
        </tr>
      <% end %>
    <% end %>
