<%= form_with(model: invoice, local: true, url: url, class: 'ui form big') do |f| %>
    <div class="ui one column grid">
        <div class="column">
            <div class="field">
                <%= f.label :billing_profile, t('invoices.billing_profile') %>
                <%= f.select :billing_profile_id,
                             BillingProfile.where(user_id: invoice.user_id).collect { |b| [b.name, b.id] },
                             {},
                             class: "ui dropdown" %>
            </div>

            <%= link_to t(:new_billing_profile), new_billing_profile_path, class: "ui button primary" %>
        </div>

        <div class="column">
            <%= f.submit t(:submit), class: "ui button primary", data: { turbo: false } %>
            <%= link_to t(:back), :back, class: "ui button secondary" %>
        </div>
    </div>
<% end %>
