  <div class="c-block" data-controller='table--tab' data-table--tab-active-class='is-active'>
    <h2 class="c-block__title u-flex u-content-sp u-flex-gap-12 u-h3"><%= t('invoices.paid') %> </h2>
    <div class="c-tabs">
      <div class="c-tabs__nav">
        <button class="c-tabs__nav__btn js-tab-btn is-active" data-table--tab-target='tab' data-action="click->table--tab#showTab" data-table--tab-index-param='0'>
          <%= t('invoices.paid') %> <sup>(<%= @paid_invoices.count %>)</sup>
        </button>
        <button class="c-tabs__nav__btn js-tab-btn" data-table--tab-target='tab' data-action="click->table--tab#showTab" data-table--tab-index-param='1'>
          <%= t('invoices.paid_deposit_title') %> <sup>(<%= @deposit_paid.count %>)</sup>
        </button>

        <%= tag.div class: 'c-tabs__nav__btn--ind' do %>
          <%= button_to pay_all_bills_invoices_path, method: :post, style: 'background-color: inherit; color: inherit; text-decoration: none; border: none; box-shadow: none;' do %>
            <%= t('.pay') %> <sup>(<%= @unpaid_invoices_count %>)</sup>
          <% end %>
        <% end if @unpaid_invoices_count.positive?%>

      </div>

      <div class="c-tabs__content">
        <div class="c-tabs__content__tab is-active" data-table--tab-target='content'>
          <div class="c-table--responsive">
            <% header_collection = [{ column: nil, caption: t('invoices.item'), options: { class: "" } },
                                              { column: nil, caption: t('invoices.due_date'), options: { class: "" } },
                                              { column: nil, caption: t('invoices.total'), options: { class: "" } },
                                              { column: nil, caption: 'Tegevused', options: { class: "u-text-center-l" } },
                                              ] %>
            <%= component 'common/table', header_collection:, options: { class: '' } do %>
              <% @paid_invoices.each do |invoice| %>
                <tr class="invoices-table-row">
                  <td><strong><%= link_to invoice&.items&.first&.name, invoice_path(invoice.uuid), title: "Invoice", data: { turbo_frame: 'modal' }, style: "color: black;" %></strong></td>
                  <td><%= I18n.l(invoice.due_date) %></td>
                  <td><%= invoice.total %></td>
                  <td class="u-text-center-l"><%= link_to t('invoices.show_invoice'), invoice_path(invoice.uuid), class: "c-btn c-btn--ghost js-modal-toggle", title: "Invoice", data: { turbo_frame: 'modal' } %></td>
                </tr>
              <% end %>
            <% end %>
          </div>
        </div>

        <div class="c-tabs__content__tab" data-table--tab-target='content'>
          <div class="c-table--responsive">
            <% header_collection = [{ column: nil, caption: t('invoices.paid_deposit.date'), options: { class: "" } },
                                              { column: nil, caption: t('invoices.paid_deposit.sum'), options: { class: "" } },
                                              { column: nil, caption: t('invoices.paid_deposit.auction_name'), options: { class: "" } },
                                              { column: nil, caption: t('invoices.paid_deposit.status'), options: { class: "" } },
                                              { column: nil, caption: t('invoices.paid_deposit.refund_time'), options: { class: "" } }
                                              ] %>
            <%= component 'common/table', header_collection:, options: { class: '' } do %>
              <% @deposit_paid.each do |deposit| %>
                <tr class="invoices-table-row">
                  <td><%= deposit.created_at.strftime("%Y-%m-%d") %></td>
                  <td><%= deposit.auction.deposit %></td>
                  <td><strong><%= deposit.auction.domain_name %></strong></td>
                  <td><%= component 'common/badgets', status: deposit.status %> <%#= t("invoices.paid_deposit.#{deposit.status}") %></td>
                  <td><%= deposit.refund_time %></td>
                </tr>
              <% end %>
            <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>