<% content_for :hero do %>
    <div class="main-hero main-hero--green">
        <h1><%= t('.title') %></h1>
    </div>
<% end %>

<div class="u-container">
    <div class="u-container ui segment padded-block">
        <% if @invoice.errors.any? %>
            <div class="ui message">
                <div class="header">
                    <%= pluralize(@invoice.errors.count, "error") %> <%= t('.errors') %>
                </div>
                <ul id="errors">
                    <% @invoice.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>

        <%= render 'form', invoice: @invoice, url: invoice_path(@invoice.uuid)  %>
    </div>
</div>
