<% content_for :hero do %>
    <div class="hero green">
        <h1><%= t('.title') %></h1>
    </div>
<% end %>

<div class="u-container">
    <div class="margin-block">
        <h2><%= t('invoices.outstanding') %></h2>

        <table class="ui selectable stackable table" id="my-outstanding-invoices-table">
            <thead>
                <tr>
                    <th scope="col"><%= t('invoices.item') %></th>
                    <th scope="col"><%= t('invoices.due_date') %></th>
                    <th scope="col"><%= t('invoices.total') %></th>
                </tr>
            </thead>

            <tbody class="invoices-table-body issued">
                <% @issued_invoices.each do |invoice| %>
                    <tr class="invoices-table-row">
                        <td><%= link_to invoice&.items&.first&.name, invoice_path(invoice.uuid) %></td>
                        <td><%= I18n.l(invoice.due_date) %></td>
                        <td><%= t('offers.price_in_currency', price: invoice.total) %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>

        <% if @issued_invoices.any? %>
            <div class="column sixteen wide">
                <h3><%= t('.pay') %></h3>
                <%= button_to "Generate invoice", 
                              pay_all_bills_invoices_path,
                              method: :post,
                              style: 'padding: 10px 5px; margin-top: 5px; cursor: pointer;',
                              id: 'everypay_generator',
                              remote: true %>
                <div id="everypay_link"></div>
            </div>
        <% end %>

        <% if @paid_invoices.any? %>
            <h2>
                <%= t('invoices.paid') %>
            </h2>
            <table class="ui selectable stackable table" id="my-paid-invoices-table mt-4">
                <thead>
                    <tr>
                        <th scope="col"><%= t('invoices.item') %></th>
                        <th scope="col"><%= t('invoices.due_date') %></th>
                        <th scope="col"><%= t('invoices.total') %></th>
                    </tr>
                </thead>

                <tbody class="invoices-table-body paid">
                    <% @paid_invoices.each do |invoice| %>
                        <tr class="invoices-table-row">
                            <td><%= link_to invoice&.items&.first&.name, invoice_path(invoice.uuid) %></td>
                            <td><%= I18n.l(invoice.due_date) %></td>
                            <td><%= invoice.total %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        <% end %>

        <% if @cancelled_payable_invoices.any? %>
            <h2>
                <%= t('invoices.cancelled') %>
            </h2>
            <table class="ui selectable stackable table" id="my-cancelled-invoices-table mt-4">
                <thead>
                <tr>
                    <th scope="col"><%= t('invoices.item') %></th>
                    <th scope="col"><%= t('invoices.due_date') %></th>
                    <th scope="col"><%= t('invoices.total') %></th>
                </tr>
                </thead>

                <tbody class="invoices-table-body cancelled">
                <% @cancelled_payable_invoices.each do |invoice| %>
                    <tr class="invoices-table-row">
                        <td><%= link_to invoice&.items&.first&.name, invoice_path(invoice.uuid) %></td>
                        <td><%= I18n.l(invoice.due_date) %></td>
                        <td><%= invoice.total %></td>
                    </tr>
                <% end %>
                </tbody>
            </table>
        <% end %>

        <% if @cancelled_expired_invoices.any? %>
            <h2>
                <%= t('invoices.cancelled_expired') %>
            </h2>
            <table class="ui selectable stackable table" id="my-cancelled-invoices-table mt-4">
                <thead>
                <tr>
                    <th scope="col"><%= t('invoices.item') %></th>
                    <th scope="col"><%= t('invoices.due_date') %></th>
                    <th scope="col"><%= t('invoices.total') %></th>
                </tr>
                </thead>

                <tbody class="invoices-table-body cancelled">
                <% @cancelled_expired_invoices.each do |invoice| %>
                    <tr class="invoices-table-row">
                        <td><%= link_to invoice&.items&.first&.name, invoice_path(invoice.uuid) %></td>
                        <td><%= I18n.l(invoice.due_date) %></td>
                        <td><%= invoice.total %></td>
                    </tr>
                <% end %>
                </tbody>
            </table>
        <% end %>
    </div>
</div>
