<% content_for :hero do %>
  <div class="hero green">
    <h1><%= t('.title') %></h1>
  </div>
<% end %>

<div class="u-container">
  <div class="margin-block">
    <h2><%= t('invoices.outstanding') %></h2>
    <table class="ui selectable stackable table" id="my-outstanding-invoices-table" data-controller='responsive-table'>
      <thead>
        <tr>
          <th scope="col"><span class='hide-table-header'><%= t('invoices.item') %></span></th>
          <th scope="col"><span class='hide-table-header'><%= t('invoices.due_date') %></span></th>
          <th scope="col"><span class='hide-table-header'><%= t('invoices.total') %></span></th>
        </tr>
      </thead>
      <tbody class="invoices-table-body issued">
        <% @issued_invoices.each do |invoice| %>
          <tr class="invoices-table-row">
            <td><%= link_to invoice&.items&.first&.name, invoice_path(invoice.uuid) %></td>
            <td><%= I18n.l(invoice.due_date) %></td>
            <td><%= t('offers.price_in_currency', price: invoice.total) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <% if @issued_invoices.any? %>
      <div class="column sixteen wide">
        <h3><%= t('.pay') %></h3>
        <%= button_to t('invoices.index.pay'), 
                              pay_all_bills_invoices_path,
                              method: :post,
                              class: 'ui button primary' %>
      </div>
    <% end %>
  
    <% if @paid_invoices.any? %>
      <h2>
        <%= t('invoices.paid') %>
      </h2>
      <table class="ui selectable stackable table" id="my-paid-invoices-table mt-4">
        <thead>
          <tr>
            <th scope="col"><span class='hide-table-header'><%= t('invoices.item') %></span></th>
            <th scope="col"><span class='hide-table-header'><%= t('invoices.due_date') %></span></th>
            <th scope="col"><span class='hide-table-header'><%= t('invoices.total') %></span></th>
          </tr>
        </thead>
        <tbody class="invoices-table-body paid">
          <% @paid_invoices.each do |invoice| %>
            <tr class="invoices-table-row">
              <td><%= link_to invoice&.items&.first&.name, invoice_path(invoice.uuid) %></td>
              <td><%= I18n.l(invoice.due_date) %></td>
              <td><%= invoice.total %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  
    <% if @cancelled_payable_invoices.any? %>
      <h2>
        <%= t('invoices.cancelled') %>
      </h2>
      <table class="ui selectable stackable table" id="my-cancelled-invoices-table mt-4">
        <thead>
          <tr>
            <th scope="col"><span class='hide-table-header'><%= t('invoices.item') %></span></th>
            <th scope="col"><span class='hide-table-header'><%= t('invoices.due_date') %></span></th>
            <th scope="col"><span class='hide-table-header'><%= t('invoices.total') %></span></th>
          </tr>
        </thead>
        <tbody class="invoices-table-body cancelled">
          <% @cancelled_payable_invoices.each do |invoice| %>
            <tr class="invoices-table-row">
              <td><%= link_to invoice&.items&.first&.name, invoice_path(invoice.uuid) %></td>
              <td><%= I18n.l(invoice.due_date) %></td>
              <td><%= invoice.total %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

    <% if @cancelled_expired_invoices.any? %>
      <h2>
        <%= t('invoices.cancelled_expired') %>
      </h2>
      <table class="ui selectable stackable table" id="my-cancelled-expired-invoices-table mt-4">
        <thead>
          <tr>
            <th scope="col"><span class='hide-table-header'><%= t('invoices.item') %></span></th>
            <th scope="col"><span class='hide-table-header'><%= t('invoices.due_date') %></span></th>
            <th scope="col"><span class='hide-table-header'><%= t('invoices.total') %></span></th>
          </tr>
        </thead>
        <tbody class="invoices-table-body expired cancelled">
          <% @cancelled_expired_invoices.each do |invoice| %>
            <tr class="invoices-table-row">
              <td><%= link_to invoice&.items&.first&.name, invoice_path(invoice.uuid) %></td>
              <td><%= I18n.l(invoice.due_date) %></td>
              <td><%= invoice.total %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

    <% if @deposit_paid.any? %>
      <h2>
        <%= t('invoices.paid_deposit_title') %>
      </h2>
      <table class="ui selectable stackable table" id="my-paid-deposits-invoices-table mt-4">
        <thead>
          <tr>
            <th scope="col"><span class='hide-table-header'><%= t('invoices.paid_deposit.date') %></span></th>
            <th scope="col"><span class='hide-table-header'><%= t('invoices.paid_deposit.sum') %></span></th>
            <th scope="col"><span class='hide-table-header'><%= t('invoices.paid_deposit.auction_name') %></span></th>
            <th scope="col"><span class='hide-table-header'><%= t('invoices.paid_deposit.status') %></span></th>
            <th scope="col"><span class='hide-table-header'><%= t('invoices.paid_deposit.refund_time') %></span></th>
          </tr>
        </thead>

        <tbody class="invoices-table-body deposits">
          <% @deposit_paid.each do |deposit| %>
            <tr class="invoices-table-row">
              <td><%= deposit.created_at.strftime("%Y-%m-%d") %></td>
              <td><%= deposit.auction.deposit %></td>
              <td><%= link_to deposit.auction.domain_name, auction_path(uuid: deposit.auction.uuid) %></td>
              <td><%= t("invoices.paid_deposit.#{deposit.status}") %></td>
              <td><%= deposit.refund_time %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
