<div class="row">
    <div class="col-12">
        <h1 class="mb-3 mt-4"><%= t('.title') %></h1>
    </div>
</div>

<div class="row mt-4">
    <div class="col-12">
        <h2>
            <%= t('invoices.outstanding') %>
        </h2>
        <table class="table" id="my-outstanding-invoices-table">
            <thead>
                <tr>
                    <th scope="col"><%= t('invoices.item') %></th>
                    <th scope="col"><%= t('invoices.due_date') %></th>
                    <th scope="col"><%= t('invoices.total') %></th>
                </tr>

                <tbody class="invoices-table-body">
                    <% @issued_invoices.each do |invoice| %>
                        <tr class="invoices-table-row">
                            <td><%= link_to invoice.items.first.name, invoice_path(invoice.uuid) %></td>
                            <td><%= I18n.l(invoice.due_date) %></td>
                            <td><%= t('offers.price_in_currency', price: invoice.total) %></td>
                        </tr>
                    <% end %>
                </tbody>
        </table>
    </div>

    <% if @paid_invoices.any? %>
        <div class="col-12">
            <h2>
                <%= t('invoices.paid') %>
            </h2>
            <table class="table" id="my-paid-invoices-table mt-4">
                <thead>
                    <tr>
                        <th scope="col"><%= t('invoices.item') %></th>
                        <th scope="col"><%= t('invoices.due_date') %></th>
                        <th scope="col"><%= t('invoices.total') %></th>
                    </tr>

                    <tbody class="invoices-table-body">
                        <% @paid_invoices.each do |invoice| %>
                            <tr class="invoices-table-row">
                                <td><%= link_to invoice.items.first.name, invoice_path(invoice.uuid) %></td>
                                <td><%= I18n.l(invoice.due_date) %></td>
                                <td><%= invoice.total %></td>
                            </tr>
                        <% end %>
                    </tbody>
            </table>
        </div>
    <% end %>
</div>
