<html lang="<%= I18n.locale.to_s %>">
    <head>
        <meta charset="utf-8"/>
        <css>

            .container {
            margin: auto;
            font-size: 12px;
            }

            .col-md-12 {

            }

            .col-md-6 {
            width: 49%;
            display: inline-block;
            }

            .col-xs-4 {
            width: 33%;
            }

            .col-xs-2 {
            width: 16%;
            }

            .col-md-3 {
            width: 24%;
            display: inline-block;
            }

            .left {
            float: left;
            }

            .left {
            padding-right: 5px;
            }

            .right {
            float: right;
            }

            .text-right {
            text-align: right;
            }

            dt {
            float: left;
            width: 100px;
            clear: left;
            text-align: right;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-weight: bold;
            line-height: 1.42857;
            }

            dd {
            margin-left: 120px;
            line-height: 1.42857;
            }

            table {
            width: 100%;
            border-collapse: collapse;
            font-size: 12px;
            }

            th {
            text-align: left;
            border: 0px;
            border-top: 1px solid #DDD;
            padding: 6px;
            }

            thead th {
            border-bottom: 2px solid #DDD;
            border-top: 0px;
            }

            td {
            border-top: 1px solid #DDD;
            }

            td {
            padding: 6px;
            }

            .no-border {
            border: 0px;
            }

            hr {
            height: 1px;
            border: 0;
            color: #DDD;
            background-color: #DDD;
            }

            .clear {
            clear: both;
            }

            .pull-down {
            margin-top: 50px;
            }

            #header {
            position: relative;
            min-height: 100px;
            }

            img {
            width: 106px;
            height: 102px;
            }

            #header-content {
            position: absolute;
            bottom: 0;
            }

            #footer {
            position: absolute;
            bottom: 0px;
            width: 99%;
            }

            h1 {
            margin-bottom: 5px;
            }

        </css>
    </head>
    <body>
        <div class="container">
            <div class="row" id="header">
                <div class="col-sm-6 left">
                    <div id="header-content">
                        <h1>
                            <%= @invoice %>
                        </h1>
                    </div>
                </div>
                <div class="col-sm-6 right">
                    <img src="<%= Rails.root %>/public/eis-logo-black-et.png"/>
                </div>
            </div>
            <div class="clear"></div>
            <hr/>
            <div class="row">
                <div class="col-md-6 left">
                    <h4>
                        Details
                    </h4>
                    <hr/>
                    <dl class="dl-horizontal">
                        <dt>
                            <%= t('invoices.issue_date') %>
                        </dt>
                        <dd>
                            <%= l @invoice.issue_date %>
                        </dd>
                        <% if @invoice.cancelled? %>
                            <dt>
                                <%= Invoice.human_attribute_name :cancelled_at %>
                            </dt>
                            <dd>
                                <%= l @invoice.cancelled_at %>
                            </dd>
                        <% end %>
                        <dt>
                            <%= t('invoices.issue_date') %>
                        </dt>
                        <% if @invoice.cancelled? %>
                            <dd>
                                <%= t(:cancelled) %>
                            </dd>
                        <% else %>
                            <dd>
                                <%= l @invoice.due_date %>
                            </dd>
                        <% end %>
                        <dt>
                            <%= Invoice.human_attribute_name :receipt_date %>
                        </dt>
                        <% if @invoice.paid? %>
                            <dd>
                                <%= l @invoice.receipt_date %>
                            </dd>
                        <% elsif @invoice.cancelled? %>
                            <dd>
                            </dd>
                        <% else %>
                            <dd class="text-danger">
                            </dd>
                        <% end %>
                        <dt>
                        </dt>
                        <dd>
                            <%= @invoice.seller_contact_name %>
                        </dd>
                        <dt>
                            <%= t(:payment_term) %>
                        </dt>
                        <dd>Prepayment</dd>
                        <dt>
                            <%= t(:invoice_number) %>
                        </dt>
                        <dd>
                            <%= @invoice.number %>
                        </dd>
                        <% if @invoice.description.present? %>
                            <dt>
                                <%= t(:description) %>
                            </dt>
                            <dd>
                                <%= @invoice.description %>
                            </dd>
                        <% end %>
                        <dt>
                            <%= Invoice.human_attribute_name :reference_no %>
                        </dt>
                        <dd>
                            <%= @invoice.reference_no %>
                        </dd>
                    </dl>
                </div>
                <div class="col-md-6 right">
                    <h4>
                        <%= t(:client) %>
                    </h4>
                    <hr/>
                    <dl class="dl-horizontal">
                        <dt>
                            <%= t(:name) %>
                        </dt>
                        <dd>
                            <%= @invoice.buyer_name %>
                        </dd>
                        <dt>
                            <%= t(:reg_no) %>
                        </dt>
                        <dd>
                            <%= @invoice.buyer_reg_no %>
                        </dd>
                        <% if @invoice.buyer_address.present? %>
                            <dt>
                                <%= t(:address) %>
                            </dt>
                            <dd>
                                <%= @invoice.buyer_address %>
                            </dd>
                        <% end %>
                        <% if @invoice.buyer_country.present? %>
                            <dt>
                                <%= t(:country) %>
                            </dt>
                            <dd>
                                <%= @invoice.buyer_country %>
                            </dd>
                        <% end %>
                        <% if @invoice.buyer_phone.present? %>
                            <dt>
                                <%= t(:phone) %>
                            </dt>
                            <dd>
                                <%= @invoice.buyer_phone %>
                            </dd>
                        <% end %>
                        <% if @invoice.buyer_phone.present? %>
                            <dt>
                                <%= t(:url) %>
                            </dt>
                            <dd>
                                <%= @invoice.buyer_url %>
                            </dd>
                        <% end %>
                        <% if @invoice.buyer_email.present? %>
                            <dt>
                                <%= t(:email) %>
                            </dt>
                            <dd>
                                <%= @invoice.buyer_email %>
                            </dd>
                        <% end %>
                    </dl>
                </div>
            </div>
            <div class="clear"></div>
            <div class="row pull-down">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th class="col-xs-4">
                                        <%= t(:description) %>
                                    </th>
                                    <th class="col-xs-2">
                                        <%= t(:unit) %>
                                    </th>
                                    <th class="col-xs-1">
                                        <%= InvoiceItem.human_attribute_name :quantity %>
                                    </th>
                                    <th class="col-xs-3">
                                        <%= t(:price) %>
                                    </th>
                                    <th class="col-xs-2">
                                        <%= t(:total) %>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <% @invoice.each do |invoice_item| %>
                                    <tr>
                                        <td>
                                            <%= invoice_item.description %>
                                        </td>
                                        <td>
                                            <%= invoice_item.unit %>
                                        </td>
                                        <td>
                                            <%= invoice_item.quantity %>
                                        </td>
                                        <td>
                                            <%= currency(invoice_item.price) %>
                                        </td>
                                        <td>
                                            <%= "#{currency(invoice_item.item_sum_without_vat)} #{@invoice.currency}" %>
                                        </td>
                                    </tr>
                                <% end %>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th colspan="3"></th>
                                    <th>
                                        <%= Invoice.human_attribute_name :subtotal %>
                                    </th>
                                    <td>
                                        <%= number_to_currency @invoice.subtotal %>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="no-border" colspan="3"></th>
                                    <th>
                                        <%= "VAT #{number_to_percentage(@invoice.vat_rate, precision: 1)}" %>
                                    </th>
                                    <td>
                                        <%= number_to_currency @invoice.vat_amount %>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="no-border" colspan="3"></th>
                                    <th>
                                        <%= t(:total) %>
                                    </th>
                                    <td>
                                        <%= number_to_currency @invoice.total %>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <div id="footer">
                <hr/>
                <div class="row">
                    <div class="col-md-3 left">
                        <%= @invoice.seller_name %>
                        <br/>
                        <%= @invoice.seller_address %>
                        <br/>
                        <%= @invoice.seller_country %>
                        <br/>
                        <%= "#{t('reg_no')} #{@invoice.seller_reg_no}" %>
                        <br/>
                        <%= "#{Registrar.human_attribute_name :vat_no} #{@invoice.seller_vat_no}" %>
                    </div>
                    <div class="col-md-3 left">
                        <%= @invoice.seller_phone %>
                        <br/>
                        <%= @invoice.seller_email %>
                        <br/>
                        <%= @invoice.seller_url %>
                    </div>
                    <div class="col-md-3 text-right left">
                        <%= t(:bank) %>
                        <br/>
                        <%= t(:iban) %>
                        <br/>
                        <%= t(:swift) %>
                    </div>
                    <div class="col-md-3 left">
                        <%= @invoice.seller_bank %>
                        <br/>
                        <%= @invoice.seller_iban %>
                        <br/>
                        <%= @invoice.seller_swift %>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
