<div class="row">
    <div class="col-12">
        <h1 class="mb-3 mt-4"><%= @invoice.title %></h1>
        <%= link_to t(:result_name), result_path(@invoice.result), class: "card-link mt" %>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 col-12">
        <dl class="mb-6 no-bullets invoice-card">
            <dt><%= t('invoices.issued_for') %></dt>
            <dd>
                <%= @invoice.billing_profile.name %><br>
                <%= @invoice.billing_profile.address %>
            </dd>

        <% if @invoice.issued? %>
            <%= link_to t('.change_billing_profile'), edit_invoice_path(@invoice), class: "card-link mt" %>
        <% end %>
        </dl>
    </div>

    <div class="col-lg-6 col-12 text-right">
        <dl class="mb-6 no-bullets invoice-card">
            <dt><%= t('invoices.issue_date') %></dt>
            <dd><%= @invoice.issue_date %></dd>

            <dt><%= t('invoices.due_date') %></dt>
            <dd><%= @invoice.due_date %></dd>

            <% if @invoice.paid? %>
                <dt><%= t('invoices.paid_at') %></dt>
                <dd><%= I18n.l(@invoice.paid_at) %></dd>
            <% end %>
        </dl>
    </div>

    <div class="col-12 mt-3">
        <h2><%= t('invoices.items') %></h2>
        <table class="table mb-4 mt-4" id="invoice-items-table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col"><%= t('invoices.item') %></th>
                    <th scope="col"><%= t('invoices.price') %></th>
                </tr>
            </thead>

            <tbody id="invoice-items-table-body">
                <% @invoice.items.each_with_index do |item, index| %>
                    <tr>
                        <td><%= index + 1 %></td>
                        <td><%= item.name %></td>
                        <td><%= item.price %></td>
                    </tr>
                <% end %>
            </tbody class="mb-2">

            <tfoot>
                <tr>
                    <td scope="col"></td>
                    <td scope="col"><%= t('invoices.vat_exclusive', price: @invoice.price) %></td>
                    <td scope="col"><%= t('offers.price_in_currency', price: @invoice.price) %></td>
                </tr>

                <tr>
                    <td scope="col"></td>
                    <td scope="col"><%= t('invoices.vat_rate', price: @invoice.price) %></td>
                    <td scope="col">
                        <%= number_to_percentage(@invoice.billing_profile.vat_rate * 100, precision: 0) %>
                    </td>
                </tr>
                <tr>
                    <td scope="col"></td>
                    <td scope="col"><%= t('invoices.vat_amount') %></td>
                    <td scope="col"><%= t('offers.price_in_currency', price: @invoice.vat) %></td>
                </tr>
                <tr>
                    <th scope="col"></th>
                    <th scope="col"><%= t('invoices.total') %></th>
                    <th scope="col"><%= t('offers.price_in_currency', price: @invoice.total) %></th>
                </tr>
            </tfoot>
        </table>
    </div>

    <% unless @invoice.paid? %>
        <div class="col-12">
            <h3><%= t('.pay') %></h3>

            <div class="row">
                <% PaymentOrder.supported_methods.each do |method| %>
                    <%= form_with(model: PaymentOrder, local: true,
                                  url: invoice_payment_orders_path(@invoice),
                                  id: method.config_namespace_name) do |f| %>
                        <div class="row">
                            <div class="form-group">
                                <%= f.hidden_field :user_id, value: @invoice.user_id %>
                            </div>
                            <div class="form-group">
                                <%= f.hidden_field :invoice_id, value: @invoice.id %>
                            </div>
                            <div class="form-group">
                                <%= f.hidden_field :type, value: method %>
                            </div>

                            <div class="col-12">
                                <%= f.submit t(:submit), type: :image, src: method.icon %>
                            </div>
                        </div>
                    <% end %>
                <% end %>
            </div>
        </div>
    <% end %>
</div>
