<div class="row">
    <div class="col-12">
        <h1 class="mb-3 mt-4"><%= t('.title') %></h1>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <dl class="mb-6 no-bullets invoice-card">
                    <dt><%= t('invoices.issue_date') %></dt>
                    <dd><%= @invoice.issue_date %></dd>

                    <dt><%= t('invoices.due_date') %></dt>
                    <dd><%= @invoice.due_date %></dd>

                    <dt><%= t('invoices.status') %></dt>
                    <dd><%= @invoice.status %></dd>

                    <dt><%= t('invoices.price') %></dt>
                    <dd><%= @invoice.price %></dd>

                    <dt><%= t('invoices.billing_profile') %></dt>
                    <dd>
                        <%= @invoice.billing_profile.name %><br>
                        <%= @invoice.billing_profile.address %>
                    </dd>
                </dl>

                <%= link_to t(:edit), edit_invoice_path(@invoice), class: "card-link mt" %>
                </dl>
            </div>
        </div>
    </div>
</div>
