<% content_for :hero do %>
    <div class="hero green">
        <h1><%= @invoice.title %></h1>
    </div>
<% end %>

<div class="u-container">
    <div class="margin-block">
        <div class="ui two column doubling stackable grid">
            <div class="column sixteen wide">
                <%= link_to t(:result_name), result_path(@invoice.result.uuid), class: 'ui button primary' %>
                <% if @invoice.issued? %>
                    <%= link_to t('.change_billing_profile'),
                    edit_invoice_path(@invoice.uuid), class: 'ui button primary' %>
                <% end %>

                <%= link_to t('invoices.download'), download_invoice_path(@invoice.uuid),
                            { class: 'ui button secondary', download: true } %>
            </div>
            <div class="column">
                <div class="ui list">
                    <div class="item">
                        <div class="header"><%= @invoice.recipient %></div>
                        <%= @invoice.address %>
                    </div>
                </div>
            </div>

            <div class="column right aligned">
                <div class="ui list">
                    <div class="item">
                        <div class="header"><%= t('invoices.issuer') %></div>
                        <%= Setting.find_by(code: 'invoice_issuer').retrieve %>
                    </div>

                    <div class="item">
                        <div class="header"><%= t('invoices.issue_date') %></div>
                        <%= @invoice.issue_date %>
                    </div>

                    <div class="item">
                        <div class="header"><%= t('invoices.due_date') %></div>
                        <%= @invoice.due_date %>
                    </div>

                    <% if @invoice.paid? %>
                        <div class="item">
                            <div class="header"><%= t('invoices.paid_at') %></div>
                            <%= I18n.l(@invoice.paid_at) %>
                        </div>
                    <% end %>
                </div>
            </div>

            <div class="column sixteen wide">
                <h2><%= t('invoices.items') %></h2>
                <table class="ui table" id="invoice-items-table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col"><%= t('invoices.item') %></th>
                            <th scope="col"><%= t('invoices.price') %></th>
                        </tr>
                    </thead>

                    <tbody id="invoice-items-table-body">
                        <% @invoice.items.each_with_index do |item, index| %>
                            <tr>
                                <td><%= index + 1 %></td>
                                <td><%= item.name %></td>
                                <td><%= item.price %></td>
                            </tr>
                        <% end %>
                    </tbody>

                    <tfoot>
                        <tr>
                            <td scope="col"></td>
                            <td scope="col"><%= t('invoices.vat_exclusive', price: @invoice.price) %></td>
                            <td scope="col"><%= t('offers.price_in_currency', price: @invoice.price) %></td>
                        </tr>

                        <tr>
                            <td scope="col"></td>
                            <td scope="col"><%= t('invoices.vat_rate', price: @invoice.price) %></td>
                            <td scope="col">
                                <%= number_to_percentage(@invoice.vat_rate * 100, precision: 0) %>
                            </td>
                        </tr>
                        <tr>
                            <td scope="col"></td>
                            <td scope="col"><%= t('invoices.vat_amount') %></td>
                            <td scope="col"><%= t('offers.price_in_currency', price: @invoice.vat) %></td>
                        </tr>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col"><%= t('invoices.total') %></th>
                            <th scope="col"><%= t('offers.price_in_currency', price: @invoice.total) %></th>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <% if @invoice.issued? %>
                <div class="column sixteen wide">
                    <h3><%= t('.pay') %></h3>
                    <% PaymentOrder.supported_methods.each do |method| %>
                        <%= form_with(model: PaymentOrder, local: true,
                                      url: invoice_payment_orders_path(@invoice.uuid),
                                      id: method.config_namespace_name) do |f| %>
                            <%= f.hidden_field :user_id, value: @invoice.user_id %>
                            <%= f.hidden_field :invoice_id, value: @invoice.id %>
                            <%= f.hidden_field :type, value: method %>
                            <%= f.submit t(:submit), type: :image, src: method.icon %>
                        <% end %>
                    <% end %>
                </div>
            <% end %>
        </div>
    </div>
</div>
