<% content_for :hero do %>
  <div class="hero orange">
    <h1><%= t('.title') %></h1>
  </div>
<% end %>
<div class="features-grid top narrow grey">
  <div class="ui search">
    <div class="ui massive input icon">
      <%= form_with(url: admin_bans_path, local: true, method: :get) do |f| %>
        <div class="ui input icon">
          <%= f.text_field :search_string, placeholder: t('search') %>
        </div>
        <%= f.button(class: "ui icon primary button") do %>
          <i aria-hidden="true" class="arrow right icon"></i>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="field">
    <%= link_to 'Clear', request.path, class: 'ui primary button' %>
  </div>
</div>
<div class="ui container">
  <div class="margin-block">
    <table class="ui table unstackable fixed" id="bans-table">
      <thead>
        <tr>
          <th scope="col"><%= t('user') %>
            <%= sort_link_to "", "users.surname" %>
          </th>
          <th scope="col">
            <%= t('bans.valid_from') %>
            <%= sort_link_to "", "valid_from" %>
          </th>
          <th scope="col">
            <%= t('bans.valid_until') %>
            <%= sort_link_to "", "valid_until" %>
          </th>
          <th scope="col">
            <%= t('bans.domain_name') %>
            <%= sort_link_to "", "domain_name" %>
          </th>
          <th scope="col">
            <%= t('results.invoice') %>
            <%= sort_link_to "", "invoice_id" %>
          </th>
          <th scope="col"><%= t('actions') %></th>
        </tr>
      </thead>
      <tbody id="bans-table-body">
        <% @bans.each do |ban| %>
          <tr class="bans-table-row">
            <td class="ban-table-ban-name">
              <%= link_to ban.user.display_name, admin_user_path(ban.user) %></td>
            <td><%= l(ban.valid_from) %></td>
            <td><%= l(ban.valid_until) %></td>
            <td><%= ban.domain_name %></td>
            <td>
              <% if ban.invoice_id %>
                <%= link_to t('results.invoice'), admin_invoice_path(ban.invoice_id) %>
              <% end %>
            </td>
            <td>
              <%= link_to t(:delete), admin_ban_path(ban), method: :delete,
                            data: { confirm: t(:are_you_sure) }, remote: true,
                            class: "ui button secondary" %>
              <%= link_to t(:versions_name),
                                admin_ban_versions_path(ban), class: "ui button primary" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
    <div style="margin-top:10px; text-align: center;">
      <% if @pagy.pages > 1 %>
        <div class="footer">
          <%== pagy_nav(@pagy) %>
        </div>
      <% end %>
    </div>

    <br>
    <br>
  </div>
</div>
