<%= component 'common/hero', title: t('.title')  %>
<div class="o-container">
  <div class="c-table c-table--sortable">
    <%= form_with(url: admin_bans_path, local: true, method: :get) do |f| %>
      <div class="c-table__filters" >
        <div class="c-table__filters__btns">
          <%= f.search_field :search_string, value: params[:search_string], placeholder: t('search_by_domain_name'), class: 'c-table__search__input js-table-search-dt' %>
          <%= f.button 'Search', class: "ui icon primary button" %>
        </div>
      </div>
    <% end %>
    <% header_collection = [{column: nil, caption: t('user'), options: {}},
                            { column: nil, caption: t('bans.valid_from'), options: { class: "" } },
                            { column: nil, caption: t('bans.valid_until'), options: { class: "" } },
                            { column: nil, caption: t('bans.domain_name'), options: { class: "" } },
                            { column: nil, caption: t('results.invoice'), options: { class: "" } },
                            { column: nil, caption: t('actions'), options: { class: "" } }] %>
    <%= component 'common/table', header_collection:, options: { class: 'js-table-dt dataTable no-footer' } do %>
      <%= tag.tbody class: 'contents' do %>
        <% @bans.each do |ban| %>
          <tr class="bans-table-row">
            <td class="ban-table-ban-name">
              <%= link_to ban.user.display_name, admin_user_path(ban.user) %></td>
            <td><%= l(ban.valid_from) %></td>
            <td><%= l(ban.valid_until) %></td>
            <td><%= ban.domain_name %></td>
            <td>
              <% if ban.invoice_id %>
                <%= link_to t('results.invoice'), admin_invoice_path(ban.invoice_id) %>
              <% end %>
            </td>
            <td>
              <%= link_to t(:delete), admin_ban_path(ban), method: :delete,
                            data: { confirm: t(:are_you_sure) }, target: '_top',
                            class: "ui button secondary" %>
              <%= link_to t(:versions_name),
                                admin_ban_versions_path(ban), class: "ui button primary" %>
            </td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
