<div class="text-center">
    <div class="row justify-content-center">
        <div class="col-12">
            <h1 class="mb-3 mt-4"><%= t('.title') %></h1>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12">
            <h3 class="mb-3 mt-4"><%= t('.auctions_needing_result') %></h3>
            <table class="table" id="auctions-needing-results-table">
                <thead>
                    <tr>
                        <th scope="col"><%= t('auctions.domain_name') %></th>
                        <th scope="col"><%= t('auctions.ends_at') %></th>
                    </tr>
                </thead>

                <tbody id="auctions-needing-results-table">
                    <% @auctions_needing_results.each do |auction| %>
                        <tr class="auctions-needing-results-table-row">
                            <td><%= auction.domain_name %></td>
                            <td><%= I18n.l(auction.ends_at) %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>

        <div class="col-12">
            <table class="table" id="results-table">
                <thead>
                    <tr>
                        <th scope="col"><%= t('auctions.domain_name') %></th>
                        <th scope="col"><%= t('auctions.ends_at') %></th>
                        <th scope="col"><%= t('results.final_price') %></th>
                        <th scope="col"><%= t('results.sold') %></th>
                        <th scope="col"><%= t('users.display_name') %></th>
                    </tr>
                </thead>

                <tbody id="results-table-body">
                    <% @results.each do |result| %>
                        <tr class="results-table-row">
                            <td><%= result.auction.domain_name %></td>
                            <td><%= I18n.l(result.auction.ends_at) %></td>
                            <td><%= t('offers.price_in_currency', price: result.price) %></td>
                            <td><%= result.sold %></td>
                            <td><%= result.user.display_name %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>
