<% content_for :hero do %>
    <div class="main-hero main-hero--orange">
        <h1><%= t('.title') %></h1>
    </div>
<% end %>

<div class="u-container">
    <div class="ui segment padded-block">
        <div class="grid one column">
            <% unless @auctions_needing_results.empty? %>
                <div class="column">
                    <%= form_with(url: admin_results_path) do |f| %>
                        <%= f.submit t('.create_results'), class: "ui button primary" %>
                    <% end %>
                </div>

                <div class="column">
                    <h3><%= t('.auctions_needing_result') %></h3>
                    <table class="ui table" id="auctions-needing-results-table">
                        <thead>
                            <tr>
                                <th scope="col"><%= t('auctions.domain_name') %></th>
                                <th scope="col"><%= t('auctions.ends_at') %></th>
                            </tr>
                        </thead>

                        <tbody id="auctions-needing-results-table">
                            <% @auctions_needing_results.each do |auction| %>
                                <tr class="auctions-needing-results-table-row">
                                    <td><%= auction.domain_name %></td>
                                    <td><%= I18n.l(auction.ends_at) %></td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            <% end %>

            <div class="column">
                <table class="ui table" id="results-table">
                    <thead>
                        <tr>
                            <th scope="col"><%= t('auctions.domain_name') %></th>
                            <th scope="col"><%= t('auctions.ends_at') %></th>
                            <th scope="col"><%= t('results.sold') %></th>
                            <th scope="col"><%= t('billing_profiles.name') %></th>
                        </tr>
                    </thead>

                    <tbody id="results-table-body">
                        <% @results.each do |result| %>
                            <tr class="results-table-row">
                                <td><%= link_to result.auction.domain_name, admin_result_path(result) %></td>
                                <td><%= I18n.l(result.auction.ends_at) %></td>
                                <td>
                                    <%- if result.sold? %>
                                        <%= t('yes') %>
                                    <% else %>
                                        <%= t('no') %>
                                    <% end %>
                                </td>
                                <td>
                                    <%- if result.sold? %>
                                        <%= result.offer.billing_profile&.name %>
                                    <% end %>
                                </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
