<% content_for :title, t('.title') %>

<div class="o-container">
  <div class="c-table c-table--sortable">
    <%= form_with url: admin_results_path, method: :get do |f| %>
      <div class="c-table__filters" >
        <div style='width: 60%;'>
          <%= f.search_field :domain_name, value: params[:domain_name], placeholder: t('search_by_domain_name') %>
        </div>

        <div style='display: flex; items-align: center; justify-content: space-between; width: 40%;'>
          <%= select_tag :statuses_contains, options_for_select(Result.statuses, params[:statuses_contains]), 
                          { class: 'u-bg-silver-gradient', prompt: t('admin.results.index.status'), style: 'width: 300px;' }%>
          <div>
          <%= f.button 'Search', class: 'c-btn c-btn--ghost' %>
          <%= link_to 'Clear', request.path, class: 'c-btn c-btn--red' %>
          </div>
        </div>
      </div>
    <% end %>
    <% header_collection = [{ column: '', caption: t('auctions.domain_name'), options: { class: "" } },
                            { column: '', caption: t('auctions.finished_at'), options: { class: "" } }] %>
    <div style='display: flex; justify-content: space-between; align-items: center; margin-top: 2rem; padding: 10px;'>
      <h2><%= t('.auctions_needing_result') %></h2>
      <%= form_with(url: admin_results_path) do |f| %>
        <%= f.submit t('.create_results'), class: "c-btn c-btn--blue", data: { turbo: false } %>
      <% end %>
    </div>
    <%= component 'common/table', header_collection:, options: { class: 'js-table-dt' } do %>
      <%= tag.tbody class: 'contents' do %>
        <% @auctions_needing_results.each do |auction| %>
          <tr class="auctions-needing-results-table-row">
            <td class="monospace"><%= auction.domain_name %></td>
            <td><%= I18n.l(auction.ends_at) %></td>
          </tr>
        <% end %>
      <% end %>
    <% end %>

    <% result_header_collection = [{ column: '', caption: t('auctions.domain_name'), options: { class: "" } },
                                   { column: '', caption: t('auctions.finished_at'), options: { class: "" } },
                                   { column: '', caption: t('results.registration_due_date'), options: { class: "" } },
                                   { column: '', caption: t('status'), options: { class: "" } },
                                   { column: '', caption: t('billing_profiles.name'), options: { class: "" } }] %>
    <div style='display: flex; justify-content: space-between; align-items: center; margin-top: 2rem; padding: 10px;'>
      <h2><%= t('.results') %></h2>
    </div>
    <%= component 'common/table', header_collection: result_header_collection, options: { class: 'js-table-dt' } do %>
      <%= tag.tbody class: 'contents' do %>
        <% @results.each do |result| %>
          <tr class="results-table-row">
            <td class="monospace">
              <%= link_to result.auction.domain_name, admin_result_path(result) %>
            </td>
            <td><%= I18n.l(result.auction.ends_at) %></td>
            <td><%= I18n.l(result.registration_due_date) %></td>
            <td><%= result.status.humanize %></td>
            <td>
              <%- unless result.no_bids? %>
                <%- unless result.offer.nil? %>
                  <%= result.offer.billing_profile&.name %>
                <% end %>
              <% end %>
            </td>
            <td></td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
