<% content_for :hero do %>
    <div class="hero orange">
        <h1><%= t('.title') %></h1>
    </div>
<% end %>

<div class="features-grid top narrow grey ">
        <div class="ui input">
          <%= render 'search_form', action: 'index' %>
        </div>
</div>

<div class="u-container">
    <div class="margin-block">
        <div class="grid one column">
            <% unless @auctions_needing_results.empty? %>
                <div class="column">
                    <%= form_with(url: admin_results_path) do |f| %>
                        <%= f.submit t('.create_results'), class: "ui button primary" %>
                    <% end %>
                </div>

                <div class="column">
                    <h3><%= t('.auctions_needing_result') %></h3>
                    <table class="ui table" id="auctions-needing-results-table">
                        <thead>
                            <tr>
                                <th scope="col"><%= t('auctions.domain_name') %></th>
                                <th scope="col"><%= t('auctions.finished_at') %></th>
                            </tr>
                        </thead>

                        <tbody id="auctions-needing-results-table">
                            <% @auctions_needing_results.each do |auction| %>
                                <tr class="auctions-needing-results-table-row">
                                    <td class="monospace"><%= auction.domain_name %></td>
                                    <td><%= I18n.l(auction.ends_at) %></td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            <% end %>

            <div class="column">
                <%= render 'results_table' %>
            </div>

            <%= paginate @results %>
        </div>
    </div>
</div>
