<% content_for :hero do %>
    <div class="hero orange">
        <h1><%= t('.title') %></h1>
    </div>
<% end %>

<div class="features-grid top narrow grey">
    <div class="ui search">
        <div class="ui massive input icon">
            <%= form_with(url: search_admin_results_path, local: true, method: :get) do |f| %>
                <div class="ui input icon">
                    <%= f.text_field :domain_name, placeholder: t('search_by_domain_name') %>
                </div>

                <%= f.button(class: "ui icon primary button") do %>
                    <i aria-hidden="true" class="arrow right icon"></i>
                <% end %>
            <% end %>
        </div>
    </div>
</div>

<div class="u-container">
    <div class="margin-block">
        <div class="grid one column">
            <% unless @auctions_needing_results.empty? %>
                <div class="column">
                    <%= form_with(url: admin_results_path) do |f| %>
                        <%= f.submit t('.create_results'), class: "ui button primary" %>
                    <% end %>
                </div>

                <div class="column">
                    <h3><%= t('.auctions_needing_result') %></h3>
                    <table class="ui table" id="auctions-needing-results-table">
                        <thead>
                            <tr>
                                <th scope="col"><%= t('auctions.domain_name') %></th>
                                <th scope="col"><%= t('auctions.finished_at') %></th>
                            </tr>
                        </thead>

                        <tbody id="auctions-needing-results-table">
                            <% @auctions_needing_results.each do |auction| %>
                                <tr class="auctions-needing-results-table-row">
                                    <td class="monospace"><%= auction.domain_name %></td>
                                    <td><%= I18n.l(auction.ends_at) %></td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            <% end %>

            <div class="column">
                <table class="ui table" id="results-table">
                    <thead>
                        <tr>
                            <th scope="col">
                                <%= t('auctions.domain_name') %>
                                <%= order_buttons('auctions.domain_name') %>
                            </th>
                            <th scope="col">
                                <%= t('auctions.finished_at') %>
                                <%= order_buttons('auctions.ends_at') %>
                            </th>
                            <th scope="col">
                                <%= t('results.registration_due_date') %>
                                <%= order_buttons('results.registration_due_date') %>
                            </th>
                            <th scope="col">
                                <%= t('status') %>
                                <%= order_buttons('results.status') %>
                            </th>
                            <th scope="col">
                                <%= t('billing_profiles.name') %>
                                <%= order_buttons('users.id') %>
                            </th>
                            <th scope="col"><%= clear_order_button %></th>
                        </tr>
                    </thead>

                    <tbody id="results-table-body">
                        <% @results.each do |result| %>
                            <tr class="results-table-row">
                                <td class="monospace">
                                    <%= link_to result.auction.domain_name, admin_result_path(result) %>
                                </td>
                                <td><%= I18n.l(result.auction.ends_at) %></td>
                                <td><%= I18n.l(result.registration_due_date) %></td>
                                <td><%= result.status.humanize %></td>
                                <td>
                                    <%- unless result.no_bids? %>
                                        <%= result.offer.billing_profile&.name %>
                                    <% end %>
                                </td>
                                <td></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>

            <%= paginate @results %>
        </div>
    </div>
</div>
