<% content_for :hero do %>
    <div class="hero orange">
        <h1><%= t('.title') %></h1>
    </div>
<% end %>

<div class="features-grid top narrow grey ">
        <div class="ui input">
            <%= form_with(url: search_admin_results_path, local: true, method: :get, class: 'ui big form') do |f| %>
            <div class="inline fields">
                <div class="field">
                    <%= f.text_field :domain_name, placeholder: t('search_by_domain_name') %>
                </div>
                <div class="field">
                    <%= select_tag :statuses_contains,
                    options_for_select(Result.statuses, params[:statuses_contains]), 
                    { multiple: true, class: 'ui selection dropdown', prompt: 'Select status' } %> 
                </div>

                <div class="field">
                <%= f.button(class: "ui fluid large teal submit button") do %>
                    <i aria-hidden="true" class="arrow right icon"></i>
                <% end %>
                </div>
                </div>
            <% end %>
        </div>
</div>

<div class="u-container">
    <div class="margin-block">
        <div class="column">
            <table class="ui table" id="results-table">
                <thead>
                    <tr>
                        <th scope="col">
                            <%= t('auctions.domain_name') %>
                            <%= order_buttons('auctions.domain_name', origin: @origin) %>
                        </th>
                        <th scope="col">
                            <%= t('auctions.finished_at') %>
                            <%= order_buttons('auctions.ends_at', origin: @origin) %>
                        </th>
                        <th scope="col">
                            <%= t('results.registration_due_date') %>
                            <%= order_buttons('results.registration_due_date', origin: @origin) %>
                        </th>
                        <th scope="col">
                            <%= t('status') %>
                            <%= order_buttons('results.status', origin: @origin) %>
                        </th>
                        <th scope="col">
                            <%= t('billing_profiles.name') %>
                            <%= order_buttons('invoices.recipient', origin: @origin) %>
                        </th>
                        <th scope="col"><%= clear_order_button %></th>
                    </tr>
                </thead>

                <tbody id="results-table-body">
                    <% @results.each do |result| %>
                        <tr class="results-table-row">
                            <td class="monospace"><%= link_to result.auction.domain_name, admin_result_path(result) %></td>
                            <td><%= I18n.l(result.auction.ends_at) %></td>
                            <td><%= I18n.l(result.registration_due_date) %></td>
                            <td><%= result.status.humanize %></td>
                            <td>
                                <%- unless result.no_bids? %>
                                    <%- unless result.offer.nil? %>
                                        <%= result.offer.billing_profile&.name %>
                                    <% end %>
                                <% end %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>

        <h4><%= t('search_limit', limit: Kaminari.config.default_per_page) %></h4>
    </div>
</div>
