<div class="row">
    <div class="col-12">
        <h1 class="mb-3 mt-4"><%= t('.title') %></h1>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <dl>
                    <dt><%= t('auctions.domain_name') %></dt>
                    <dd><%= @result.auction.domain_name %></dd>

                    <dt><%= t('results.sold') %></dt>
                    <dd>
                        <%- if @result.sold? %>
                            <%= t('yes') %>
                        <% else %>
                            <%= t('no') %>
                        <% end %>
                    </dd>

                    <dt><%= t('auctions.ends_at') %></dt>
                    <dd><%= I18n.l(@result.auction.ends_at) %></dd>

                    <dt><%= t('results.final_price') %></dt>
                    <td><%= t('offers.price_in_currency', price: @result.price) %></td>

                    <%- if @result.sold? %>
                        <dt><%= t('results.buyer') %></dt>
                        <td><%= @result.user&.display_name %></td>
                    <% end %>
                </dl>

                <%= link_to t(:versions_name), admin_result_versions_path(@result),
                            class: "card-link mt" %>
            </div>
        </div>
    </div>
</div>

<% if @offers.any? %>
    <div class="row mt-4">
        <div class="col-12">
            <h2><%= t(:offers_name) %></h2>
            <table class="table" id="result-offers-table">
                <thead>
                    <tr>
                        <th scope="col"><%= t('offers.price') %></th>
                        <th scope="col"><%= t('users.display_name') %></th>
                        <th scope="col"><%= t(:created_at) %></th>
                        <th scope="col"><%= t(:updated_at) %></th>
                        <th scope="col"><%= t(:versions_name)%> </th>
                    </tr>

                    <tbody id="offers-table-body">
                        <% @offers.each do |offer| %>
                            <tr class="offers-table-row">
                                <td><%= t('offers.price_in_currency', price: offer.price) %></td>
                                <td><%= offer.user.display_name %></td>
                                <td><%= I18n.l(offer.user.created_at) %></td>
                                <td><%= I18n.l(offer.user.updated_at) %></td>
                                <td><%= link_to t(:versions_name), admin_offer_versions_path(offer) %></td>
                            </tr>
                        <% end %>
                    </tbody>
            </table>
        </div>
    </div>
<% end %>
