<% content_for :hero do %>
    <div class="hero orange">
        <h1><%= t('.title') %></h1>
        <%= @result.auction.domain_name %>
    </div>
<% end %>

<div class="u-container">
    <div class="margin-block">
        <div class="content">
            <div class="ui list">
                <div class="item">
                    <div class="header"><%= t('results.sold') %></div>
                    <%- if @result.no_bids? %>
                        <%= t('no') %>
                    <% else %>
                        <%= t('yes') %>
                    <% end %>
                </div>

                <div class="item">
                    <div class="header"><%= t('auctions.ends_at') %></div>
                    <%= I18n.l(@result.auction.ends_at) %>
                </div>



                <%- unless @result.no_bids? %>
                    <div class="item">
                        <div class="header"><%= t('results.buyer') %></div>
                        <%= @result.offer.billing_profile.name %>
                    </div>
                <% end %>
                </dl>

                <%= link_to t(:versions_name), admin_result_versions_path(@result),
                class: "ui button primary" %>
            </div>
        </div>

        <% if @offers.any? %>
            <h2><%= t(:offers_name) %></h2>
            <table class="ui table" id="result-offers-table">
                <thead>
                    <tr>
                        <th scope="col"><%= t('offers.price') %></th>
                        <th scope="col"><%= t('billing_profiles.name') %></th>
                        <th scope="col"><%= t(:created_at) %></th>
                        <th scope="col"><%= t(:updated_at) %></th>
                        <th scope="col"><%= t(:versions_name)%> </th>
                    </tr>

                    <tbody id="offers-table-body">
                        <% @offers.each do |offer| %>
                            <tr class="offers-table-row">
                                <td><%= t('offers.price_in_currency', price: offer.price) %></td>
                                <td><%= offer.billing_profile.name %></td>
                                <td><%= I18n.l(offer.created_at) %></td>
                                <td><%= I18n.l(offer.updated_at) %></td>
                                <td><%= link_to t(:versions_name), admin_offer_versions_path(offer) %></td>
                            </tr>
                        <% end %>
                    </tbody>
            </table>
        <% end %>
    </div>
</div>
