<div class="c-modal-overlay js-modal-delete" data-modals--offer-modal-target='modal'>
    <div class="c-modal c-modal--error c-modal--sm">
        <div class="c-modal__header">
            <div class="c-modal__header__title">
                <span class="o-delete-icon--red"></span>
                <span><%= t('offers.delete_title') %></span>
            </div>
            <div class="c-modal__header__subject">
                <span class="c-modal__header__subject__title"><%= @offer.auction.domain_name %></span>
                <span class="o-po-icon o-io-icon--bg-orange"></span>
            </div>
        </div>
        <div class="c-modal__main">
            <p><%= t(:are_you_sure) %></p>
        </div>
        <div class="c-modal__footer">
            <div class="c-modal__footer__col">
                <button class="c-btn c-btn--ghost js-close-modal" data-action='modals--offer-modal#close'><%= t('close') %></button>
            </div>
            <div class="c-modal__footer__col">
                <%= button_to t(:delete), offer_path(@offer.uuid), method: :delete, data: { turbo: false }, target: '_top', class: "c-btn c-btn--red js-close-modal" %>
            </div>
        </div>
    </div>
</div>
