<% content_for :hero do %>
    <div class="main-hero main-hero--orange">
        <h1><%= t('.title') %></h1>
    </div>
<% end %>

<div class="u-container">
    <div class="ui segment padded-block">
        <%= link_to t(:back), :back, class: "ui button primary" %>
        <table class="ui table" class="items-table">
            <thead>
                <th scope="col"><%= t('versions.recorded_at') %></th>
                <th scope="col"><%= t('versions.action') %></th>
                <th scope="col"><%= t('versions.new_values') %></th>
            </thead>
            <tbody class="items-table-body">
                <% @items.each do |item| %>
                    <tr class="items-table-row">
                        <td><%= I18n.l(item.recorded_at) %></td>
                        <td><%= item.action %></td>
                        <td><% item.diff.each do |key, value| %>
                            <h3 class="header"><%= key.humanize %></h3>
                            <p><%= value %></p>
                        <% end %>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
