<tr id="<%= dom_id(auction) %>" data-platform="<%= auction.platform %>" class="contents">
  
  <% english_auction_presenter = EnglishBidsPresenter.new(auction) %>

  <td><%= auction.domain_name %></td>
  
  <td><%= component 'common/auction_type_icon', auction: auction %></td>

  <td>25-01-2023 | 23:59:59</td>

  <td>
    <% if auction.english? %>
      <span class="initial-color current_<%= auction.currently_winning_offer&.user_id %>_user"><%= english_auction_presenter.maximum_bids %> €</span>
    <% else %>
      <%= auction.users_price %> €
    <% end %>
  </td>

  <% if auction.english? %>
    <td class="initial-color current_<%= auction.currently_winning_offer&.user_id %>_user">
      <%= english_auction_presenter.bidder_name(auction.currently_winning_offer, user) %>
    </td>
  <% else %>
    <td>
      <% if auction.users_offer_uuid %>
        <strong>Sinu pakkumus</strong>
      <% end %>
    </td>
  <% end %>

  <td class="u-text-left u-text-center-l">
    <% if user %>      
      <% if auction.english? %>

        <% if auction.users_offer_uuid || updated %>
          <div class="c-btn-group c-btn-group--ghost">
            <%= link_to edit_english_offer_path(auction.users_offer_uuid), class: "c-btn c-btn--ghost c-btn--icon", title: "Edit", data: { turbo_frame: 'modal' } do %>
              <span class="o-edit-icon"></span>
            <% end %>
          </div>
        <% else %>
          <% if auction.allow_to_set_bid?(user) %>
            <%= link_to 'Esita pakkumus', new_auction_english_offer_path(auction_uuid: auction.uuid), class: "c-btn c-btn--green js-modal-toggle", data: { turbo_frame: 'modal' } %>
          <% else %>
            <%= link_to 'Deposit', new_auction_english_offer_path(auction_uuid: auction.uuid), class: "c-btn c-btn--orange js-modal-toggle", data: { turbo_frame: 'modal' } %>
          <% end %>
        <% end %>

      <% else %>

        <% if auction.users_offer_uuid || updated %>
          <div class="c-btn-group c-btn-group--ghost">
            <%= link_to edit_offer_path(auction.users_offer_uuid), class: "c-btn c-btn--ghost c-btn--icon", title: "Edit", data: { turbo_frame: 'modal' } do %>
              <span class="o-edit-icon"></span>
            <% end %>

            <%= button_to offer_path(auction.offer_from_user(user).uuid), method: :delete, form: { data: { turbo_confirm: t(".confirm_delete") } }, class: "c-btn c-btn--ghost c-btn--icon" do %>
              <span class="o-delete-icon"></span>
            <% end %>

              <%# <button class="c-btn c-btn--ghost c-btn--icon js-edit-modal-toggle" title="Edit"><span %>
                      <%# class="o-edit-icon"></span></button> %>
              <%# <button class="c-btn c-btn--ghost c-btn--icon js-modal-delete-toggle" title="Delete"><span %>
                      <%# class="o-delete-icon"></span></button> %>
          </div>
        <% else %>
          <%= link_to 'Esita pakkumus', new_auction_offer_path(auction_uuid: auction.uuid), class: "c-btn c-btn--green js-modal-toggle-po", data: { turbo_frame: 'modal' } %>
          <%# <td class="u-text-left u-text-center-l"><a href="#" class="c-btn c-btn--green">Esita pakkumus</a></td> %>
        <% end %>

      <% end %>
    <% else %>
      <%= link_to 'Esita pakkumus', new_user_session_path, class: "c-btn c-btn--green js-modal-toggle-po", target: '_top' %>
    <% end %>
  </td>
</tr>
