
<tr class="auctions-table-row contents" id="<%= dom_id(auction) %>" data-platform="<%= auction.platform %>" data-controller="auction-timezone" data-auction-timezone-end-time-value="<%= auction.ends_at.iso8601 %>">
    <% english_auction_presenter = EnglishBidsPresenter.new(auction) %>
    <td class="auction-domain-name monospace">
        <%= link_to auction_path(auction.uuid), target: '_top' do %>
            <%= domain_name_with_embedded_colors(auction.domain_name) %>
        <% end %>
      </td>

  <td class="u-text-left u-text-center-l">
    <% if auction.english? %>

      <% if auction.users_offer_uuid %>
        <div class="c-btn-group c-btn-group--ghost">
          <%= link_to edit_english_offer_path(auction.users_offer_uuid), class: "c-btn c-btn--ghost c-btn--icon", title: "Edit", data: { turbo_frame: 'modal' } do %>
             <span class="o-edit-icon"></span>
          <% end %>
        </div>
      <% else %>
        <%= link_to 'Esita pakkumus', new_auction_english_offer_path(auction_uuid: auction.uuid), class: "c-btn c-btn--green js-modal-toggle", data: { turbo_frame: 'modal' } %>
        <%# <button class="c-btn c-btn--green js-modal-toggle">Esita pakkumus</button> %>
      <% end %>

    <% else %>

      <% if auction.users_offer_uuid %>
        <div class="c-btn-group c-btn-group--ghost">
          <%= link_to edit_offer_path(auction.users_offer_uuid), class: "c-btn c-btn--ghost c-btn--icon", title: "Edit", data: { turbo_frame: 'modal' } do %>
            <span class="o-edit-icon"></span>
          <% end %>

          <%= link_to '#', class: "c-btn c-btn--ghost c-btn--icon", title: "Delete", data: { turbo_frame: 'modal' } do %>
            <span class="o-delete-icon"></span>
          <% end %>
            <%# <button class="c-btn c-btn--ghost c-btn--icon js-edit-modal-toggle" title="Edit"><span %>
                    <%# class="o-edit-icon"></span></button> %>
            <%# <button class="c-btn c-btn--ghost c-btn--icon js-modal-delete-toggle" title="Delete"><span %>
                    <%# class="o-delete-icon"></span></button> %>
        </div>
      <% else %>
        <%= link_to 'Esita pakkumus', new_auction_offer_path(auction_uuid: auction.uuid), class: "c-btn c-btn--green js-modal-toggle-po", data: { turbo_frame: 'modal' } %>
        <%# <td class="u-text-left u-text-center-l"><a href="#" class="c-btn c-btn--green">Esita pakkumus</a></td> %>
      <% end %>

    <% end %>
  </td>
</tr>
