<tr class="auctions-table-row contents" id="<%= dom_id(auction) %>">
<% english_auction_presenter = EnglishBidsPresenter.new(auction) %>
  <td class="auction-domain-name monospace">
    <%= link_to auction_path(auction.uuid) do %>
      <%= domain_name_with_embedded_colors(auction.domain_name) %>
    <% end %>
  </td>
  <td>
    <span class="auctions-table-mobile-infotainment"><%= t('auctions.ends_at') %> </span><%= I18n.l(auction.ends_at) %>
  </td>
  <td><span class="auctions-table-mobile-infotainment"><%= t('auctions.auction_type') %> </span><%= auction.platform %></td>
  <td><span class="auctions-table-mobile-infotainment">
      <% if auction.platform == 'blind' || auction.platform.nil? %>
        <%= t('auctions.your_current_price') %>: </span><%= auction.users_price %>
    <% else %>
      <%= t('auctions.your_current_price') %>:</span>
      <span class="initial-color current_<%= auction.currently_winning_offer&.user&.id %>_user"><%= english_auction_presenter.maximum_bids %></span>
  <% end %>
</td>
<td class="initial-color current_<%= auction.currently_winning_offer&.user&.id %>_user">
  <%= auction&.currently_winning_offer&.user&.display_name %>
</td>
<td class="center aligned">
  <% if auction.platform == 'blind' || auction.platform.nil? %>
    <%- if auction.users_offer_uuid %>
      <%= link_to t('auctions.edit_your_offer'),edit_offer_path(auction.users_offer_uuid),class: "ui button blue" %>
      <%= link_to t('auctions.delete_your_offer'),offer_path(auction.users_offer_uuid),method: :delete, data: { confirm: t(:are_you_sure) }, class: "ui button red "%>
    <% else %>
      <%= link_to t('auctions.submit_offer'), new_auction_offer_path(auction_uuid: auction.uuid), class: "ui button secondary" %>
    <% end %>
  <% else %>
    <%- if auction.users_offer_uuid %>
      <%= link_to "Bid!", edit_english_offer_path(auction.users_offer_uuid), class: "ui button blue" %>
    <% else %>
      <%= link_to "Bid!", new_auction_english_offer_path(auction_uuid: auction.uuid), class: "ui button blue" %>
    <% end %>
  <% end %>
</td>
</tr>
