<tr id="<%= dom_id(auction) %>" data-platform="<%= auction.platform %>" class="contents" 
    data-controller="auction-timezone" data-auction-timezone-end-time-value="<%= auction.ends_at&.iso8601 %>">
  
  <% english_auction_presenter = EnglishBidsPresenter.new(auction) %>

  <td><h3><%= auction.domain_name %></h3></td>
  
  <td><%= component 'common/auction_type_icon', auction: auction %></td>

  <td><span data-auction-timezone-target="endtime"><%= auction.ends_at %></span></td>

  <td>
    <% if auction.english? %>
      <span class="initial-color current_<%= auction.currently_winning_offer&.user_id %>_user"><%= english_auction_presenter.maximum_bids %> €</span>
    <% else %>
      <%= auction.users_price %> €
    <% end %>
  </td>

  <% if auction.english? %>
    <td class="initial-color current_<%= auction.currently_winning_offer&.user_id %>_user">
      <%= english_auction_presenter.bidder_name(auction.currently_winning_offer, user) %>
    </td>
  <% else %>
    <td><%= tag.strong t('auctions.you') if auction.users_offer_uuid %></td>
  <% end %>

  <td class="u-text-left u-text-center-l">
    <% if user %>
      <%= component 'pages/auction/auction_action_button', user: user, auction: auction, updated: updated %>
    <% else %>
      <%= component 'common/links/link_button', link_title: t('auctions.bid'), href: new_user_session_path, color: 'green', options: { target: '_top' } %>
    <% end %>
  </td>
</tr>
