<tr class="auctions-table-row contents" id="<%= dom_id(auction) %>">
<% english_auction_presenter = EnglishBidsPresenter.new(auction) %>
  <td class="auction-domain-name monospace">
    <%= link_to auction_path(auction.uuid) do %>
      <%= domain_name_with_embedded_colors(auction.domain_name) %>
    <% end %>
  </td>
  <td>
    <span class="auctions-table-mobile-infotainment"><%= t('auctions.ends_at') %> </span><%= I18n.l(auction.ends_at) %>
  </td>
  <td><span class="auctions-table-mobile-infotainment"><%= t('auctions.auction_type') %> </span><%= auction.platform %></td>
  <td><span class="auctions-table-mobile-infotainment">
      <% if auction.platform == 'blind' || auction.platform.nil? %>
        <%= t('auctions.your_current_price') %>: </span><%= auction.users_price %>
    <% else %>
      <%= t('auctions.your_current_price') %>:</span>
      <span class="initial-color current_<%= auction.currently_winning_offer&.user&.id %>_user"><%= english_auction_presenter.maximum_bids %></span>
  <% end %>
</td>
<td class="initial-color current_<%= auction.currently_winning_offer&.user&.id %>_user">
  <%= auction&.currently_winning_offer&.username %>
</td>
<td class="center aligned">
  <%= auction.auction_offer_button(current_user) %>
</td>
</tr>
