<% domain_classification = local_assigns[:domain_classification] %>
<tr id="<%= dom_id(auction) %>" data-platform="<%= auction.platform %>" class="contents"
    data-controller="auction-timezone<%= user ? ' recommendation-dwell' : '' %>"
    data-auction-timezone-end-time-value="<%= auction.ends_at&.iso8601 %>"
    <% if user %>
      data-recommendation-dwell-auction-uuid-value="<%= auction.uuid %>"
      data-recommendation-dwell-source-value="auctions#index"
      data-recommendation-dwell-event-type-value="auction_detail_view"
      data-recommendation-dwell-dwell-ms-value="1500"
    <% end %>>

  <% english_auction_presenter = EnglishBidsPresenter.new(auction) %>

  <td>
    <h3 data-controller="slashed-zero"><%= auction.domain_name %></h3>
    <% if domain_classification&.keywords.present? %>
      <div class="c-auction__domain-keywords">
        <% domain_classification.keywords.first(4).each do |keyword| %>
          <span class="c-badge c-badge--blue c-auction__domain-keyword"><%= keyword %></span>
        <% end %>
      </div>
    <% end %>
  </td>

  <td><%= component 'common/auction_type_icon', auction: auction %></td>

  <td><span data-auction-timezone-target="endtime"><%= auction.ends_at&.strftime('%d/%m/%Y %H:%M') %></span></td>

  <td>
    <% if auction.english? %>
      <span class="initial-color current_<%= auction.currently_winning_offer&.user_id %>_user" data-controller="slashed-zero"><%= english_auction_presenter.maximum_bids %> €</span>
    <% else %>
      <span data-controller="slashed-zero"><%= auction.users_price.zero? ? '' : "#{auction.users_price} €" %></span>
    <% end %>
  </td>

  <% if auction.english? %>
    <td class="initial-color current_<%= auction.currently_winning_offer&.user_id %>_user">
      <%= english_auction_presenter.bidder_name(auction.currently_winning_offer, user) %>
    </td>
  <% else %>
    <td><%= tag.strong t('auctions.you') if auction.users_offer_uuid %></td>
  <% end if false %> <!-- Temprorary turn off because we not provide english auction at the moment! -->

  <td class="u-text-left u-text-center-l">
    <% if user %>
      <%= component 'pages/auction/auction_action_button', user: user, auction: auction, updated: updated %>
    <% else %>
      <%= component 'common/links/link_button', link_title: t('auctions.bid'), href: new_user_session_path, color: 'green', options: { target: '_top' } %>
    <% end %>
  </td>
</tr>
