<div class="features-grid bottom grey">
    <div class="u-container">
        <h2><%= t('.title') %></h2>
        <div class="items">
            <div class="item">
                <h4 class="ui icon header">
                    <i class="gavel icon"></i>
                    <div class="content">
                        <%= t('.1_step_header') %>
                        <div class="sub header"><%= t('.1_step_explanation') %></div>
                    </div>
                </h4>
            </div>
            <div class="item">
                <h4 class="ui icon header">
                    <i class="trophy icon"></i>
                    <div class="content">
                        <%= t('.2_step_header') %>
                        <div class="sub header"><%= t('.2_step_explanation') %></div>
                    </div>
                </h4>
            </div>
            <div class="item">
                <h4 class="ui icon header">
                    <i class="icon pencil"></i>
                    <div class="content">
                        <%= t('.3_step_header') %>
                        <div class="sub header"><%= t('.3_step_explanation') %></div>
                    </div>
                </h4>
            </div>
            <div class="item">
                <h4 class="ui icon header">
                    <i class="icon times circle"></i>
                    <div class="content">
                        <%= t('.4_step_header') %>
                        <div class="sub header"><%= t('.4_step_explanation') %></div>
                    </div>
                </h4>
            </div>
        </div>
    </div>
</div>
