<div class="text-center">
    <div class="row">
        <div class="col-12">
            <h1 class="display-4"><%= application_name %></h1>
        </div>
    </div>
    <div class="row">
        <%- unless signed_in? %>
            <div class="col-12 col-lg-6">
                <p><%= link_to t(:sign_in), new_user_session_path, class: "btn btn-secondary" %></p>
            </div>
            <div class="col-12 col-lg-6">
                <p><%= link_to t('users.index.create_an_account'), new_user_path, class: "btn btn-primary" %></p>
            </div>
        <%- end %>
    </div>

    <div class="row justify-content-center">
        <div class="col-12">
            <h1 class="mb-3 mt-4"><%= t('.title') %></h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12">
            <table class="table" id="auctions-table">
                <thead>
                    <tr>
                        <th scope="col"><%= t('auctions.domain_name') %></th>
                        <th scope="col"><%= t('auctions.ends_at') %></th>
                        <th scope="col"><%= t('auctions.submit_offer') %></th>
                    </tr>
                </thead>

                <tbody id="auctions-table-body">
                    <% @auctions.each do |auction| %>
                        <tr class="auctions-table-row">
                            <td class="auction-domain-name">
                                <%= link_to auction.domain_name, auction_path(auction) %>
                            </td>
                            <td><%= I18n.l(auction.ends_at) %></td>
                            <td class="auction-domain-name">
                                <%= link_to t('auctions.submit_offer'),
                                            new_auction_offer_path(auction_id: auction.id) %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>
