<% content_for :hero do %>
    <div class="hero green">
        <h1><%= t('.title') %></h1>
    </div>
<% end %>

<%= render 'top_grid' %>

<div class="features-grid top narrow grey">
    <div class="ui search">
        <div class="ui massive input icon">
            <%= form_with(url: search_auctions_path, local: true, method: :get) do |f| %>
                <div class="ui input icon">
                    <%= f.text_field :domain_name, placeholder: t('search_by_domain_name') %>
                </div>

                <%= f.button(class: "ui icon primary button") do %>
                    <i aria-hidden="true" class="arrow right icon"></i>
                <% end %>
            <% end %>
        </div>
    </div>
</div>

<div class="u-container">
    <div class="margin-block narrow">
        <div class="grid one column">
            <div class="column">
                <table class="ui table selectable unstackable fixed" id="auctions-table">
                    <thead>
                        <tr>
                            <th scope="col"><%= t('auctions.domain_name') %></th>
                            <th scope="col"><%= t('auctions.ends_at') %></th>
                            <th scope="col"><%= t('auctions.your_current_price') %></th>
                            <th scope="col"><%= t('auctions.offer_actions') %></th>
                        </tr>
                    </thead>

                    <tbody id="auctions-table-body">
                        <% @auctions.each do |auction| %>
                            <tr class="auctions-table-row">
                                <td class="auction-domain-name">
                                    <%= link_to auction.domain_name, auction_path(auction.uuid) %>
                                </td>
                                <td><%= I18n.l(auction.ends_at) %></td>
                                <td><%= auction.current_price_from_user(current_user) %></td>
                                <td>
                                    <%- if auction.offer_from_user(current_user) %>
                                        <%= link_to t('auctions.edit_your_offer'),
                                        edit_offer_path(auction.offer_from_user(current_user).uuid) %>
                                    <% else %>
                                        <%= link_to t('auctions.submit_offer'),
                                        new_auction_offer_path(auction_uuid: auction.uuid) %>
                                    <% end %>
                                </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>

            <div class="column">
                <%= paginate @auctions %>
            </div>
        </div>
    </div>
</div>
