<% content_for :hero do %>
    <div class="hero green">
        <h1><%= t('.title') %></h1>
    </div>
<% end %>

<%= render 'top_grid' %>

<div class="features-grid top narrow grey">
    <div class="ui search">
        <div class="ui massive input icon">
            <%= form_with(url: search_auctions_path, local: true, method: :get) do |f| %>
                <div class="ui input icon">
                    <%= f.text_field :domain_name, placeholder: t('search_by_domain_name') %>
                </div>

                <%= f.button(class: "ui icon primary button") do %>
                    <i aria-hidden="true" class="arrow right icon"></i>
                <% end %>
            <% end %>
        </div>
            <%= daily_summary_link %>
    </div>
</div>

<div class="u-container">
    <div class="margin-block narrow">
        <div class="grid one column">
            <div class="column">
                <table class="ui table selectable celled center aligned" id="auctions-table">
                    <thead>
                        <tr>
                            <th>
                                <%= t('auctions.domain_name') %>
                                <%= order_buttons('participant_auction_decorators.domain_name') %>
                            </th>
                            <th>
                                <%= t('auctions.ends_at') %>
                                <%= order_buttons('participant_auction_decorators.ends_at') %>
                            </th>
                            <th class="auctions-table-cell-name-no-mobile">
                                <%= t('auctions.your_current_price') %>
                                <%= order_buttons('participant_auction_decorators.users_offer_cents') %>
                            </th>
                            <th class="auctions-table-cell-name-no-mobile center aligned five wide"><%= t('auctions.offer_actions') %></th>
                        </tr>
                    </thead>

                    <tbody id="auctions-table-body">
                        <% @auctions.each do |auction| %>
                            <tr class="auctions-table-row">
                                <td class="auction-domain-name monospace">
                                    <%= link_to auction_path(auction.uuid) do %>
                                        <%= domain_name_with_embedded_colors(auction.domain_name) %>
                                    <% end %>
                                </td>
                                <td><span class="auctions-table-mobile-infotainment"><%= t('auctions.ends_at') %> </span><%= I18n.l(auction.ends_at) %></td>
                                <td><span class="auctions-table-mobile-infotainment"><%= t('auctions.your_current_price') %>: </span><%= auction.users_price %></td>
                                <td class="center aligned">
                                    <%- if auction.users_offer_uuid %>
                                        <%= link_to t('auctions.edit_your_offer'),
                                         edit_offer_path(auction.users_offer_uuid),
                                         class: "ui button secondary" %>
                                         <%= link_to t('auctions.delete_your_offer'), 
                                        offer_path(auction.users_offer_uuid),
                                        method: :delete, data: { confirm: t(:are_you_sure) }, class: "ui button red "%>
                                    <% else %>
                                        <%= link_to t('auctions.submit_offer'),
                                         new_auction_offer_path(auction_uuid: auction.uuid),
                                         class: "ui button secondary" %>
                                    <% end %>
                                </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>

            <div class="column">
                <%= paginate @collection %>
            </div>
        </div>
    </div>
</div>
