<%= component 'common/hero', title: 'Oksjonikeskkond' %>
<%= turbo_stream_from 'auctions' %>
<!-- Cards -->
<%= component 'pages/auction/cards' %>
<!-- Cards -->
<!-- Table -- Sortable -->
<div class="o-container">
  <div class="c-table c-table--sortable" data-controller="english-offers" 
    data-action="turbo:before-stream-render@document->english-offers#beforeStreamRender"
    data-english-offers-user-id-value="<%= current_user&.id %>"
    data-english-offers-bid-text-value="<%= t('auctions.bid') %>"
    data-english-offers-participate-text-value="<%= t('auctions.participate') %>"
    data-english-offers-english-text-value="<%= t('auctions.english') %>"
    data-english-offers-blind-text-value="<%= t('auctions.blind') %>">
    <%= form_with url: auctions_path, 
                    method: :get, data: { controller: 'form--debounce form--filter',
                        form__debounce_target: 'form',
                        form__filter_target: 'form',
                        turbo_action: "advance",
                        turbo_frame: "results",
                        action: 'input->form--debounce#search' 
                        } do |f| %>
      <div class="c-table__filters">
        <div class="c-table__filters__btns" data-controller="">
          <%= f.radio_button :type, 'all', class: "js-table-filter-btn", checked: true, style: 'visibility: hidden; position: absolute;', id: 'filter_all_button', data: { form__filter_target: 'button' } %>
          <%= f.label :type_all, "k천ik", class: "c-table__filters__btn is-active js-table-filter-btn", style: 'cursor: pointer;', for: 'filter_all_button', data: { form__filter_target: 'label', action: "click->form--filter#click" } %>
          <%= f.radio_button :type, 'english', class: "js-table-filter-btn", style: 'visibility: hidden; position: absolute;', id: 'filter_IO_button', data: { form__filter_target: 'button' } %>
          <%= f.label :type_english, class: "c-table__filters__btn js-table-filter-btn", style: 'cursor: pointer;', for: 'filter_IO_button', data: { form__filter_target: 'label', action: "click->form--filter#click" } do %>
            <span class="o-io-icon"></span>
            <span class="u-hidden-m"> inglise oksjon</span>
          <% end %>
          <%= f.radio_button :type, 'blind', class: "js-table-filter-btn", style: 'visibility: hidden; position: absolute;', id: 'filter_PO_button', data: { form__filter_target: 'button' } %>
          <%= f.label :type_blind, class: "c-table__filters__btn js-table-filter-btn", style: 'cursor: pointer;', for: 'filter_PO_button', data: { form__filter_target: 'label', action: "click->form--filter#click" } do %>
            <span class="o-po-icon"></span>
            <span class="u-hidden-m"> pime oksjon</span>
          <% end %>
        </div>
        <div class="c-table__filters__search">
          <%= f.search_field :domain_name, value: params[:domain_name], placeholder: t('search_by_domain_name'), class: 'c-table__search__input js-table-search-dt' %>
        </div>
        <div class="c-table__filters__more">
          <a href="#" class="c-btn c-btn--ghost">Telli teavitused</a>
        </div>
        <div class="c-auctions__legend">
          <div><span class="o-io-icon o-icon--sm"></span>
            inglise oksjon
          </div>
          <div><span class="o-po-icon o-icon--sm"></span>
            pime oksjon
          </div>
        </div>
      </div>
    <% end %>

    <!-- 
    These parameters are passed to the Common::Table::Component. These parameters are used to generate headers in the table component. The name "column_name" indicates the name of the column. This is necessary for sorting, so the name of this column should correspond to the name of the column in the database table. If you want to make it so that the data is not sorted by the column, then you should add a nil value. "Caption" is the table header, and "options" are additional parameters that are passed into the tags. 
    -->
    <% header_collection = [{ column: 'domain_name', caption: 'Domeeninimi', options: { class: "sorting" } },
                            { column: 'platform', caption: 'T체체p', options: { class: "sorting" } },
                            { column: 'ends_at', caption: 'L천pp', options: { class: "sorting" } },
                            { column: 'users_offer_cents', caption: 'Pakkumus', options: { class: "sorting" } },
                            { column: nil, caption: 'Pakkumuse omanik', options: {} },
                            { column: nil, caption: 'Pakkumustegevused omanik', options: { class: 'u-text-left u-text-center-l' } }] %>

    <!-- In the Stimulus controller, I use the Turbo class with frame parameters named 'results' for table sorting. This means that rendering the table with the new sort order should occur within the scope of the turbo_frame_tag with the name "results". For it to work correctly, it's necessary to wrap the table content within this turbo_frame_tag with "results" name. The name "results" is assigned as a value for the orderable Stimulus controller in the table component. -->
    <%= turbo_frame_tag "results" do %>

      <!-- Options attributes are used as table attributes -->
      <%= component 'common/table', header_collection:, options: { class: 'js-table-dt dataTable no-footer' } do %>

        <!-- "The body of the table also needs to be in the component block, so the component wraps it with the necessary tags." -->

        <%= tag.tbody id: "bids", class: 'contents' do %>
          <% @auctions.uniq.each do |auction| %>
            <%= render partial: 'auction', locals: { auction: auction, user: current_user } %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

  </div>
  <%= component 'common/pagy', pagy: @pagy %>

  <div class="u-text-center u-mt-40">
    <%= link_to t('auctions.all_list'), auctions_path(show_all: 'true'), class: 'c-btn c-btn--ghost' %>
  </div>
</div>
<!-- Table -- Sortable  -->
