<% content_for :hero do %>
    <div class="hero">
        <h1><%= t('.title') %></h1>

        <%= @auction.domain_name %>
        <%- if @auction.finished? %>
            <%= t('auctions.finished') %>
        <% end %>
    </div>
<% end %>

<div class="u-container">
    <div class="margin-block">
        <div class="content">
            <div class="ui list">
                <div class="item">
                    <div class="header"><%= t('auctions.starts_at') %></div>
                    <%= I18n.l(@auction.starts_at) %>
                </div>

                <div class="item">
                    <div class="header"><%= t('auctions.ends_at') %></div>
                    <%= I18n.l(@auction.ends_at) %>
                </div>

                <div class="item">
                    <div class="header"><%= t('auctions.your_current_price') %></div>
                    <%= @auction.current_price_from_user(current_user) %>
                </div>

                <%- if @auction.offer_from_user(current_user).present? %>
                    <%= link_to t('auctions.edit_your_offer'),
                    edit_offer_path(@auction.offer_from_user(current_user).uuid), class: "ui button primary" %>
                <% else %>
                    <%= link_to t('auctions.submit_offer'),
                    new_auction_offer_path(auction_uuid: @auction.uuid), class: "ui button primary" %>
                <% end %>
            </div>
        </div>
    </div>
</div>

<%= render 'bottom_grid' %>
