<% content_for :hero do %>
    <div class="hero">
        <h1><%= t('.title') %></h1>

        <%= @auction.domain_name %>
        <%- if @auction.finished? %>
            <%= t('auctions.finished') %>
        <% end %>
    </div>
<% end %>

<div class="u-container">
    <div class="margin-block">
            <h2><%= t('.title') %></h2>
            <div class="body">
                <div class="details-list centered-list">
                    <ul>
                        <li>
                            <span class="label"><%= t('auctions.starts_at') %></span>
                            <span class="value"><%= I18n.l(@auction.starts_at) %></span>
                        </li>
                        <li>
                            <span class="label"><%= t('auctions.ends_at') %></span>
                            <span class="value"><%= I18n.l(@auction.ends_at) %></span>
                        </li>
                        <%- if @auction.offer_from_user(current_user).present? %>
                            <li>
                                <span class="label"><%= t('auctions.your_current_price') %></span>
                                <span class="value"><%= @auction.current_price_from_user(current_user) %></span>
                            </li>
                        <% end %>
                    </ul>
                </div>

                <div class="buttons">
                    <%- if @auction.offer_from_user(current_user).present? %>
                        <%= link_to t('auctions.edit_your_offer'),
                        edit_offer_path(@auction.offer_from_user(current_user).uuid), class: "ui button primary" %>
                    <% else %>
                        <%= link_to t('auctions.submit_offer'),
                        new_auction_offer_path(auction_uuid: @auction.uuid), class: "ui button primary" %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>

<%= render 'bottom_grid' %>
