<% content_for :hero do %>
  <div class="hero green">
    <h1><%= t('.title') %></h1>
    <div class="monospace"><%= @auction.domain_name %></div>
    <%- if @auction.finished? %>
      <%= t('auctions.finished') %>
    <% end %>
  </div>
<% end %>

<div class="u-container">
  <div class="margin-block">
    <h2><%= t('.title') %></h2>
    <div class="body">
      <table class="ui table very basic padded">
        <tbody>
          <tr>
            <td><strong><%= t('auctions.domain_name') %></strong></td>
            <td class="monospace">
              <%= domain_name_with_embedded_colors(@auction.domain_name) %>
            </td>
          </tr>
          <tr>
            <td><strong><%= t('auctions.starts_at') %></strong></td>
            <td><%= I18n.l(@auction.starts_at) %>
            </tr>
            <tr>
              <td><strong><%= t('auctions.auction_type') %></strong></td>
              <td><%= t("auctions.#{@auction.platform&.downcase.presence || 'blind'}") %></td>
            </tr>
            <tr>
              <td><strong><%= t('auctions.ends_at') %></strong></td>
              <td><%= I18n.l(@auction.ends_at) %></td>
            </tr>
            <%- if @auction.offer_from_user(current_user).present? %>
              <tr>
                <td><strong><%= t('auctions.your_current_price') %></strong></td>
                <td><%= @auction.current_price_from_user(current_user) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="buttons">
          <% unless @auction.english? %>
            <%- if @auction.offer_from_user(current_user).present? %>
              <%= link_to t('auctions.edit_your_offer'),
                        edit_offer_path(@auction.offer_from_user(current_user).uuid), class: "ui button primary" %>
              <%= link_to t('auctions.delete_your_offer'),
                        offer_path(@auction.offer_from_user(current_user).uuid),
                        method: :delete, data: { confirm: t(:are_you_sure) }, class: "ui button red"%>
            <% elsif @auction.in_progress? %>
              <%= link_to t('auctions.submit_offer'),
                        new_auction_offer_path(auction_uuid: @auction.uuid), class: "ui button primary" %>
            <% end %>
          <% else %>
            <%- unless @auction.finished? %>
              <%- if @auction.offer_from_user(current_user).present? %>
                <%= link_to t('auctions.bid'), edit_english_offer_path(@auction.users_offer_uuid), class: "ui button blue" %>
              <% elsif @auction.in_progress? %>
                <%= link_to t('auctions.bid'), new_auction_english_offer_path(auction_uuid: @auction.uuid), class: "ui button blue" %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
      <% if current_user&.participated_in_english_auction?(@auction) %>
        <div style='margin-top: 20px'>
          <%= render 'offers/participants_table', auction: @auction %>
        </div>
      <% end %>
    </div>
  </div>

  <% if @auction.english? %>
    <%= render 'auctions/english_bottom_grid' %>
  <% else %>
    <%= render 'auctions/bottom_grid' %>
  <% end %>
