<div class="row">
    <div class="col-12">
        <h1 class="mb-3 mt-4"><%= t('.title') %></h1>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h2><%= @auction.domain_name %></h2>
                <%- if @auction.finished? %>
                    <h3><%= t('auctions.finished') %></h3>
                <% else %>
                    <h3>
                        <%= link_to t('auctions.submit_offer'),
                                    new_auction_offer_path(auction_id: @auction.id) %>
                    </h3>
                <% end %>

                <dl class="mb-6 no-bullets auction-card">
                    <dt><%= t('auctions.starts_at') %></dt>
                    <dd><%= @auction.starts_at %></dd>

                    <dt><%= t('auctions.ends_at') %></dt>
                    <dd><%= @auction.ends_at %></dd>
                </dl>
            </div>
        </div>
    </div>
</div>
