<%= component 'common/hero', title: t('.title')  %>
<div class="o-container">
  <div class="c-table c-table--sortable">
    <%= form_with url: admin_paid_deposits_path, method: :get do |f| %>
      <div class="c-table__filters">
        <div class="c-table__filters__btns" style='display: flex !important; align-items: center !important; justify-content: space-between !important; width: 100%;'>
            <%= f.search_field :search_string, value: params[:search_string], placeholder: t('search_by_domain_name'), class: 'c-table__search__input js-table-search-dt' %>
          <div>
            <%= f.button 'Search', class: "c-btn c-btn--blue" %>
            <%= link_to 'Clear', request.path, class: 'c-btn c-btn--red' %>
          </div>

        </div>
      </div>
    <% end %>
    <% header_collection = [{column: nil, caption: t('.user_email'), options: {}},
                            { column: nil, caption: t('.date'), options: { class: "" } },
                            { column: nil, caption: t('.sum'), options: { class: "" } },
                            { column: nil, caption: t('.auction'), options: { class: "" } },
                            { column: nil, caption: t('.status'), options: { class: "" } }] %>
    <%= component 'common/table', header_collection:, options: { class: 'js-table-dt dataTable no-footer' } do %>
      <%= tag.tbody class: 'contents' do %>
        <% @deposits.each do |deposit| %>
          <tr>
            <td><%= link_to deposit.user.email, admin_user_path(id: deposit.user.id) %></td>
            <td><%= deposit.created_at %></td>
            <td><%= deposit.auction&.deposit %></td>
            <td><%= link_to deposit&.auction&.domain_name, admin_auction_path(deposit.auction) %></td>
            <td>
              <%= form_with url: admin_paid_deposit_deposit_status_path(deposit.id), method: :patch, 
                                                                            data: { controller: 'form--autosave', form__autosave_target: 'autosave'} do |f| %>
                <%= f.select :status, options_for_select(DomainParticipateAuction.statuses.invert.values, deposit&.status), {},
                                                selected: deposit&.status, data: { action: 'form--autosave#save', form__autosave_target: 'select' }, style: 'padding: 5px 0; height: 50%;' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    <% end %>

    <%= component 'common/pagy', pagy: @pagy %>
  </div>
</div>
