<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
    </head>
    <body>
        <p><%= t('.salutation', display_name: @user.display_name) %></p>
        <p><%= t('.auctions') %></p>
        <table>
            <thead>
                <th><%= t('auctions.domain_name') %></th>
                <th><%= t('offers.price') %></th>
                <th><%= t('result_name' )%></th>
            </thead>
            <tbody>
                <% @winning_offers.each do |offer| %>
                    <tr>
                        <td><%= offer['domain_name'] %></td>
                        <td><%= Money.new(offer['cents'], Setting.find_by(code: 'auction_currency').retrieve) %></td>
                        <td><%= link_to(t('result_name'), admin_result_url(offer['result_id'])) %>
                    </tr>
                <% end %>
            </tbody>
        </table>

        <p><%= t('.there_were_auctions_with_no_offers', number: @results_with_no_bids.size) %></p>


        <p><%= t('.registration_due_dates') %></p>
        <table>
            <thead>
                <th><%= t('auctions.domain_name') %></th>
                <th><%= t('users.email') %></th>
                <th><%= t('users.mobile_phone') %></th>
                <th><%= t('result_name' )%></th>
            </thead>
            <tbody>
                <% @registration_deadlines.each do |result| %>
                    <tr>
                        <td><%= result['domain_name'] %></td>
                        <td><%= result['email'] %></td>
                        <td><%= result['mobile_phone'] %></td>
                        <td><%= link_to(t('result_name'), admin_result_url(result['result_id'])) %>
                    </tr>

                <% end %>
            </tbody>
        </table>


        <p><%= t('.bans')%></p>

        <table>
            <thead>
                <th><%= t('auctions.domain_name') %></th>
                <th><%= t('users.email') %></th>
                <th><%= t('bans.valid_until') %></th>
            </thead>
            <tbody>
                <% @bans.each do |ban| %>
                    <tr>
                        <td><%= ban['domain_name'] %></td>
                        <td><%= ban['email'] %></td>
                        <td><%= ban['valid_until'] %></td>
                    </tr>

                <% end %>
            </tbody>
        </table>

        <%= t('common_mailer.footer_html') %>
    </body>
</html>
