<p><%= t('.salutation') %></p>
 <table>
    <thead>
        <th><%= t('.domain_name') %></th>
        <th><%= t('.ends_at') %></th>
        <th><%= t('.action') %></th>
    </thead>
    <tbody>
        <% @auctions.each do |auction| %>
            <tr>
                <td><%= link_to auction.domain_name, "#{root_url}/auctions?type=all&domain_name=#{auction.domain_name}" %></td>
                <td><%= auction.ends_at %></td>
            </tr>
        <% end %>
    </tbody>
</table>

<p><%= t('.common_mailer.more_information', link: I18n.locale == :et ? "https://oksjon.internet.ee" : "https://auction.internet.ee") %></p>

<%= t('common_mailer.footer_html') %>
<%= link_to t('unsubscribe_mailer_text'), unsubscribe_unsubscribe_url(id: @unsubscribe) %>
