<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
    </head>
    <body>
        <h1><%= t('.salutation') %></h1>

        <h2><%= t('.auctions') %></h2>
        <table>
            <thead>
                <th>Domain name</th>
                <th>Price in currency</th>
            </thead>
            <tbody>
                <% @winning_offers.each do |offer| %>
                    <tr>
                        <td><%= offer['domain_name'] %></td>
                        <td><%= offer['cents'] %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>

        <p><%= t('.there_were_auctions_with_no_offers', number: @results_with_no_bids.size) %></p>


        <h2><%= t('.registration_deadlines') %></h2>
        <table>
            <thead>
                <th><%= t('auctions.domain_name') %></th>
                <th><%= t('users.email') %></th>
                <th><%= t('users.mobile_phone') %></th>
            </thead>
            <tbody>
                <% @registration_deadlines.each do |result| %>
                    <tr>
                        <td><%= result['domain_name'] %></td>
                        <td><%= result['email'] %></td>
                        <td><%= result['mobile_phone'] %></td>
                    </tr>

                <% end %>
            </tbody>
        </table>


        <h2><%= t('.unpaid_invoices')%></h2>

        <table>
            <thead>
                <th><%= t('auctions.domain_name') %></th>
                <th><%= t('users.email') %></th>
                <th><%= t('bans.valid_until') %></th>
            </thead>
            <tbody>
                <% @bans.each do |ban| %>
                    <tr>
                        <td><%= ban['domain_name'] %></td>
                        <td><%= ban['email'] %></td>
                        <td><%= I18n.l(ban['valid_until']) %></td>
                    </tr>

                <% end %>
            </tbody>
        </table>

        <%= t('common_mailer.footer_html') %>
    </body>
</html>
