<%= component 'common/hero', title: 'Teavitused' %>

<!-- Unreaded Notifications -->
<div class="o-container">
  <div style='display: flex; justify-content: end;'>
    <%= button_to t('notifications.read_all'), mark_as_read_notifications_path, method: :patch, class: 'c-btn c-btn--orange'  %>
  </div>

  <h2><%= t('notifications.unreaded_notifications') %> <sup>(<%= @unread_notifications&.count %>)</sup></h2>
  <%= turbo_frame_tag :unread_notifications do %>
    <div clas`s="c-notifications">
      <% @unread_notifications.each do |notification| %>

        <article class="c-notification">
          <header class="c-notification__header">
            <div class="c-notification__heading">
              <%= component 'common/notifications/icon', notification: notification, readed: false %>
            </div>
            <div class="c-notification__header__date"><%= I18n.t('.notification_received', datetime: I18n.l(notification.created_at)) %></div>
          </header>
          <main class="c-notification__main">
            <%= notification.to_notification.message %>
          </main>
        </article>
      <% end if @unread_notifications.present? %>
    </div>

    <%= component 'common/pagy', pagy: @unread_pagy %>
  <% end %>
<!-- Notifications -->

<!-- Readed Notifications -->
  <h2><%= t('notifications.readed_notifications') %> <sup>(<%= @read_notifications&.count %>)</sup></h2>
  <%= turbo_frame_tag :read_notifications do %>
    <div class="c-notifications c-notifications--ajax">
      <% @read_notifications&.each do |notification| %>
        <article class="c-notification c-notification--read">
          <header class="c-notification__header">

              <%= component 'common/notifications/icon', notification: notification, readed: true %>

            <div class="c-notification__header__date"><%= I18n.t('.notification_received', datetime: I18n.l(notification.created_at)) %></div>
          </header>
          <main class="c-notification__main">
            <%= notification.to_notification.message %>
          </main>
        </article>
      <% end %>
    </div>

    <%= component 'common/pagy', pagy: @read_pagy %>
  <% end %>
<!-- Notifications -->
</div>
