<div class="text-center">
    <div class="row justify-content-center">
        <div class="col-12">
            <h1 class="mb-3 mt-4"><%= t('.title') %></h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12">
            <table class="table" id="billing-profiles-table">
                <thead>
                    <tr>
                        <th scope="col"><%= t('billing_profiles.user') %></th>
                        <th scope="col"><%= t('billing_profiles.name') %></th>
                        <th scope="col"><%= t('billing_profiles.vat_code') %></th>
                        <th scope="col"><%= t('billing_profiles.legal_entity') %></th>
                        <th scope="col"><%= t('billing_profiles.address') %></th>
                    </tr>
                </thead>

                <tbody id="billing-profiles-table-body">
                    <% @billing_profiles.each do |billing_profile| %>
                        <tr class="billing-profiles-table-row">
                            <td><%= billing_profile.user_name %></td>
                            <td class="billing-profile-name"><%= billing_profile.name %></td>
                            <td><%= billing_profile.vat_code %></td>
                            <td><%= billing_profile.legal_entity %></td>
                            <td><%= billing_profile.address %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>
