<% content_for :title, t(".title") %>

<div class="o-container">
  <div class="c-table c-table--sortable">
    <%= form_with url: admin_billing_profiles_path, method: :get do |f| %>
      <div class="c-table__filters" >
        <div class="c-table__filters__btns" style='display: flex !important; align-items: center !important; justify-content: space-between !important; width: 100%;'>
          <%= f.search_field :search_string, value: params[:search_string], placeholder: t('search_by_domain_name'), class: 'c-table__search__input js-table-search-dt' %>
          <%= f.button t('.search'), class: "c-btn c-btn--blue" %>
        </div>
      </div>
    <% end %>
    <% header_collection = [{column: nil, caption: t('billing_profiles.user'), options: {}},
                            { column: nil, caption: t('billing_profiles.billing_profile_name'), options: { class: "" } },
                            { column: nil, caption: t('billing_profiles.vat_code'), options: { class: "" } },
                            { column: nil, caption: t('billing_profiles.address'), options: { class: "" } }] %>
    <%= turbo_frame_tag "results" do %>
      <%= component 'common/table', header_collection:, options: { class: 'js-table-dt' } do %>
        <%= tag.tbody class: 'contents' do %>
          <% @billing_profiles.each do |billing_profile| %>
            <tr class="billing-profiles-table-row">
              <td>
                <% if billing_profile.user %>
                  <%= link_to billing_profile.user_name, admin_user_path(billing_profile.user), target: '_top' %>
                <% else %>
                  <%= billing_profile.user_name %>
                <% end %>
              </td>
              <td class="billing-profile-name">
                <%= link_to billing_profile.name, admin_billing_profile_path(billing_profile), target: '_top' %>
              </td>
              <td><%= billing_profile.vat_code %></td>
              <td><%= billing_profile.address %></td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
