<%= component 'common/hero', title: "#{t('.title')} #{@billing_profile.name}"  %>
<div class="o-container">
  <div class="c-table c-table--sortable" data-controller='form--bundle-checkbox'>
    <%= tag.h2 do %>
      <%= t('billing_profiles.orphaned') %>
    <% end unless @billing_profile.user %>

    <%= component 'common/table', header_collection: [], options: { class: 'js-table-dt dataTable no-footer' } do %>
        <%= tag.tbody class: 'contents' do %>
          <tr>
              <td><strong><%= t('billing_profiles.vat_code') %></strong></td>
              <td><%= @billing_profile.vat_code %></td>
          </tr>

          <tr>
              <td><strong><%= t('billing_profiles.street') %></strong></td>
              <td><%= @billing_profile.street %></td>
          </tr>

          <tr>
              <td><strong><%= t('billing_profiles.city') %></strong></td>
              <td><%= @billing_profile.city %></td>
          </tr>

          <tr>
              <td><strong><%= t('billing_profiles.postal_code') %></strong></td>
              <td><%= @billing_profile.postal_code %></td>
          </tr>

          <tr>
              <td><strong><%= t('billing_profiles.country') %></strong></td>
              <td><%= @billing_profile.country_code %></td>
          </tr>
        <% end %>
      <% end %>
  </div>
</div>
