<%= form_with(model: user, url: url, local: true, id: 'user_form') do |f| %>
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
            <h3 class="p3"><%= t('.contact_data') %></h3>
            <div class="form-group">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email",
                class: "form-control" %>
                <% if user.pending_reconfirmation? %>
                    <div>Currently waiting confirmation for: <%= user.unconfirmed_email %></div>
                <% end %>
            </div>
            <div class="form-group">
                <%= f.label :mobile_phone %><br />
                <%= f.telephone_field :mobile_phone, autofocus: true, autocomplete: "off",
                class: "form-control" %>
            </div>
            <div class="form-group">
                <%= f.label :given_names %><br />
                <%= f.text_field :given_names, autofocus: true, autocomplete: "off",
                class: "form-control" %>
            </div>
            <div class="form-group">
                <%= f.label :surname %><br />
                <%= f.text_field :surname, autofocus: true, autocomplete: "off",
                class: "form-control" %>
            </div>
            <div class="form-group">
                <%= f.label :identity_code %> <span class="small text-info">
                <%= f.text_field :identity_code, class: "form-control",
                placeholder: t('users.can_be_left_blank_if_not_estonian'), disabled: user.persisted? %>
            </div>

            <div class="form-group">
                <%= f.label :country %><br />
                <%= f.select :country_code,
                options_for_select(
                    Countries::ALPHA_2_SELECTION,
                    user.country_code || Setting.default_country
                ),
                {},
                class: "form-control form-control" %>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <h3 class="p3"><%= t('.new_password') %></h3>
            <div class="form-group">
                <%= f.label :password %>
                <%= f.password_field :password, autocomplete: "new-password",
                class: "form-control" %>
                <% if user.persisted? %>
                    <br><em><%= t('.you_can_leave_blank') %></em><br>
                <% end %>
                <% if @minimum_password_length %>
                    <em><%= t('.password_requirements', minimum: @minimum_password_length) %></em>
                <% end %><br />
                <br />
            </div>
            <div class="form-group">
                <%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
            </div>
        </div>
        <% if user.persisted? %>
            <div class="col-12">
                <hr>
                <div class="form-group">
                    <%= f.label :current_password %> <i><%= t('.we_need_your_password') %></i><br />
                    <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
                </div>
            </div>
        <% end %>
        <div class="col-12 col-lg-6">
            <div class="mt-4">
                <% if user.persisted? %>
                    <%= f.submit t(:update), class: "btn btn-primary form-control mb-4", id: "user_form_commit" %>
                    <%= link_to t(:back), :back, class: "mt-4" %>
                <% else %>
                    <%= f.submit t('.sign_up'), class: "btn btn-primary form-control", id: "user_form_commit" %>
                <% end %>
            </div>
        </div>
    </div>
<% end %>
