<%= turbo_frame_tag 'user_info' do %>
  <%= form_with model: user, url: user_path(user.uuid) do |f| %>
    <%= render partial: 'common/flash', locals: { flash: flash } if turbo_frame_request? %>
    <div class="o-grid o-grid--two-col o-grid--sep">
      <div class="o-card">
        <div class="u-flex u-align-center u-content-sp u-mb-30">
          <h2 class="o-card__title c-account__title"><%= user.display_name %></h2>
          <div class="c-account_editicons u-flex u-align-center u-content-sp">

          </div>
        </div>
        <div class="c-account__form">
          <div class="c-account__input c-account__input--editable u-mb-20 is-editable">
            <%= component 'common/form/label', form: f, attribute: :email, title: t('users.email') %>
            <%= component 'common/form/email_field', form: f, attribute: :email, options: { autocomplete: 'email', autofocus: true } %>
          </div>
          <div class="c-account__input-wrapper u-flex u-align-start">
            <div class="c-account__input c-account__input--editable u-mb-20 is-editable">
              <%= component 'common/form/label', form: f, attribute: :given_names, title: t('users.given_names') %>
              <%= component 'common/form/text_field', form: f, attribute: :given_names, options: { autofocus: true } %>
            </div>
            <div class="c-account__input c-account__input--editable u-mb-20 is-editable">
              <%= component 'common/form/label', form: f, attribute: :surname, title: t('users.surname') %>
              <%= component 'common/form/text_field', form: f, attribute: :surname, options: { autofocus: true } %>
            </div>
            <div class="c-account__input c-account__input--editable u-mb-20 is-editable">
              <%= component 'common/form/label', form: f, attribute: :mobile_phone, title: t('users.mobile_phone') %>
              <%= component 'common/form/telephone_field', form: f, attribute: :mobile_phone, options: { autofocus: true, autocomplete: "off", placeholder: "+372xxxxxxxx" } %>
            </div>
            <div class="c-account__input c-account__input--readonly u-mb-20">
              <%= component 'common/form/label', form: f, attribute: :identity_code, title: t('users.identity_code') %>
              <%= tag.span user.identity_code if user.identity_code.present? %>
            </div>
            <div class="c-account__input c-account__input--readonly u-mb-20">
              <%= component 'common/form/label', form: f, attribute: :country, title: t('users.country') %>
              <span><%= user.country_code || Setting.find_by(code: 'default_country').retrieve %></span>
            </div>
            <div class="c-account__input c-account__input--readonly u-mb-20">
              <label for="input2"><%= t('created_at') %></label>
              <span><%= I18n.l(user.created_at) %></span>
            </div>
          </div>
        </div>
      </div>

      <div class="o-card">
        <h2 class="o-card__title c-account__title u-mb-36"><%= t('users.show.settings') %></h2>

        <div class="c-account__checkbox u-flex u-align-center u-mb-30">
          <%= component 'common/webpush/setting' %>
          <span class="c-account__chekboxtitle"><%= t('common.webpush_modal.webpush_title') %></span>
        </div>

        <div class="c-account__checkbox u-flex u-align-center u-mb-30">
            <%= component 'common/form/checkboxes/rounded_checkbox', form: f, attribute: :daily_summary,
                options: {
                  id: :daily_summary,
                  data: {
                    controller: 'form--checkbox-autosubmit', form__checkbox_autosubmit_target: 'checkbox',
                    form__checkbox_autosubmit_url_value: user_path(user.uuid), action: 'change->form--checkbox-autosubmit#submit' 
                  }
                } 
            %>

          <span class="c-account__chekboxtitle"><%= t('users.show.daily_summary') %></span>
        </div>

        <a href="" title="" class="c-acount__link"><%= t('users.terms_and_conditions_link') %></a>

        <div class="c-acount__buttons u-flex u-align-center">
          <%= component 'common/links/link_button', link_title: t(:billing), href: billing_profiles_path, color: 'ghost', options: { target: '_top' }  %>
          <%= component 'common/buttons/delete_button_with_text', path: user_path(@user.uuid), text: t('users.show.delete') %>

        </div>
      </div>

      <div class="o-card">
        <h2 class="o-card__title c-account__title c-account__title--password">
          <% user.persisted? || (user.signed_in_with_identity_document? && user.encrypted_password.blank?) ? t('.new_password') : t('users.password') %>
        </h2>

        <div class="c-account__input u-mb-20">
          <%= component 'common/form/password_field/description', 
                       form: f, attribute: :password,
                       user: current_user, minimum_password_length: @minimum_password_length %>

          <%= component 'common/form/password_field', form: f, attribute: :password, options: {  autocomplete: "new-password" } %>
          
          <%= tag.span t('.you_can_leave_blank'),
              class: "c-account__input-explain" if user.persisted? || 
              (user.signed_in_with_identity_document? && user.encrypted_password.blank?) %>

        </div>

        <div class="c-account__input">
          <%= component 'common/form/label', form: f, attribute: :password_confirmation, title: t('users.password_confirmation') %>
          <%= component 'common/form/password_field', form: f, attribute: :password_confirmation, options: {  autocomplete: "off" } %>
        </div>
      </div>

      <div class="o-card o-card--no-shadow">
        <% if user.persisted? && !user.signed_in_with_identity_document? %>
            <h2 class="o-card__title c-account__title c-account__title--password c-account__title--confirm">Kinnita muudatused</h2>
            <p class="c-account__subtitle"><%= t('.we_need_your_password') %></p>
            <div class="c-account__input u-mb-48">
              <%= component 'common/form/label', form: f, attribute: :current_password, title: t('users.current_password') %>
              <%= component 'common/form/password_field', form: f, attribute: :current_password, options: {  autocomplete: "off" } %>
            </div>
        <% end %>

        <%= component 'common/links/link_button', link_title: t(:cancel), href: '#', color: 'ghost',
            options: { data: { turbo_frame: 'user_info' } }  %>
        <%= component 'common/form/form_button', form: f, btn_title: t(:submit) %>
      </div>

    </div>
  <% end %>
<% end %>
