<%= form_with(model: user, url: url, local: true, id: 'user_form', class: 'ui form big') do |f| %>
    <div class="ui two column doubling stackable grid">
        <div class="column">
            <h3 class="p3"><%= t('.contact_data') %></h3>

            <div class="field">
                <%= f.hidden_field :locale, value: user.persisted? ? user.locale : I18n.locale %>
                <%= f.label :email, t('users.email') %>
                <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                <% if user.pending_reconfirmation? %>
                    <div>Currently waiting confirmation for: <%= user.unconfirmed_email %></div>
                <% end %>
            </div>
            <div class="field">
                <%= f.label :mobile_phone, t('users.mobile_phone') %>
                <%= f.telephone_field :mobile_phone, autofocus: true, autocomplete: "off" %>
            </div>
            <div class="field">
                <%= f.label :given_names, t('users.given_names') %>
                <%= f.text_field :given_names, autofocus: true, autocomplete: "off" %>
            </div>
            <div class="field">
                <%= f.label :surname, t('users.surname') %>
                <%= f.text_field :surname, autofocus: true, autocomplete: "off" %>
            </div>
        </div>

        <div class="column">
            <h3 class="p3"><%= t('.personal_data') %></h3>
            <div class="field">
                <%= f.label :country, t('users.country') %>
                <%= f.select :country_code,
                options_for_select(
                    Countries.for_selection,
                    user.country_code || Setting.default_country
                ),
                { readonly: user.signed_in_with_identity_document? },
                class: "ui dropdown" %>
            </div>

            <div class="field">
                <div class="ui checkbox">
                    <%= f.check_box :accepts_terms_and_conditions, { value: user.accepts_terms_and_conditions }, "true", "false" %>
                    <%= f.label :accepts_terms_and_conditions do %>
                        <%= link_to t('users.terms_and_conditions'), Setting.terms_and_conditions_link %>
                    <% end %>
                </div>
            </div>
        </div>

        <div class="column">
            <h3 class="p3"><%= t('.new_password') %></h3>
            <div class="field">
                <%= f.label :password, t('users.password') %>
                <%= f.password_field :password, autocomplete: "new-password" %>
                <% if user.persisted? %>
                    <br><em><%= t('.you_can_leave_blank') %></em><br>
                <% end %>
                <% if @minimum_password_length %>
                    <em><%= t('.password_requirements', minimum: @minimum_password_length) %></em>
                <% end %>
                <br />
            </div>
            <div class="field">
                <%= f.label :password_confirmation, t('users.password_confirmation') %><br />
                <%= f.password_field :password_confirmation, autocomplete: "off" %>
            </div>
        </div>

        <% if user.persisted? %>
            <div class="column sixteen wide">
                <hr>
                <div class="field">
                    <%= f.label :current_password, t('users.current_password') %>
                    <i><%= t('.we_need_your_password') %></i><br />
                    <%= f.password_field :current_password, autocomplete: "off" %>
                </div>
            </div>
        <% end %>
        <div class="column sixteen wide">
            <% if user.persisted? %>
                <%= f.submit t(:update), class: "ui button big primary", id: "user_form_commit" %>
                <%= link_to t(:back), :back, class: "ui button big secondary" %>
            <% else %>
                <%= f.submit t('.sign_up'), class: "ui button big primary", id: "user_form_commit" %>
            <% end %>
        </div>
    </div>
<% end %>
