            
<div class="o-card">
  <h2 class="o-card__title c-account__title"><%= t('users.edit.contact_data') %></h2>
  <div class="c-account__input u-mb-20">
    <%= f.label :email, t('users.email') %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  <div class="c-account__input u-mb-20">
    <%= f.label :mobile_phone, t('users.mobile_phone') %>
    <%= f.telephone_field :mobile_phone, autofocus: true, autocomplete: "off", placeholder: "+372xxxxxxxx" %>
  </div>
  <div class="c-account__input u-mb-20">
    <%= f.label :given_names, t('users.given_names') %>
    <%= f.text_field :given_names, autofocus: true %>
  </div>
  <div class="c-account__input u-mb-20">
    <%= f.label :surname, t('users.surname') %>
    <%= f.text_field :surname, autofocus: true %>
  </div>
</div>
<div class="o-card">
  <h2 class="o-card__title c-account__title u-mb-36"><%= t('auth.tara.form.data_from_identity_document') %></h2>
  <div class="c-account__input u-mb-20">
    <%= f.label :identity_code, t('users.identity_code') %>
    <% if @user.identity_code.present? %>
      <%= f.text_field :identity_code, readonly: @user.new_record? ? false : true, value: @user.identity_code %>
    <% else %>
      <%= f.text_field :identity_code, readonly: false %>
    <% end %>
  </div>
  <div class="c-account__input u-mb-30-48">
    <%= f.label :country, t('users.country_code') %>
    <% if @user.signed_in_with_identity_document? %>
      <div class="ui disbled input">
        <%= f.text_field :country_code,
                                  value: @user.country_code || Setting.find_by(code: 'default_country').retrieve,
                                  readonly: true %>
      </div>
    <% else %>
      <%= f.select :country_code,
                              options_for_select(
                                  Countries.for_selection,
                                  @user.country_code || Setting.find_by(code: 'default_country').retrieve
                              ),
                              { readonly: false } %>
    <% end %>
  </div>
  <label class="o-checkbox-container">
    <div class="o-checkbox-text">
      <%= t('users.i_accept_terms_and_conditions_html',
                              link: link_to(t('users.terms_and_conditions_link'), Setting.find_by(code: 'terms_and_conditions_link').retrieve)) %>
    </div>
    <%= f.check_box :accepts_terms_and_conditions, { value: @user.accepts_terms_and_conditions, class: "o-checkbox-sample" }, "true", "false" %>
    <span class="o-checkmark-sample"></span>
  </label>
  <label class="o-checkbox-container">
    <div class="o-checkbox-text">
      <span><%= t('.daily_summary') %></span>
    </div>
    <%= f.check_box :daily_summary, class: 'o-checkbox-sample' %>
    <span class="o-checkmark-sample"></span>
  </label>
</div>

<div class="o-card">
  <% if @user.persisted? || (@user.signed_in_with_identity_document? && @user.encrypted_password.blank?) %>
    <h2 class="o-card__title c-account__title"><%= t('.new_password') %></h2>
  <% else %>
    <h2 class="o-card__title c-account__title"><%= t('users.password') %></h2>
  <% end %>
  <div class="c-account__input u-mb-20">
    <label class="c-account__label-explain" for="input7">
      <div>
        <%= t('users.password') %>
        <% if @user.persisted? || (@user.signed_in_with_identity_document? && @user.encrypted_password.blank?) %>
          <span>(<%= t('.you_can_leave_blank') %>)</span>
        <% end %>
      </div>
      <span><%= t('.password_requirements', minimum: @minimum_password_length) if @minimum_password_length %></span>
    </label>
        <%= f.password_field :password, autocomplete: "off" %>
    <span class="c-account__input-explain"><%= t('.password_requirements', minimum: @minimum_password_length) if @minimum_password_length %></span>
  </div>
  <div class="c-account__input u-mb-20">
    <%= f.label :password_confirmation, t('users.password_confirmation') %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <% unless @user.persisted? %>
    <div class="c-account__btns u-flex u-align-center ">
      <%= link_to t(:back), :back, class: "c-btn c-btn--ghost c-account__btn" %>
      <button type='submit' name='commit' data-turbo='false' class="c-btn c-btn--green c-account__btn u-ml-16">Uuenda</button>
    </div>
  <% end %>
</div>

<% if @user.persisted? && !@user.signed_in_with_identity_document? %>
  <div class="o-card">
      <h2 class="o-card__title c-account__title c-account__title--confirm"><%= t('users.edit.confirm_your_changes') %></h2>
      <p class="c-account__subtitle"><%= t('users.edit.we_need_your_password') %></p>
      <div class="c-account__input u-mb-48">
        <%= f.label :current_password, t('users.current_password') %>
        <%= f.password_field :current_password, autocomplete: "off" %>
      </div>

    <div class="c-account__btns u-flex u-align-center ">
      <%= link_to t(:back), :back, class: "c-btn c-btn--ghost c-account__btn" %>
      <button type='submit' name='commit' data-turbo='false' class="c-btn c-btn--green c-account__btn u-ml-16">Uuenda</button>
    </div>
  </div>
<% end %>

