<div class="o-card">
  <h2 class="o-card__title c-account__title"><%= t('users.edit.contact_data') %></h2>
  <div class="c-account__input u-mb-20">
    <%= component 'common/form/label', form: f, attribute: :email, title: t('users.email') %>
    <%= component 'common/form/email_field', form: f, attribute: :email, options: { autocomplete: 'email', autofocus: true } %>
  </div>
  <div class="c-account__input u-mb-20">
    <%= component 'common/form/label', form: f, attribute: :mobile_phone, title: t('users.mobile_phone') %>
    <%= component 'common/form/telephone_field', form: f, attribute: :mobile_phone, options: { autofocus: true, autocomplete: "off", placeholder: "+372xxxxxxxx" } %>
  </div>
  <div class="c-account__input u-mb-20">
    <%= component 'common/form/label', form: f, attribute: :given_names, title: t('users.given_names') %>
    <%= component 'common/form/text_field', form: f, attribute: :given_names, options: { autofocus: true } %>
  </div>
  <div class="c-account__input u-mb-20">
    <%= component 'common/form/label', form: f, attribute: :surname, title: t('users.surname') %>
    <%= component 'common/form/text_field', form: f, attribute: :surname, options: { autofocus: true } %>
  </div>
  <div class="c-account__input u-mb-20">
    <%# TODO: Fixed the problem with nested label component  %>
    <%= f.label :password, class: "c-account__label-explain"  do %>
      <div>
        <%= t('users.password') %>
        <% if @user.persisted? || (@user.signed_in_with_identity_document? && @user.encrypted_password.blank?) %>
          <span>(<%= t('.you_can_leave_blank') %>)</span>
        <% end %>
      </div>
      <span><%= t('users.form.password_requirements', minimum: @minimum_password_length) if @minimum_password_length %></span>
    <% end %>

    <%= component 'common/form/password_field', form: f, attribute: :password, options: {  autocomplete: "off" } %>
    <span class="c-account__input-explain"><%= t('users.form.password_requirements', minimum: @minimum_password_length) if @minimum_password_length %></span>
  </div>

  <div class="c-account__input">
    <%= component 'common/form/label', form: f, attribute: :password_confirmation, title: t('users.password_confirmation') %>
    <%= component 'common/form/password_field', form: f, attribute: :password_confirmation, options: {  autocomplete: "off" } %>
  </div>
</div>

<div class="o-card-wrapper">
  <div class="o-card o-card--personaldata">
    <h2 class="o-card__title c-account__title"><%= t('auth.tara.form.data_from_identity_document') %></h2>
    <div class="c-account__input u-mb-20">
      <%= component 'common/form/label', form: f, attribute: :identity_code, title: t('users.identity_code') %>

      <% if @user.identity_code.present? %>
        <%= component 'common/form/text_field', form: f, attribute: :identity_code, options: { readonly: @user.new_record? ? false : true, value: @user.identity_code  } %>
      <% else %>
        <%= component 'common/form/text_field', form: f, attribute: :identity_code, options: { readonly: false } %>
      <% end %>
    </div>
    <div class="c-account__input u-mb-30-48">
      <%= component 'common/form/label', form: f, attribute: :country_code, title: t('users.country_code') %>
      <% if @user.signed_in_with_identity_document? %>
        <div>
        <%= component 'common/form/text_field', form: f, attribute: :country_code, 
                      options: { value: @user.country_code || Setting.find_by(code: 'default_country').retrieve, readonly: true  } %>
        </div>
      <% else %>
        <%= component 'common/form/dropdown_input', form: f, attribute: :country_code, 
                      enum: options_for_select(Countries.for_selection,@user.country_code || Setting.find_by(code: 'default_country').retrieve),
                      first_options: { readonly: false } %>
      <% end %>
    </div>

    <%# TODO: Modify checkbox label nested component to add support this variant of nested checkbox %>
    <label class="o-checkbox-container o-checkbox-container--grey">
      <div class="o-checkbox-text">
        <%= t('users.i_accept_terms_and_conditions_html',
                        link: link_to(t('users.terms_and_conditions_link'), Setting.find_by(code: 'terms_and_conditions_link').retrieve)) %>
      </div>
      <%= f.check_box :accepts_terms_and_conditions, { value: @user.accepts_terms_and_conditions, class: "o-checkbox-sample" }, "true", "false" %>

      <span class="o-checkmark-sample"></span>
    </label>
    <%# ==================  %>

    <%= component 'common/form/checkboxes/checkbox_with_label', label_title: t('.daily_summary'), form: f, attribute: :daily_summary  %>

  </div>
  <button class="c-btn c-btn--green c-account__btn"><%= t('users.form.sign_up') %></button>
</div>
