<%= turbo_frame_tag 'user_info' do %>
  <div class="o-grid o-grid--two-col o-grid--sep">
    <div class="o-card">
      <div class="c-account__title-wrapper u-flex u-content-sp">
        <h2 class="o-card__title c-account__title"><%= @user.display_name %></h2>
        <div class="c-account_editicons u-flex u-align-center u-content-sp">

          <%= tag.a href: edit_user_path(uuid: @user.uuid), data: { turbo_frame: 'user_info' } do %>
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="none"><circle cx="16" cy="16" r="15.5" stroke="#E2E2E2"/><path fill="#000" d="m20.933 12.893-1.826-1.826a1.333 1.333 0 0 0-1.773-.047l-6 6c-.216.217-.35.502-.38.807l-.287 2.78a.666.666 0 0 0 .667.726h.06l2.78-.253c.304-.03.589-.165.806-.38l6-6a1.28 1.28 0 0 0-.047-1.807Zm-6.88 6.854-2 .186.18-2L16 14.213l1.8 1.8-3.747 3.734Zm4.614-4.627-1.787-1.787L18.18 12 20 13.82l-1.333 1.3Z"/></svg>
          <% end %>

        </div>
      </div>
      <form class="c-account__form">
        <div class="c-account__input c-account__input--editabl u-mb-20">
          <label><%= t('users.email') %></label>
          <input id="input1" type="email" placeholder="" value="<%= @user.email %>" readonly="">
        </div>
        <div class="c-account__input-wrapper u-flex u-align-start">
          <div class="c-account__input c-account__input--editable u-mb-20">
            <label><%= t('users.mobile_phone') %></label>
            <input type='tel' value='<%= @user.mobile_phone %>' readonly />
          </div>
          <div class="c-account__input c-account__input--readonly u-mb-20">
            <label><%= t('users.identity_code') %></label>
            <input type='text' value='<%= @user.identity_code %>' readonly />
          </div>
          <div class="c-account__input c-account__input--readonly u-mb-20">
            <label><%= t('users.country_code') %></label>
            <span><%= @user.country_code || Setting.find_by(code: 'default_country').retrieve %></span>
          </div>
          <div class="c-account__input c-account__input--readonly u-mb-20">
            <label for="input2"><%= t('created_at') %></label>
            <span><%= I18n.l(@user.created_at) %></span>
          </div>
        </div>
      </form>
    </div>
    <div class="o-card">
      <h2 class="o-card__title c-account__title u-mb-36"><%= t('users.show.settings') %></h2>



      <div class="c-account__checkbox u-flex u-align-center u-mb-30">
        <label class="o-checkbox" for="webpush">
          <input type="checkbox" id="webpush" data-controller='profile-webpush'
                          data-profile-webpush-target='checkbox'
                          data-profile-webpush-vapid-public-value="<%= Rails.configuration.customization[:vapid_public] %>"
                          data-action='change->push-notification#setupPushNotifications' />
          <div class="o-checkbox__slider round"></div>
        </label>
        <span class="c-account__chekboxtitle"><%= t('common.webpush_modal.webpush_title') %>: <%= t('yes') %></span>
      </div>


      <div class="c-account__checkbox u-flex u-align-center u-mb-30">
        <label class="o-checkbox u-disabled" for="checkbox2">
          <input disabled type="checkbox" id="checkbox2" <%= @user.daily_summary ? 'checked' : '' %> />
          <div class="o-checkbox__slider round"></div>
        </label>
        <span class="c-account__chekboxtitle"><%= t('users.show.daily_summary') %>: <strong><%= @user.daily_summary ? t('yes') : t('no') %></strong></span>
      </div>
    
      <a href="" title="" class="c-acount__link"><%= t('users.terms_and_conditions_link') %></a>
      <div class="c-acount__buttons u-flex u-align-center">
        <%= link_to t(:billing), billing_profiles_path, class: "c-btn c-btn--ghost c-acount__button", target: '_top' %>

        <%= button_to user_path(@user.uuid), method: :delete, form: { data: { turbo_confirm: t("are_you_sure") } },
                          class: "c-btn c-btn--ghost c-acount__button c-acount__button--icon", target: '_top' do %>
          <svg xmlns="http://www.w3.org/2000/svg" width="10" height="12" fill="none"><path fill="#212224" d="M0 2.544a.558.558 0 0 0 .558.557h.297v6.593a1.838 1.838 0 0 0 1.836 1.836H7.31a1.838 1.838 0 0 0 1.836-1.836V3.1h.297a.558.558 0 1 0 0-1.115H7.49V1.41C7.49.633 6.857 0 6.08 0H3.92c-.777 0-1.41.632-1.41 1.41v.575H.558A.558.558 0 0 0 0 2.544ZM3.626 1.41c0-.162.132-.294.294-.294h2.16c.162 0 .294.132.294.294v.576H3.626V1.41ZM1.971 3.101H8.03v6.593a.721.721 0 0 1-.72.72H2.69a.721.721 0 0 1-.72-.72V3.1Z"/><path fill="#212224" d="M3.613 9.387a.558.558 0 0 0 .557-.558V4.688a.558.558 0 0 0-1.115 0v4.141a.558.558 0 0 0 .558.558Zm2.773 0a.558.558 0 0 0 .557-.558V4.688a.558.558 0 0 0-1.115 0v4.141a.558.558 0 0 0 .558.558Z"/></svg>
          <span><%= t('users.show.delete') %></span>
        <% end %>

      </div>
    </div>
  </div>
<% end %>
