<% content_for :hero do %>
    <div class="hero green">
        <h1><%= t('.title') %></h1>
    </div>
<% end %>

<div class="u-container">
    <div class="margin-block">
        <div class="content">
            <h2><%= @user.display_name %></h2>
            <div class="body">
                <div class="details-list centered-list">
                    <ul>
                        <li>
                            <span class="label"><%= t('users.email') %></span>
                            <span class="value"><%= (@user.email) %></span>
                        </li>

                        <li>
                            <span class="label"><%= t('users.mobile_phone') %></span>
                            <span class="value">
                                <% if @user.phone_number_confirmed? %>
                                    <i class="ui icon check circle outline"></i>
                                    <%= (@user.mobile_phone) %>
                                <% else %>
                                    <%= (@user.mobile_phone) %>
                                    <%= link_to t('confirm'), new_user_phone_confirmation_path(@user.uuid) %>
                                <% end %>
                            </span>
                        </li>

                        <li>
                            <span class="label"><%= t('users.country_code') %></span>
                            <span class="value">
                                <i class="flag <%= @user.country_code.downcase %>"></i>
                                <%= (@user.country_code) %>
                            </span>
                        </li>

                        <li>
                            <span class="label"><%= t('users.identity_code') %></span>
                            <span class="value"><%= (@user.identity_code) %></span>
                        </li>

                        <li>
                            <span class="label"><%= t('created_at') %></span>
                            <span class="value"><%= I18n.l(@user.created_at) %></span>
                        </li>

                        <li>
                            <span class="label"><%= t('users.terms_and_conditions') %></span>
                            <span class="value"><%= link_to t('.review_terms_and_conditions'), Setting.terms_and_conditions_link %></span>
                        </li>
                    </ul>
                </div>

                <div class="buttons">
                    <%= link_to t(:edit), edit_user_path(@user.uuid), class: "ui button primary" %>
                    <%= link_to t(:billing), billing_profiles_path, class: "ui button primary" %>
                    <%= link_to t('.delete'), user_path(@user.uuid),
                    method: :delete, data: { confirm: t(:are_you_sure) },
                    remote: true, class: "ui button secondary" %>
                </div>
            </div>
        </div>
    </div>
</div>
