<% content_for :hero do %>
    <div class="hero green">
        <h1><%= t('.title') %></h1>
    </div>
<% end %>

<div class="u-container">
    <div class="margin-block">
        <div class="content">
            <div class="ui centered aligned header"><%= @user.display_name %></div>

            <div class="ui list">
                <div class="item">
                    <div class="header"><%= t('users.email') %></div>
                    <%= @user.email %>
                </div>

                <div class="item">
                    <div class="header"><%= t('users.mobile_phone') %></div>
                    <%= @user.mobile_phone %>
                </div>

                <div class="item">
                    <div class="header"><%= t('users.country_code') %></div>
                    <%= @user.country_code %>
                </div>

                <div class="item">
                    <div class="header"><%= t('users.identity_code') %></div>
                    <%= @user.identity_code %>
                </div>


                <div class="item">
                    <div class="header"><%= t('created_at') %></div>
                    <%= I18n.l(@user.created_at) %>
                </div>

                <div class="item">
                    <div class="header"><%= t('users.terms_and_conditions') %></div>
                    <%= link_to t('.review_terms_and_conditions'), Setting.terms_and_conditions_link %>
                </div>
            </div>

            <%= link_to t(:edit), edit_user_path(@user.uuid), class: "ui button primary" %>
            <%= link_to t(:billing), billing_profiles_path, class: "ui button primary" %>
            <%= link_to t('.delete'), user_path(@user.uuid),
            method: :delete, data: { confirm: t(:are_you_sure) },
            remote: true, class: "ui button secondary" %>
        </div>
    </div>
</div>
