<% content_for :hero do %>
    <div class="hero orange">
        <h1><%= t('.title') %></h1>
    </div>
<% end %>

<div class="features-grid top narrow grey">
    <div class="ui search">
        <div class="ui massive input icon">
            <%= form_with(url: search_admin_invoices_path, local: true, method: :get) do |f| %>
                <div class="ui input icon">
                    <%= f.text_field :email, placeholder: t('search_by_email') %>
                </div>

                <%= f.button(class: "ui icon primary button") do %>
                    <i aria-hidden="true" class="arrow right icon"></i>
                <% end %>
            <% end %>
        </div>
    </div>
</div>

<div class="ui container">
    <div class="margin-block">
        <table class="ui table unstackable fixed" id="my-outstanding-invoices-table">
            <thead>
                <tr>
                    <th scope="col">
                        <%= t('invoices.billing_profile') %>
                        <%= order_buttons('invoices.billing_profile_id') %>
                    </th>
                    <th scope="col">
                        <%= t('invoices.due_date') %>
                        <%= order_buttons('invoices.due_date') %>
                    </th>
                    <th scope="col">
                        <%= t('invoices.status') %>
                        <%= order_buttons('invoices.status') %>
                    </th>
                    <th scope="col">
                        <%= t('invoices.notes') %>
                        <%= order_buttons('invoices.notes') %>
                    </th>
                    <th scope="col">
                        <%= t('invoices.total') %>
                        <%= order_buttons('invoices.total') %>
                    </th>
                    <th scope="col">
                        <%= t('invoices.vat_rate_on_payment') %>
                        <%= order_buttons('invoices.vat_rate') %>
                    </th>
                    <th scope="col">
                        <%= t('invoices.total_paid') %>
                        <%= order_buttons('invoices.total_paid') %>
                    </th>
                    <th scope="col">
                        <%= t('invoices.paid_through') %>
                    </th>

                    <th scope="col"><%= clear_order_button %></th>
                </tr>
            </thead>

            <tbody class="invoices-table-body">
                <% @invoices.each do |invoice| %>
                    <tr class="invoices-table-row">
                        <td><%= link_to invoice.billing_profile.name, admin_invoice_path(invoice) %></td>
                        <td><%= I18n.l(invoice.due_date) %></td>
                        <td><%= invoice.status %></td>
                        <td><%= invoice.notes %></td>
                        <td><%= t('offers.price_in_currency', price: invoice.total) %></td>
                        <% if invoice.paid? %>
                            <td><%= number_to_percentage(invoice.vat_rate * 100, precision: 0) %></td>
                            <td><%= t('offers.price_in_currency', price: invoice.total_amount) %></td>
                            <td><%= invoice.paid_with_payment_order&.channel %></td>
                        <% else %>
                            <td></td>
                            <td></td>
                            <td></td>
                        <% end %>
                        <td></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>

    <%= paginate @invoices %>
</div>
