<div class="row">
    <div class="col-12">
        <h1 class="mb-3 mt-4"><%= t('.title') %></h1>
    </div>
</div>

<div class="row mt-4">
    <div class="col-12">
        <table class="table" id="my-outstanding-invoices-table">
            <thead>
                <tr>
                    <th scope="col"><%= t('invoices.billing_profile') %></th>
                    <th scope="col"><%= t('invoices.due_date') %></th>
                    <th scope="col"><%= t('invoices.status') %></th>
                    <th scope="col"><%= t('invoices.total') %></th>
                </tr>

                <tbody class="invoices-table-body">
                    <% @invoices.each do |invoice| %>
                        <tr class="invoices-table-row">
                            <td><%= link_to invoice.billing_profile.name, admin_invoice_path(invoice) %></td>
                            <td><%= I18n.l(invoice.due_date) %></td>
                            <td><%= invoice.status %></td>
                            <td><%= t('offers.price_in_currency', price: invoice.total) %></td>
                        </tr>
                    <% end %>
                </tbody>
        </table>
    </div>
</div>
