<% content_for :title, t('.title', invoice_number: @invoice&.number) %>

<div class="o-container">
  <div class="c-block">
    <div style="display: flex; gap: 1rem; align-items: center; margin-bottom: 1.5rem; flex-wrap: wrap;">
      <%= link_to t(:versions_name), admin_invoice_versions_path(@invoice), class: "c-btn c-btn--ghost c-acount__button c-acount__button--icon" %>
      <%= link_to t('invoices.download'), download_admin_invoice_path(@invoice), { class: 'c-btn c-btn--ghost c-acount__button c-acount__button--icon', download: true } %>

      <% unless @invoice.overdue? || @invoice.paid? %>
        <%= link_to t('invoices.mark_as_paid'), edit_admin_invoice_mark_as_paid_path(@invoice), class: "c-btn c-btn--ghost c-acount__button c-acount__button--icon", data: { turbo_frame: 'modal' } %>

        <% action = @invoice.partial_payments? ? "disallow" : "allow" %>
        <%= button_to t("invoices.#{action}_partial_payments"), admin_invoice_toggle_partial_payment_path(@invoice), class: "c-btn c-btn--ghost c-acount__button c-acount__button--icon", form: { data: { 'turbo-confirm': 'Are you sure?' } }, method: :patch %>
      <% end %>
    </div>
  </div>

  <div class="c-block">
    <h2 class="c-block__title u-h3"><%= t('invoices.info_block') %></h2>
    <table class="table--black" style="width:100%">
      <tbody>
        <tr>
          <td><%= t('invoices.status') %></td>
          <td><%= I18n.t("activerecord.enums.invoice.statuses.#{@invoice.status}") %></td>
        </tr>
        <tr>
          <td><%= t('invoices.issued_for') %></td>
          <td><%= @invoice.recipient %><br><%= @invoice.address %></td>
        </tr>
        <tr>
          <td><%= t(:updated_by) %></td>
          <td><%= @invoice.updated_by %></td>
        </tr>
        <% if @invoice.notes %>
          <tr>
            <td><%= t('invoices.notes') %></td>
            <td><%= @invoice.notes %></td>
          </tr>
        <% end %>
        <% if @invoice.paid_at %>
          <tr>
            <td><%= t('invoices.paid_at') %></td>
            <td><%= @invoice.paid_at %></td>
          </tr>
        <% end %>
        <tr>
          <td><%= t('invoices.issuer') %></td>
          <td><%= Setting.find_by(code: 'invoice_issuer').retrieve %></td>
        </tr>
        <tr>
          <td><%= t('invoices.issue_date') %></td>
          <td><%= @invoice.issue_date %></td>
        </tr>
        <tr>
          <td><%= t('invoices.due_date') %></td>
          <td><%= @invoice.due_date %></td>
        </tr>
        <% if @invoice.paid_with_payment_order %>
          <tr>
            <td><%= t('invoices.paid_through') %></td>
            <td><%= @invoice.paid_with_payment_order&.channel %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="c-block">
    <h2 class="c-block__title u-h3"><%= t('invoices.items') %></h2>
    <% header_collection = [{column: nil, caption: '#', options: {}},
                        { column: nil, caption: t('invoices.item'), options: { class: "" } },
                        { column: nil, caption: '', options: { class: "" } },
                        { column: nil, caption: t('invoices.price'), options: { class: "" } },] %>
    <%= component 'common/table', header_collection:, options: { class: 'table' } do %>
      <%= tag.tbody class: 'contents' do %>
        <% @invoice.items.each_with_index do |item, index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td>
              <%= I18n.t('invoice_items.name',
                        domain_name: item.invoice.result.auction.domain_name,
                        auction_end: item.invoice.result.auction.ends_at.to_date) %>
            </td>
            <td></td>
            <td><%= item.price %></td>
          </tr>
        <% end %>
      <% end %>
      <tfoot>
        <tr>
          <td scope="col"></td>
          <td scope="col"><%= t('invoices.vat_amount') %></td>
          <td> <%= number_to_percentage(@invoice.vat_rate * 100, precision: 0) %></td>
          <td scope="col"><%= t('offers.price_in_currency', price: @invoice.vat) %></td>
        </tr>
        <tr>
          <th scope="col"></th>
          <th scope="col"><%= t('invoices.total') %></th>
          <th></th>
          <th scope="col"><%= t('offers.price_in_currency', price: @invoice.total + (@invoice.enable_deposit? ? @invoice.deposit : 0.0)) %></th>
        </tr>
        <% if @invoice.paid? || @invoice.partial_payments? %>
          <tr>
            <th scope="col"></th>
            <th scope="col"><%= t('invoices.vat_rate_on_payment') %></th>
            <th></th>
            <th scope="col"><%= number_to_percentage(@invoice.vat_rate * 100, precision: 0) %></th>
          </tr>
          <tr>
            <th scope="col"></th>
            <th scope="col"><%= t('invoices.total_paid') %></th>
            <th></th>
            <th scope="col"><%= t('offers.price_in_currency', price: @invoice.paid_amount || 0) %></th>
          </tr>
        <% end %>
        <% if @invoice.enable_deposit? %>
          <tr style=''>
            <td scope="col" style='font-weight: bold; background-color: #f0e68c; border-top-color: "#ccc";'></td>
            <td scope="col" style='font-weight: bold; background-color: #f0e68c; border-top-color: "#ccc";'><%= t('invoices.deposit') %></td>
            <td style='background-color: #f0e68c;'></td>
            <td scope="col" style='font-weight: bold; background-color: #f0e68c; border-top-color: "#ccc";'><%= t('offers.price_in_currency', price: @invoice.deposit) %></td>
          </tr>
          <tr>
            <td scope="col" style='font-weight: bold; background-color: #f0e68c;'></td>
            <td scope="col" style='font-weight: bold; background-color: #f0e68c;'><%= t('invoices.amount_due') %></td>
            <td style='background-color: #f0e68c;'></td>
            <td scope="col" style='font-weight: bold; color: red; background-color: #f0e68c;'><%= t('offers.price_in_currency', price: @invoice.total) %></td>
          </tr>
        <% end %>
      </tfoot>
    <% end %>
  </div>

  <div class="c-block">
    <h2 class="c-block__title u-h3"><%= t('payment_orders.title') %></h2>
    <% header_collection = [{column: nil, caption: '#', options: {}},
                        { column: nil, caption: t('payment_orders.channel'), options: { class: "" } },
                        { column: nil, caption: t('payment_orders.status'), options: { class: "" } },
                        { column: nil, caption: t('payment_orders.initiated'), options: { class: "" } },
                        { column: nil, caption: t('payment_orders.response'), options: { class: "" } },] %>
    <%= component 'common/table', header_collection:, options: { class: 'table--black' } do %>
      <%= tag.tbody class: 'contents' do %>
        <% @payment_orders.each do |payment_order| %>
          <tr>
            <td><%= payment_order.id %></td>
            <td><%= payment_order.channel %></td>
            <td><%= payment_order.status %></td>
            <td><%= payment_order.created_at %></td>
            <td><%= fetch_errors_from_response(channel: payment_order.channel, response: payment_order.response) %></td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
