<% content_for :hero do %>
    <div class="hero orange">
        <h1><%= t('.title', invoice_number: @invoice.id) %></h1>
    </div>
<% end %>

<div class="u-container">
    <div class="margin-block">
        <div class="ui two column doubling stackable grid">
            <div class="column sixteen wide">
                <%= link_to t(:versions_name), admin_invoice_versions_path(@invoice), class: "ui button primary" %>
                <%= link_to t('invoices.download'), download_admin_invoice_path(@invoice),
                            { class: 'ui button secondary', target: "_blank" } %>
            </div>

            <div class="column">
                <div class="ui list">
                    <div class="item">
                        <div class="header"><%= t('invoices.status') %></div>
                        <%= I18n.t("activerecord.enums.invoice.statuses.#{@invoice.status}") %>
                    </div>

                    <div class="item">
                        <div class="header"><%= t('invoices.issued_for') %></div>
                        <%= @invoice.billing_profile.name %><br>
                        <%= @invoice.billing_profile.address %>
                    </div>
                </div>
            </div>

            <div class="column right aligned">
                <div class="ui list">
                    <div class="item">
                        <div class="header"><%= t('invoices.issuer') %></div>
                        <%= Setting.invoice_issuer %>
                    </div>

                    <div class="item">
                        <div class="header"><%= t('invoices.issue_date') %></div>
                        <%= @invoice.issue_date %>
                    </div>

                    <div class="item">
                        <div class="header"><%= t('invoices.due_date') %></div>
                        <%= @invoice.due_date %>
                    </div>
                </div>
            </div>

            <div class="column sixteen wide">
                <h2><%= t('invoices.items') %></h2>
                <table class="ui table" id="invoice-items-table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col"><%= t('invoices.item') %></th>
                            <th scope="col"><%= t('invoices.price') %></th>
                        </tr>
                    </thead>

                    <tbody id="invoice-items-table-body">
                        <% @invoice.items.each_with_index do |item, index| %>
                            <tr>
                                <td><%= index + 1 %></td>
                                <td><%= item.name %></td>
                                <td><%= item.price %></td>
                            </tr>
                        <% end %>
                    </tbody class="mb-2">

                    <tfoot>
                        <tr>
                            <td scope="col"></td>
                            <td scope="col"><%= t('invoices.vat_exclusive', price: @invoice.price) %></td>
                            <td scope="col"><%= t('offers.price_in_currency', price: @invoice.price) %></td>
                        </tr>

                        <tr>
                            <td scope="col"></td>
                            <td scope="col"><%= t('invoices.vat_rate', price: @invoice.price) %></td>
                            <td scope="col">
                                <%= number_to_percentage(@invoice.billing_profile.vat_rate * 100, precision: 0) %>
                            </td>
                        </tr>
                        <tr>
                            <td scope="col"></td>
                            <td scope="col"><%= t('invoices.vat_amount') %></td>
                            <td scope="col"><%= t('offers.price_in_currency', price: @invoice.vat) %></td>
                        </tr>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col"><%= t('invoices.total') %></th>
                            <th scope="col"><%= t('offers.price_in_currency', price: @invoice.total) %></th>
                        </tr>

                        <% if @invoice.paid? %>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col"><%= t('invoices.vat_rate_on_payment') %></th>
                                <th scope="col"><%= t('offers.price_in_currency', price: @invoice.vat_rate) %></th>
                            </tr>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col"><%= t('invoices.total_paid') %></th>
                                <th scope="col"><%= t('offers.price_in_currency', price: @invoice.total_amount) %></th>
                            </tr>
                        <% end %>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
