<%= form_with(url: url, local: true, scope: :phone_confirmation, id: "phone_confirmation_form", class: "ui form big") do |f| %>
    <div class="ui two column doubling stackable grid">
        <div class="column">
            <div class="field">
                <%= f.label :confirmation_code %>
                <%= f.text_field :confirmation_code %>
            </div>

            <div class="column wide sixteen">
                <%= f.submit t(:submit), class: "ui button primary" %>
                <%= link_to t(:back), :back, class: "ui button secondary" %>
            </div>
        </div>
    </div>
<% end %>
