<% content_for :hero do %>
    <div class="hero green">
        <h1><%= t('.title') %></h1>
    </div>
<% end %>

<div class="u-container" data-controller='timeleft'
                         data-timeleft-date-value="<%= I18n.l(current_user.mobile_phone_confirmed_sms_send_at + PhoneConfirmation::TIME_LIMIT) %>"
                         data-timeleft-refresh-interval-value="500" data-timeleft-message-timer-value="<%= I18n.t('phone_confirmations.new.send_again') %>" 
                         data-timeleft-default-message-timer-value="<%= I18n.t('phone_confirmations.new.send_code') %>">
    <div class="u-container margin-block">
        <h3><%= t('.subheader' , number: @phone_confirmation.user.mobile_phone )%></h3>
        <p><%= t('.instructions', number: @phone_confirmation.user.mobile_phone )%></p>

        <%= render 'form', phone_confirmation: @phone_confirmation, url: user_phone_confirmations_path %><br />
        
        <% if current_user.allow_to_send_sms_again? %>
          <%= button_to I18n.t('phone_confirmations.new.send_code'), send_sms_user_phone_confirmations_path, class: "ui button primary", data: { timeleft_target: 'button' } %>
        <% else %>
          <%= button_to I18n.t('phone_confirmations.new.send_again'), send_sms_user_phone_confirmations_path, class: "ui button primary", data: { timeleft_target: 'button' }, disabled: true %>
        <% end if render_send_in_button? %>

        <div class="column">
          <% if @captcha_required %>
            <% if @show_checkbox_recaptcha %>
              <div class="field">
                <br>
                <%= recaptcha_tags id: 'english_offer', site_key: @recaptcha2_site_key %>
              </div>
            <% else %>
                <%= recaptcha_v3(action: 'english_offer', site_key: @recaptcha3_site_key, turbolinks: true) %>
            <% end %>
          <% end %>
        </div>

    </div>
</div>
