<% content_for :hero do %>
    <div class="hero green">
        <h1><%= t(:finished) %></h1>
    </div>
<% end %>

<div class="features-grid top narrow grey ">
        <div class="ui input">

          <%= form_with url: histories_path, 
            method: :get,
            data: { controller: 'debounce',
                    debounce_target: 'form',
                    turbo_action: "advance",
                    turbo_frame: "results",
                    action: 'input->debounce#search' 
                    }, class: 'ui big form' do |form| %>
            <div class="inline fields">
              <div class="field">
                <%= form.search_field :domain_name, value: params[:domain_name], placeholder: t('search_by_domain_name'), class: 'prompt' %>
              </div>
              <div class="field">
                <%= form.label :type, 'Select type of auction' %>
                <%= form.select :type, options_for_select(Auction.platforms, selected: params[:type]), {include_blank: 'All'}, {class: '' } %>
              </div>
              <div class="field">
                <%= link_to 'Clear', request.path, class: 'ui primary button' %>
              </div>
            </div>
          <% end %>
        </div>
</div>

<div class="u-container">
    <div class="margin-block">
        <div class="grid one column">
            <%= turbo_frame_tag "results" do %>
                <div class="column">
                    <h3>Finished auctions</h3>
                    <div>
                      <%= link_to t('histories.current_auctions'), auctions_path, style: 'margin-bottom: 20px; display: block; font-size: 18px; color: #03456f;' %>
                    </div>
                    <table class="ui table" id="finished-auctions-table">
                        <thead>
                            <tr>
                                <th scope="col">
                                    <%= t('auctions.domain_name') %>
                                    <%= sort_link_to "", "domain_name" %>
                                </th>
                                <th scope="col">
                                  <%= t('auctions.starts_at') %>
                                  <%= sort_link_to "", "starts_at" %>  
                                </th>
                                <th scope="col">
                                  <%= t('auctions.finished_at') %>
                                  <%= sort_link_to "", "ends_at" %> 
                                </th>
                                <th scope="col">
                                  Type
                                  <%= sort_link_to "", "platform" %>   
                                </th>
                            </tr>
                        </thead>

                        <tbody id="finished-auctions-table">
                            <% @auctions.each do |auction| %>
                                <tr class="finished-auctions-table-row">
                                    <td class="monospace"><%= auction.domain_name %></td>
                                    <td><%= auction.starts_at.to_formatted_s(:long) %></td>
                                    <td><%= auction.ends_at.to_formatted_s(:long) %></td>
                                    <td>
                                      <% if auction.platform.nil? %>
                                        Blind
                                      <% else %>
                                        <%= auction.platform %>
                                      <% end %>
                                    </td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
              
                <div class="column" style="margin-top:10px; text-align: center;">
                <% if @pagy.pages > 1 %>
                    <div class="footer">
                        <%== pagy_nav(@pagy) %>
                    </div>
                <% end %>
                </div>
            <% end %>

        </div>
    </div>
</div>
