<%# TODO: Make as auctuion index page %>

<% content_for :hero do %>
    <div class="hero green">
        <h1><%= t(:finished) %></h1>
    </div>
<% end %>

<div class="features-grid top narrow grey ">
    <div class="ui input">
        <%= form_with url: histories_path, 
                      method: :get,
                      data: { controller: 'debounce',
                              debounce_target: 'form',
                              turbo_action: "advance",
                              turbo_frame: "results",
                              action: 'input->debounce#search' 
                              }, class: 'ui big form' do |form| %>
            <div class="inline fields">
                <div class="field">
                    <%= form.search_field :domain_name, value: params[:domain_name], placeholder: t('search_by_domain_name'), class: 'prompt' %>
                </div>
                <div class="field">
                    <%= form.label :type, t('auctions.index.select_type') %>
                    <%= form.select :type, options_for_select(Auction.platforms.map {|k, v| [t("auctions.#{k}"), v]}, selected: params[:type]), { include_blank: t(:all) }, { class: '' } %>
                </div>
                <div class="field">
                    <%= link_to t(:clear), request.path, class: 'ui primary button' %>
                </div>
            </div>
        <% end %>
    </div>
</div>

<div class="u-container">
    <div class="margin-block">
        <div class="grid one column">
            <%= turbo_frame_tag "results" do %>
                <div class="column">
                    <div class="ui grid">
                      <div class="four wide column"><h3><%= t('auctions.finished_auctions') %></h3></div>

                      <div class="four wide column"></div>
                      <div class="four wide column"></div>

                      <div class="four wide column" style='text-align: right;'>
                        <%= link_to t('histories.current_auctions'), auctions_path, style: 'margin-bottom: 20px; display: block; font-size: 18px; color: #03456f;', target: '_top' %>
                      </div>
                    </div>

                    <table class="ui table" id="finished-auctions-table">
                        <thead>
                            <tr>
                                <th scope="col">
                                    <%= t('auctions.domain_name') %>
                                    <%= sort_link_to "", "domain_name" %>
                                </th>
                                <th scope="col">
                                  <%= t('auctions.starts_at') %>
                                  <%= sort_link_to "", "starts_at" %>  
                                </th>
                                <th scope="col">
                                  <%= t('auctions.finished_at') %>
                                  <%= sort_link_to "", "ends_at" %> 
                                </th>
                                <th scope="col">
                                  <%= t('auctions.winning_bid') %>
                                  <%= sort_link_to "", "users_price" %> 
                                </th>
                                <th scope="col">
                                  <%= t('auctions.auction_type') %>
                                  <%= sort_link_to "", "platform" %>   
                                </th>
                            </tr>
                        </thead>

                        <tbody id="finished-auctions-table">
                            <% @auctions.each do |auction| %>
                                <tr class="finished-auctions-table-row" data-controller="auction-timezone" data-auction-timezone-end-time-value="<%= auction.ends_at.iso8601 %>">
                                    <td class="monospace"><%= auction.domain_name %></td>
                                    <td><%= auction.starts_at.to_formatted_s(:long) %></td>
                                    <td><span data-auction-timezone-target="display"><%= auction.ends_at %></span></td>
                                    <td><%= auction.currently_winning_offer&.price if auction.platform == 'english' %></td>
                                    <td>
                                        <%= t("auctions.#{auction.platform&.downcase.presence || 'blind (lagacy)'}") %>
                                    </td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
                <div class="column">
                    <div style="margin-top:10px; text-align: center;">
                        <% if @pagy.pages > 1 %>
                            <div class="footer">
                                <%== pagy_nav(@pagy) %>
                            </div>
                        <% end %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>
