<% content_for :hero do %>
    <div class="main-hero main-hero--green">
        <h1><%= t('.title') %></h1>
        <%= @result.auction.domain_name %>
    </div>
<% end %>

<div class="u-container">
    <div class="ui segment padded-block">
        <div class="content">
            <div class="ui list">
                <div class="item">
                    <div class="header"><%= t('auctions.ends_at') %></div>
                    <%= I18n.l(@result.auction.ends_at) %>
                </div>

                <div class="item">
                    <div class="header"><%= t('results.registration_password') %></div>
                    <%= @result.registration_password %>
                </div>

                <div class="item">
                    <% if @result.invoice %>
                        <%= link_to t('results.invoice'), invoice_path(@result.invoice.uuid),
                        class: "ui button big primary" %>
                    <% else %>
                        <%= t('invoices.is_being_generated') %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
