<footer class="c-footer">
  <div class="o-container">
    <div class="c-footer__grid">
      <div class="c-footer__highlight">
        <a class="layout--footer-logo" href="<%= footer_logo_url %>" target="_blank" rel="noopener">
          <%= render 'svg/footer_eis_logo' %>
        </a>
        <div class="c-footer__highlight__grid c-footer__highlight__grid--row-t">
          <div class="c-footer__highlight__grid">
            <h3 class="c-footer__highlight__title"><%= footer_highlight_title %></h3>
            <p class="c-footer__highlight__info"><%= footer_highlight_info %></p>
          </div>
          <div class="c-footer__highlight__contact">
            <span>
              <%= render 'svg/email' %><a href="<%= footer_email_href %>" target="_blank" rel="noopener"><%= footer_email_text %></a><br>
            </span>
            <span>
              <%= render 'svg/phone' %><%= footer_phone_text %>
            </span>
          </div>
        </div>
      </div>
      <div class="c-footer__grid__row">
        <% footer_navigation_columns.each_with_index do |column, index| %>
          <div class="c-footer__row__col s-footer-col">
            <div>
              <span style="color: rgb(255, 255, 255);">
                <b><span style="font-size: 15px;"><%= column[:name] %><br></span></b>
              </span>
            </div>
            <div>
              <span style="color: rgb(255, 255, 255);">
                <b><span style="font-size: 15px;"><br></span></b>
              </span>
            </div>
            <div style="line-height: 23px;"><span style="color: rgb(255, 255, 255);"><b></b>
              <% column[:links].each do |link| %>
                <span style="font-size: 13px;"><%= link_to link[:label], link[:url], link[:html_options] %></span><br>
              <% end %>
              <% if index == 0 %>
                <span style="font-size: 13px;"><a href="<%= Setting.find_by(code: 'terms_and_conditions_link').retrieve %>" target="_blank"><%= t('common.footer.labels.terms_and_conditions') %></a></span>
              <% end %>
              </span>
            </div>
          </div>
        <% end %>
        <div class="c-footer__row__col s-footer-col">
          <div><b><span style="font-size: 14px;"><%= footer_social_column_title %><br></span></b></div>
          <div><b><br></b></div>
          <div class="c-socials">
            <% footer_social_links.each do |social| %>
              <% partial = "svg/#{social[:key]}" %>
              <% next unless lookup_context.exists?(partial, [], true) %>

              <a href="<%= social[:url] %>" title="<%= social[:title] %>" target="_blank" rel="noopener">
                <%= render partial %>
              </a>
            <% end %>
          </div>
        </div>
        <a target="_blank" href="https://sviiter.ee" class="c-footer__sviiter"><%= render 'svg/sviiter' %></a>
      </div>
    </div>
  </div>
</footer>
