<% content_for :hero do %>
    <div class="hero orange">
        <h1><%= t('.title') %></h1>
    </div>
<% end %>

<div class="u-container">
    <div class="margin-block">
        <table class="ui table unstackable" class="jobs-table">
            <thead>
                <th scope="col"><%= t('jobs.name') %></th>
                <th scope="col"><%= t('actions') %></th>
            </thead>
            <tbody class="jobs-table-body">
                <% @jobs.each do |job| %>
                    <tr class="jobs-table-row <%= job.job_name %>">
                        <td><%= job.job_name %></td>
                        <td>
                            <%= form_with(model: job, local: true, url: admin_jobs_path) do |f| %>
                                <%= f.hidden_field :job_class %>
                                <%= f.submit t('jobs.run'),
                                             class: "ui button secondary",
                                             disabled: !job.needs_to_run? %>
                            <% end %>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
