<% content_for :hero do %>
    <div class="hero orange">
        <h1><%= t('.title') %></h1>
    </div>
<% end %>

<div class="ui container">
    <div class="margin-block">
        <div class="ui centered grid">
            <div class="ten wide column ui form">
                <%= form_with(url: admin_statistics_path, local: true, method: :get) do |f| %>
                    <div class="ui centered grid ">
                        <div class="five wide column">
                            <div class="field">
                                <%= f.date_field :start_date, value: @start_date %>
                            </div>
                        </div>
                        <div class="five wide column">
                            <%= f.date_field :end_date, value: @end_date %>
                        </div>
                        <div class="four wide column">
                            <%= f.submit t(:submit), class: "ui button primary" %>
                        </div>
                    </div>
                <% end %>
            </div>
            <div class="ten wide column">
                <h3>Auctions</h3>
                <%= line_chart [
                    { name: 'Auctions total', data: @data[:auctions]},
                    { name: 'Auctions without bids', data: @data[:auctions_without_offers]},
                    { name: 'Auctions with bids', data: @data[:auctions_with_offers]},
                               ] %>
            </div>

            <div class="ten wide column">
                <h3>Average number of bids per domain</h3>
                <%= line_chart @data[:average_offers_per_auction] %>
            </div>
        </div>
    </div>
</div>
