<% content_for :hero do %>
    <div class="main-hero main-hero--orange">
        <h1><%= t('.title') %></h1>
    </div>
<% end %>

<div class="u-container">
    <div class="u-container ui segment padded-block">
        <% if @auction.errors.any? %>
            <div class="ui message">
                <div class="header">
                    <%= pluralize(@auction.errors.count, "error") %> <%= t('.errors') %>
                </div>
                <ul id="errors">
                    <% @auction.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>

        <%= render 'form', auction: @auction, url: admin_auctions_path %>
    </div>
</div>
