<% content_for :hero do %>
    <div class="hero orange">
        <h1><%= t('.title') %></h1>
        <div class="monospace"><%= @auction.domain_name %></div>
    </div>
<% end %>

<div class="u-container">
    <div class="margin-block">
        <div class="body">
            <div class="body">
                <table class="ui table very basic padded">
                    <tbody>
                        <tr>
                            <td><strong><%= t('auctions.domain_name') %></strong></td>
                            <td class="monospace">
                                <%= domain_name_with_embedded_colors(@auction.domain_name) %>
                            </td>
                        </tr>
                        <tr>
                            <td><strong><%= t('auctions.starts_at') %></strong></td>
                            <td><%= I18n.l(@auction.starts_at) if @auction.starts_at.present? %>
                        </tr>
                        <tr>
                            <td><strong><%= t('auctions.ends_at') %></strong></td>
                            <td><%= I18n.l(@auction.ends_at) if @auction.ends_at.present? %></td>
                        </tr>
                        <%- if @auction.offer_from_user(current_user).present? %>
                            <tr>
                                <td><strong><%= t('auctions.your_current_price') %></strong></td>
                                <td><%= @auction.current_price_from_user(current_user) %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>


            <div class="buttons">
                <%= link_to t(:delete), admin_auction_path(@auction),
                method: :delete,
                data: { confirm: t(:are_you_sure) } ,
                remote: true, class: "ui button secondary" %>

                <%- if @auction.result %>
                    <%= link_to t(:result_name), admin_result_path(@auction.result),
                    class: "ui button primary" %>
                <% end %>

                <%= link_to t(:versions_name), admin_auction_versions_path(@auction),
                class: "ui button primary" %>
            </div>
        </div>
    </div>
    <div class="margin-block">
        <h2><%= t(:offers_name) %></h2>
        <table class="ui table" id="auctions-offers-table">
            <thead>
                <tr>
                    <th scope="col"><%= t('offers.price') %></th>
                    <th scope="col"><%= t('users.display_name') %></th>
                    <th scope="col"><%= t(:created_at) %></th>
                    <th scope="col"><%= t(:updated_at) %></th>
                    <th scope="col"><%= t(:versions_name)%> </th>
                </tr>

                <tbody id="offers-table-body">
                    <% @offers.each do |offer| %>
                        <tr class="offers-table-row">
                            <td><%= t('offers.price_in_currency', price: offer.price) %></td>
                            <td><%= offer.user&.display_name || t(:deleted_user) %></td>
                            <td><%= I18n.l(offer.created_at) %></td>
                            <td><%= I18n.l(offer.updated_at) %></td>
                            <td><%= link_to t(:versions_name), admin_offer_versions_path(offer), class: "ui button primary" %></td>
                        </tr>
                    <% end %>
                </tbody>
        </table>
    </div>

    <%# if @auction.enable_deposit? %>
        <%#= render partial: 'deposit_participants', locals: { auction: @auction } %>
    <%# end %>


</div>
