<% content_for :hero do %>
    <div class="hero orange">
        <h1><%= t('.title') %></h1>
        <%= @auction.domain_name %>
    </div>
<% end %>

<div class="u-container">
    <div class="margin-block">
        <div class="content">
            <%- if @auction.finished? %>
                <div class="ui centered aligned header"><%= t('auctions.finished') %></div>
            <% end %>

            <div class="ui list">
                <div class="item">
                    <div class="header"><%= t('auctions.starts_at') %></div>
                    <%= @auction.starts_at %>
                </div>
            </div>

            <div class="ui list">
                <div class="item">
                    <div class="header"><%= t('auctions.ends_at') %></div>
                    <%= @auction.ends_at %>
                </div>
            </div>

            <div class="buttons">
                <%= link_to t(:delete), admin_auction_path(@auction),
                method: :delete,
                data: { confirm: t(:are_you_sure) } ,
                remote: true, class: "ui button secondary" %>

                <%- if @auction.result %>
                    <%= link_to t(:result_name), admin_result_path(@auction.result),
                    class: "ui button primary" %>
                <% end %>

                <%= link_to t(:versions_name), admin_auction_versions_path(@auction),
                class: "ui button primary" %>
            </div>
        </div>
    </div>
    <div class="margin-block">
        <h2><%= t(:offers_name) %></h2>
        <table class="ui table" id="auctions-offers-table">
            <thead>
                <tr>
                    <th scope="col"><%= t('offers.price') %></th>
                    <th scope="col"><%= t('users.display_name') %></th>
                    <th scope="col"><%= t(:created_at) %></th>
                    <th scope="col"><%= t(:updated_at) %></th>
                    <th scope="col"><%= t(:versions_name)%> </th>
                </tr>

                <tbody id="offers-table-body">
                    <% @offers.each do |offer| %>
                        <tr class="offers-table-row">
                            <td><%= t('offers.price_in_currency', price: offer.price) %></td>
                            <td><%= offer.user&.display_name || t(:deleted_user) %></td>
                            <td><%= I18n.l(offer.created_at) %></td>
                            <td><%= I18n.l(offer.updated_at) %></td>
                            <td><%= link_to t(:versions_name), admin_offer_versions_path(offer), class: "ui button primary" %></td>
                        </tr>
                    <% end %>
                </tbody>
        </table>
    </div>
</div>
