<div class="row">
    <div class="col-12">
        <h1 class="mb-3 mt-4"><%= t('.title') %></h1>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h2><%= @auction.domain_name %></h2>
                <%- if @auction.finished? %>
                    <h3><%= t('auctions.finished') %></h3>
                <% end %>

                <dl class="mb-6 no-bullets auction-card">
                    <dt><%= t('auctions.starts_at') %></dt>
                    <dd><%= @auction.starts_at %></dd>

                    <dt><%= t('auctions.ends_at') %></dt>
                    <dd><%= @auction.ends_at %></dd>
                </dl>


                <%= link_to t(:delete), admin_auction_path(@auction),
                            method: :delete,
                            data: { confirm: t(:are_you_sure) } ,
                            remote: true, class: "card-link" %>
                <%= link_to t(:versions_name), admin_auction_versions_url(@auction),
                            class: "card-link mt" %>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-12">
        <h2><%= t(:offers_name) %></h2>
        <table class="table" id="auctions-offers-table">
            <thead>
                <tr>
                    <th scope="col"><%= t('offers.price') %></th>
                    <th scope="col"><%= t('users.display_name') %></th>
                    <th scope="col"><%= t(:created_at) %></th>
                    <th scope="col"><%= t(:updated_at) %></th>
                    <th scope="col"><%= t(:versions_name)%> </th>
                </tr>

                <tbody id="offers-table-body">
                    <% @offers.each do |offer| %>
                        <tr class="offers-table-row">
                            <td><%= t('offers.price_in_currency', price: offer.price) %></td>
                            <td><%= offer.user.display_name %></td>
                            <td><%= I18n.l(offer.user.created_at) %></td>
                            <td><%= I18n.l(offer.user.updated_at) %></td>
                            <td><%= link_to t(:versions_name), admin_offer_versions_path(offer) %></td>
                        </tr>
                    <% end %>
                </tbody>
        </table>
    </div>
</div>
