<style>
.custom-centrilize {
    display: flex !important;
    justify-content: space-around;
}

@media only screen and (max-width: 767px) {
            .custom-centrilize {
                flex-direction: column;
            }

            #counter {
                visibility: hidden;
            }
        }
</style>

<% content_for :hero do %>
    <div class="hero green">
        <h1><%= t(:my_wishlist) %></h1>
    </div>
<% end %>

<div class="features-grid top green">
    <div class="overview">
        <div class="u-container">
            <span class="title"><%= t('.limit_html', limit: Setting.find_by(code: 'wishlist_size').retrieve) %></span>
        </div>
    </div>
    <div class="u-container center page">
        <div class="items custom-centrilize">
            <div class="item">
                <h3 class="ui icon header">
                    <i class="clipboard list icon"></i>
                    <div class="content">
                        <%= t('.list_title') %>
                        <div class="sub header"><%= t('.list_description') %></div>
                    </div>
                </h3>
            </div>
            <div class="item">
                <h3 class="ui icon header">
                    <i class="cloud icon"></i>
                    <div class="content">
                        <%= t('.notification_title') %>
                        <div class="sub header"><%= t('.notification_description') %></div>
                    </div>
                </h3>
            </div>
        </div>
    </div>
</div>


<div class="u-container">
    <div class="margin-block">
        <div class="grid one column">
            <h2><%= t('.new_item') %></h2>

            <div id="errors" class="ui message hidden">
                <div class="header">
                    <%= t(:errors_name) %>
                </div>
                <ul id="errors-list">
                </ul>
            </div>

            <%= form_with(model: @wishlist_item, url: wishlist_items_path,
                          class: "ui form big", id: "wishlist_item_form") do |f| %>
                <%= f.hidden_field :user_id, value: @wishlist_item.user_id %>

                <div class="field">
                    <%= f.label :domain_name, t('auctions.domain_name') %>
                    <%= f.text_field :domain_name %>
                </div>

                <div class="buttons">
                    <%= f.submit t(:submit), class: "ui button primary", id: "wishlist_item_form_commit", data: { turbo: false } %>
                </div>
            <% end %>
            <br>
        </div>

        <div class="column">
            <table class="table ui stackable" id="my-wishlist-table">
                <thead>
                    <tr>
                        <th scope="col" id="counter">#</th>
                        <th scope="col"><%= t('auctions.domain_name') %></th>
                        <th scope="col"><%= t('actions') %></th>
                        <th scope="col"><%= t('.my_bid') %>
                          <a data-tooltip="<%= t('.my_bid_tooltip') %>"><i class="blue info icon"></i></a>
                        </th>
                    </tr>
                </thead>

                <tbody id="wishlist-table-body">
                    <% @wishlist_items.each_with_index do |wishlist_item, index| %>
                        <tr class="wishlist-table-row">
                            <td><%= index + 1 %></td>
                            <td><%= wishlist_item.domain_name %></td>
                            <td>
                                <%= link_to t(:delete), wishlist_item_path(wishlist_item.uuid),
                                 method: :delete, data: { confirm: t(:are_you_sure) },
                                 remote: true, class: "ui button red" %>
                            </td>
                            <td data-turbo="true">
                                <%= turbo_frame_tag dom_id(wishlist_item) do %>
                                    <%= render partial: 'starting_price', locals: { wishlist_item: wishlist_item } %>
                                <% end %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>

        <div class="column" style="margin-top:10px; text-align: center;">
        </div>
    </div>
</div>

<%= javascript_pack_tag 'wishlist_items', 'data-turbolinks-track': 'reload' %>
