<%= form_with model: autobider, url: url do |f| %>
  <div class="ui grid centered", style='margin-top: 20px; margin-bottom: 40px;' style: "">
    <%= f.hidden_field :domain_name, value: offer.auction.domain_name %>
    <%= f.hidden_field :user_id, value: offer.user_id %>

    <%= f.label "Autobider (current value):", style: "valign-item: center; padding-top: 10px;"%>
    <%= f.number_field :price, class: "form-control", min: 0, step: "0.01", disabled: offer.auction.finished? ? true : false %>

    <%= f.submit t(:submit), class: "ui button primary", data: { turbo: false }, id: 'autobidder_action', style: 'margin-left: 10px;' %>
  </div>
<% end %>
