<style>
.centrilize-form {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
}

.right-btns {
    display: flex !important;
    flex-direction: row !important;
    justify-content: flex-end !important;
}
</style>

<%= form_with(model: offer, local: true, url: url, class: "ui form big centrilize-form") do |f| %>
    <div class="ui one column grid centered">
        <div class="column">
            <%= f.hidden_field :user_id, value: offer.user_id %>
            <%= f.hidden_field :auction_id, value: offer.auction_id %>

            <div id="offer_<%=offer.auction.id%>_form">
                <%= render partial: 'number_form_field', locals: {offer_value: offer.auction.min_bids_step , offer_disabled: offer.auction.finished? ? true : false } %>
            </div>
            <br>

            <div class="field">
                <%= f.label :billing_profile, t('.bidder') %>
                <%= f.select :billing_profile_id,
                billing_profiles = BillingProfile.where(user_id: offer.user_id).collect { |b| [b.name, b.id] },
                {},
                class: billing_profiles.size == 1 ? "ui dropdown disabled" : "ui dropdown" %><br>
            </div>

            <%= link_to t(:new_billing_profile),  new_billing_profile_path %>
        </div>

        <div class="column">
            <% if @captcha_required %>
                <div class="field">
                    <br>
                    <%= recaptcha_tags %>
                </div>
            <% end %>
        </div>

        <div class="column wide sixteen right-btns" style="margin-top: -30px;">
            <%= f.submit t(:submit), class: "ui button primary", id: 'bid_action', data: { turbo: false } %>
            <%= link_to t(:back), :back, class: "ui button secondary" %>
        </div>
    </div>
<% end %>
