<%= turbo_stream_from "auction_min" %>
<% english_auction_presenter = EnglishBidsPresenter.new(offer.auction) %>

<%= form_with(model: offer, local: true, url: url, class: "ui form big") do |f| %>
    <%= tag.h5 id: 'mini' do %>
        Minimum bid is <%= offer.auction.min_bids_step %>
    <% end %>

    <%= tag.h5 id: 'current' do %>
        Current price is <%= english_auction_presenter.maximum_bids %>
    <% end %>

    <p>English auction finish at <span style='font-weight: 800;'><%= I18n.l(offer.auction.ends_at) %></span></p>
    <div class="ui two column doubling stackable grid">
        <div class="column">
            <%= f.hidden_field :user_id, value: offer.user_id %>
            <%= f.hidden_field :auction_id, value: offer.auction_id %>

            <div class="field">
                <%= f.label :price, t('.offer') %>
                <%= f.number_field :price, class: "form-control", min: 0, step: "0.01", value: "#{ offer.auction.min_bids_step }", disabled: offer.auction.finished? ? true : false %>
                <br>
                <em>
                    <%= t('.minimum_offer',
                          minimum: Money.new(Setting.find_by(code: 'auction_minimum_offer').retrieve,
                                             Setting.find_by(code: 'auction_currency').retrieve)) %>
                    <%= t('offers.price_is_without_vat') %>
                </em>
                <br>
            </div>

            <div class="field">
                <%= f.label :billing_profile, t('.bidder') %>
                <%= f.select :billing_profile_id,
                billing_profiles = BillingProfile.where(user_id: offer.user_id).collect { |b| [b.name, b.id] },
                {},
                class: billing_profiles.size == 1 ? "ui dropdown disabled" : "ui dropdown" %><br>
            </div>

            <%= link_to t(:new_billing_profile),  new_billing_profile_path %>
        </div>

        <div class="column">
            <% if @captcha_required %>
                <div class="field">
                    <br>
                    <%= recaptcha_tags %>
                </div>
            <% end %>
        </div>

        <div class="column wide sixteen">
            <%= f.submit t(:submit), class: "ui button primary", data: { turbo: false } %>
            <%= link_to t(:back), :back, class: "ui button secondary" %>
        </div>
    </div>
<% end %>
