<style>
  .centrilize-form {
      display: flex !important;
      flex-direction: row !important;
      justify-content: center !important;
  }
  
  .right-btns {
      display: flex !important;
      flex-direction: row !important;
      justify-content: flex-end !important;
  }
</style>
<%= form_with model: offer, local: true, url: url, class: "ui form big centrilize-form",
    data: { controller: 'autotax-counter', autotax_counter_template_value: t('english_offers.price_with_wat_template'),
            autotax_counter_tax_value: "#{offer.billing_profile.present? ? offer.billing_profile.vat_rate : 0.0 }",
            autotax_counter_defaulttemplate_value: t('offers.price_is_without_vat')} do |f| %>
  <div class="ui one column grid centered">
    <div class="column">
      <%= f.hidden_field :user_id, value: offer.user_id %>
      <%= f.hidden_field :auction_id, value: offer.auction_id %>

      <div class="field">
        <%= f.label :price, t('english_offers.form.offer_title') %>
        <span id="offer_<%=offer.auction.id%>_form">
          <%= render partial: 'number_form_field', locals: { offer_value: offer.auction.min_bids_step.to_f, offer_disabled: offer.auction.finished? ? true : false } %>
        </span>
        <em>
          <small data-autotax-counter-target='result' >
            <% if offer.billing_profile.present? %>
              <%= t('offers.price_with_wat', price: (@auction.min_bids_step.to_f * offer.billing_profile.vat_rate.to_f).to_f + @auction.min_bids_step.to_f, tax: offer.billing_profile.vat_rate * 100)  %>
            <% else %>
              <%= t('offers.price_is_without_vat') %>
            <% end %>
          </small>
        </em>
      </div>

      <div class="field">
        <%= f.label :billing_profile, t('.bidder') %>
        <% billing_profiles = BillingProfile.where(user_id: offer.user_id).collect { |b| [b.name, b.id, { 'data-vat-rate' => b.vat_rate }] } %>
        <%= f.select :billing_profile_id,
                    billing_profiles,
                    {},
                    disabled: billing_profiles.size == 1,
                    data: { action: 'change->autotax-counter#updateTax' } %>
      </div>

      <br>
      <%= link_to t(:new_billing_profile),  new_billing_profile_path %>
    </div>

    <div class="column">
      <% if @captcha_required %>
        <% if @show_checkbox_recaptcha %>
          <div class="field">
            <br>
            <%= recaptcha_tags id: 'english_offer', site_key: @recaptcha2_site_key %>
          </div>
        <% else %>
            <%= recaptcha_v3(action: 'english_offer', site_key: @recaptcha3_site_key, turbolinks: true) %>
        <% end %>
      <% end %>
    </div>

    <div class="column wide sixteen right-btns" style="margin-top: -30px;">
      <%= f.submit t(:submit), class: "ui button primary", id: 'bid_action', data: { turbo: false } %>
      <%= link_to t(:back), :back, class: "ui button secondary" %>
    </div>
  </div>
<% end %>
