<% content_for :hero do %>
  <div class="hero green">
    <h1><%= t('.title') %></h1>
    <div class="monospace"><%= @offer.auction.domain_name %></div>
  </div>
<% end %>

<div class="u-container">
  <div class="margin-block">
    <div class="body">
      <table class="ui table very basic padded">
        <tbody>
          <tr>
            <td><strong><%= t('auctions.domain_name') %></strong></td>
            <td class="monospace"><%= @offer.auction.domain_name %></td>
          </tr>
          <tr data-controller="auction-timezone" data-auction-timezone-end-time-value="<%= @offer.auction.ends_at.iso8601 %>">>
            <td><strong><%= t('auctions.ends_at') %></strong></td>
            <td><span data-auction-timezone-target="display"><%= @offer.auction.ends_at %></span></td>
          </tr>
          <tr>
            <td><strong><%= t('offers.price') %></strong></td>
            <td><%= t('offers.price_in_currency', price: @offer.price) %></td>
          </tr>
          <tr>
            <td><strong><%= t('offers.total') %></strong></td>
            <td><%= t('offers.price_in_currency', price: @offer.total) %></td>
          </tr>
        </tbody>
      </table>
      <div class="buttons">
        <%- unless @auction.finished? %>
          <%- if @auction.offer_from_user(current_user).present? %>
            <%= link_to t('auctions.bid'), edit_english_offer_path(@auction.users_offer_uuid), class: "ui button blue" %>
          <% elsif @auction.in_progress? %>
            <%= link_to t('auctions.bid'), new_auction_english_offer_path(auction_uuid: @auction.uuid), class: "ui button blue" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render 'auctions/english_bottom_grid' %>
