<%= component 'common/hero', title: @offer.auction.domain_name %>
<!-- Table -->
<div class="o-container">
  <div class="c-block">
    <h2 class="c-block__title u-h3">Ülevaade</h2>
    <% header_collection = [{ column: nil, caption: t('auctions.domain_name'), options: { class: "" } },
                            { column: nil, caption: t('auctions.ends_at'), options: { class: "" } },
                            { column: nil, caption: t('offers.price'), options: { class: "" } },
                            { column: nil, caption: t('offers.total'), options: { class: "" } }] %>
    <%= component 'common/table', header_collection:, options: { class: 'table--black' } do %>
      <%= tag.tbody do %>
        <tr>
          <td><strong><%= @offer.auction.domain_name  %></strong></td>
          <td>2<%= I18n.l(@offer.auction.ends_at) %></td>
          <td><%= t('offers.price_in_currency', price: @offer.price) %> €</td>
          <td><%= t('offers.price_in_currency', price: @offer.total) %> €</td>
        </tr>
      <% end %>
    <% end %>
  </div>
</div>
<!-- Table -->
<!-- Table-two-col -->
<div class="o-container">
  <div class="c-block">
    <div class="o-grid o-grid--two-col">
      <div>
        <h2 class="c-block__title u-h3">Pakkujad</h2>
        <% header_collection = [{ column: nil, caption: t('offers.show.participants'), options: { class: "" } },
                            { column: nil, caption: t('offers.show.your_last_offer'), options: { class: "" } },
                            { column: nil, caption: t('offers.show.offers_time'), options: { class: "" } }] %>
        <%= component 'common/table', header_collection:, options: { class: '' } do %>
          <%= tag.tbody do %>
            <% @offer.auction.offers.order(updated_at: :desc).each do |offer| %>
              <tr class="offers-table-row">
                <td style="<%= offer&.billing_profile&.user_id == current_user.id ? 'color: green;' : '' %>">
                  <%= offer&.billing_profile&.user_id == current_user.id ? "#{offer.username} (You)" : offer.username %>
                </td>
                <td><%= t('offers.price_in_currency', price: offer.price) %></td>
                <td><%= I18n.l(offer.updated_at) %></td>
              </tr>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div>
        <h2 class="c-block__title u-h3">Deposiidimaksed</h2>
        <% header_collection = [{ column: nil, caption: t('offers.show.deposit_participants'), options: { class: "" } },
                                { column: nil, caption: t('offers.show.offers_time'), options: { class: "" } }] %>
        <%= component 'common/table', header_collection:, options: { class: '' } do %>
          <%= tag.tbody do %>
            <% @offer.auction.domain_participate_auctions.each do |d| %>
              <tr class="offers-table-row">
                <td class="monospace" style="<%= d.user_id == current_user.id ? 'color: green;' : '' %>">
                  <%= d.user.display_name %>
                </td>
                <td><%= I18n.l(d.created_at) %></td>
              </tr>
            <% end %>
          <% end %>
        <% end %>

      </div>
    </div>
  </div>
</div>
<!-- Table-two-col -->

