<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
    </head>
    <body>
        <p><%= t('.salutation', display_name: @user.display_name) %></p>
        <p>
            <%= t('.introduction_html', domain_name: @auction.domain_name,
                  link: link_to(t('.link_title'), result_url(@result.uuid))) %>
        </p>
        <p><%= t('.details', domain_name: @auction.domain_name, days: 14) %></p>
        <p><%= t('.reminder', domain_name: @auction.domain_name) %></body>

        <%= t('common_mailer.footer_html') %>
    </body>
</html>
