<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
    </head>
    <body>
        <h1><%= t('.salutation', display_name: @user.display_name) %></h1>
        <p><%= t('.details', domain_name: @auction.domain_name) %></p>
        <p><%= t('.link_description', registration_due_date: @result.registration_due_date) %></p>
        <p><%= link_to t('.link_title'), result_url(@result.uuid) %></p>

        <%= t('common_mailer.footer_html') %>
    </body>
</html>
