<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
    </head>
    <body>
        <h1><%= t('.salutation', display_name: @user.display_name) %></h1>
        <p><%= t('.introduction', domain_name: @auction.domain_name) %></p>
        <p><%= t('.link_description', payment_date: I18n.l(Date.today + Setting.payment_term)) %></p>
        <p><%= link_to t('.link_title'), result_url(@result.uuid) %></p>

        <%= sanitize t('.footer_html') %>
    </body>
</html>
