<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
    </head>
    <body>
        <p><%= t('.salutation', display_name: @user.display_name) %></p>
        <p><%= t('.introduction', domain_name: @auction.domain_name) %></p>
        <p>
            <%= t('.details_html',
                  domain_name: @auction.domain_name,
                  payment_link: link_to(t('.payment_link'), @linkpay_url),
                  link: link_to(t('.auction_link'), result_url(@result.uuid))) %>
        </p>
        <p><%= t('.details_second_para_html', domain_name: @auction.domain_name) %></p>
        <p><%= t('.details_third_para', domain_name: @auction.domain_name) %></p>

        <%= t('common_mailer.footer_html') %>
    </body>
</html>
