<h2><%= I18n.t('offers.show.deposit_title') %></h2>

<table class="ui table selectable celled center aligned" id="my-offers-table">
  <thead>
    <tr>
      <th scope="col"><span class='hide-table-header'><%= t('offers.show.deposit_participants') %></span></th>
      <th scope="col"><span class='hide-table-header'><%= t('offers.show.offers_time') %></span></th>
    </tr>
  </thead>
  <tbody id="offers-table-body">
    <% auction.domain_participate_auctions.each do |d| %>
      <tr class="offers-table-row">
        <td class="monospace" style="<%= d.user_id == current_user.id ? 'color: green;' : '' %>">
          <%= d.user.display_name %>
        </td>
        <td><%= I18n.l(d.created_at) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
