<%= form_with(model: setting, local: true, url: url, method: 'put', class: "ui form big") do |f| %>
    <div class="field">
        <%= f.label :code, t('settings.code') %>
        <%= f.text_field :code, class: "form-control", value: setting.code, disabled: true %>
    </div>
    <div class="field">
        <%= f.label :description, t('settings.description') %>
        <%= f.text_field :description, class: "form-control", value: setting.description %>
    </div>
    <div class="field">
        <%= f.label :value, t('settings.value') %>
        <%= f.text_field :value, class: "form-control", value: setting.value %>
    </div>

    <br>
    <%= f.submit t(:submit), class: "ui button primary" %>
    <%= link_to t(:back), :back, class: "ui button secondary" %>
    </div>
<% end %>
