<%= component 'common/hero', title: t('.title')  %>
<div class="o-container">
  <div class="item">
    <h2><%= t('settings.description') %></h2>
    <%= @setting.description %>
  </div>
  <div class="item">
    <h2><%= t('settings.value') %></h2>
    <%= formatted_setting_value(@setting.value) %>
  </div>
  <div class="item">
    <h2><%= t(:updated_at) %></h2>
    <%= @setting.updated_at %>
  </div>

  <div class="c-table__filters__btns" style='padding: 1rem 0; display: flex; justify-content: end;'>
    <%= link_to t(:edit), edit_admin_setting_path(@setting), class: "c-btn c-btn--orange" %>
    <%= link_to t(:versions_name), admin_setting_versions_path(@setting), class: "c-btn c-btn--blue" %>
  </div>
</div>
