<%= form_with(model: offer, local: true, url: url) do |f| %>
    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="form-group">
                <%= f.hidden_field :user_id, value: offer.user_id %>
            </div>

            <div class="form-group">
                <%= f.hidden_field :auction_id, value: offer.auction_id %>
            </div>

            <div class="form-group">
                <%= f.label :price, t('.offer') %>
                <%= f.number_field :price, class: "form-control", min: 0, step: "0.01" %>
                <br><em><%= t('offers.price_is_without_vat') %></em><br>
            </div>

            <div class="form-group">
                <%= f.label :billing_profile, t('.bidder') %><br />
                <%= f.select :billing_profile_id,
                    BillingProfile.where(user_id: offer.user_id).collect { |b| [b.name, b.id] },
                    class: "form-control form-control" %><br>

                <%= link_to t(:new_billing_profile),  new_billing_profile_path %>
            </div>
        </div>

        <div class="col-12 col-lg-6 mt-4">
            <div class="form-group">
                <%= recaptcha_tags %>
            </div>
        </div>

        <div class="col-12">
            <%= f.submit t(:submit), class: "btn btn-primary form-control mb-2" %>
            <%= link_to t(:back), :back, class: "btn btn-secondary form-control" %>
        </div>
    </div>
<% end %>
