<div class="row mt-4">
    <div class="col-12">
        <h2><%= t(:my_offers) %></h2>
        <table class="table" id="my-offers-table">
            <thead>
                <tr>
                    <th scope="col"><%= t('auctions.domain_name') %></th>
                    <th scope="col"><%= t('.your_last_offer') %></th>
                    <th scope="col"><%= t('auctions.ends_at') %></th>
                </tr>

                <tbody id="offers-table-body">
                    <% @offers.each do |offer| %>
                        <tr class="offers-table-row">
                            <td><%= link_to offer.auction.domain_name, offer_path(offer) %></td>
                            <td><%= t('offers.price_in_currency', price: offer.price) %></td>
                            <td><%= I18n.l(offer.auction.ends_at) %></td>
                        </tr>
                    <% end %>
                </tbody>
        </table>
    </div>
</div>
