<% content_for :hero do %>
  <div class="hero green">
    <h1><%= t(:my_offers) %></h1>
  </div>
<% end %>
<div class="u-container">
  <div class="margin-block">
    <div class="grid one column">
      <table class="ui table selectable celled center aligned" id="my-offers-table">
        <thead>
          <tr>
            <th scope="col"><span class='hide-table-header'><%= t('auctions.domain_name') %></span></th>
            <th scope="col"><span class='hide-table-header'><%= t('.your_last_offer') %></span></th>
            <th scope="col"><span class='hide-table-header'><%= t('offers.total') %></span></th>
            <th scope="col"><span class='hide-table-header'><%= t('auctions.ends_at') %></span></th>
            <th scope="col"><span class='hide-table-header'><%= t('result_name') %></span></th>
            <th></th>
          </tr>
        </thead>
        <tbody id="offers-table-body">
          <% @offers.each do |offer| %>
            <tr class="offers-table-row">
              <td class="monospace"><%= link_to offer.auction.domain_name, offer_path(offer.uuid) %></td>
              <td><span class='span-mobile-only'><b><%= t('.your_last_offer') %>:</b></span> <%= t('offers.price_in_currency', price: offer.price) %></td>
              <td><span class='span-mobile-only'><b><%= t('offers.total') %>:</b></span> <%= t('offers.price_in_currency', price: offer.total) %></td>

              <td><span class='span-mobile-only'><b><%= t('auctions.ends_at') %>:</b></span>
                <%- if offer.auction.finished? %>
                  <%= t('auctions.finished') %>
                <% else %>
                  <%= I18n.l(offer.auction.ends_at) %>
                <% end %>
              </td>
              <td>
                <%- if offer.auction.finished? %>
                  <%- if offer.result %>
                    <%= t('.you_won') %>
                  <%- elsif offer.auction&.result && !offer.result %>
                    <%= t('.you_lost') %>
                  <% end %>
                <% else %>
                  <%- if offer.auction.english? %>
                    <% if offer.auction.currently_winning_offer == offer %>
                      <%= t('.you_are_winning') %>
                    <% else %>
                      <%= t('.you_are_loosing') %>
                    <% end %>
                  <% else %>
                    <%= t('auctions.still_in_progress') %>
                  <% end %>
                <% end %>
              </td>
              <td>
                <%- if offer.result %>
                  <%= link_to t('.claim_your_domain'), result_path(offer.result.uuid) %>
                <%- else %>
                  <% unless offer.auction.english? %>
                    <%= link_to t('auctions.delete_your_offer'), 
                                            offer_path(offer.uuid),
                                            method: :delete, data: { confirm: t(:are_you_sure) }, class: "ui button red"%>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="column" style="margin-top:10px; text-align: center;">
      <% if @pagy.pages > 1 %>
        <div class="footer">
          <%== pagy_nav(@pagy) %>
        </div>
      <% end %>
    </div>

  </div>
</div>
