<%= component 'common/hero', title: 'Minu pakkumised' %>


<!-- 
    These parameters are passed to the Common::Table::Component. These parameters are used to generate headers in the table component. The name "column_name" indicates the name of the column. This is necessary for sorting, so the name of this column should correspond to the name of the column in the database table. If you want to make it so that the data is not sorted by the column, then you should add a nil value. "Caption" is the table header, and "options" are additional parameters that are passed into the tags. 
    -->

<% header_collection = [{ column: nil, caption: t('auctions.domain_name'), options: { class: "" } },
                            { column: nil, caption: 'Tüüp', options: { class: "" } },
                            { column: nil, caption: t('.your_last_offer'), options: { class: "" } },
                            { column: nil, caption: t('offers.total'), options: { class: "" } },
                            { column: nil, caption: t('auctions.ends_at'), options: { class: "" } },
                            { column: nil, caption: t('result_name'), options: {} },
                            { column: nil, caption: 'Pakkumustegevused', options: {} },
                            ] %>
<div class="o-container">
  <div class="c-table c-table--sortable">

    <!-- Options attributes are used as table attributes -->
    <%= component 'common/table', header_collection:, options: { class: 'js-table-dt' } do %>
      <!-- "The body of the table also needs to be in the component block, so the component wraps it with the necessary tags." -->
      <%= render @offers %>
    <% end %>
  </div>
</div>

<%= component 'common/pagy', pagy: @pagy %>

  <div class="u-text-center u-mt-40">
    <%= link_to t('offer.all_list'), '#', class: 'c-btn c-btn--ghost' %>
  </div>

