<% content_for :hero do %>
    <div class="hero green">
        <h1><%= t('.title') %></h1>
    </div>
<% end %>

<div class="u-container">
    <div class="u-container margin-block">
        <% if @offer.errors.any? %>
            <div class="ui message">
                <div class="header">
                    <%= pluralize(@offer.errors.count, "error") %> <%= t('.errors') %>
                </div>
                <ul id="errors">
                    <% @offer.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>

        <%= render 'form', offer: @offer, url: auction_offers_path(auction_uuid: params[:auction_uuid]) %>
    </div>
</div>
