<% content_for :hero do %>
    <div class="hero green">
        <h1><%= t('.title') %></h1>
        <%= @offer.auction.domain_name %>
    </div>
<% end %>

<div class="u-container">
    <div class="margin-block">
        <div class="body">
            <div class="details-list centered-list">
                <ul>
                    <li>
                        <span class="label"><%= t('auctions.domain_name') %></span>
                        <span class="value"><%= @offer.auction.domain_name %></span>
                    </li>

                    <li>
                        <span class="label"><%= t('auctions.ends_at') %></span>
                        <span class="value"><%= I18n.l(@offer.auction.ends_at) %></span>
                    </li>
                    <li>
                        <span class="label"><%= t('offers.price') %></span>
                        <span class="value"><%= t('offers.price_in_currency', price: @offer.price) %></span>
                    </li>
                </ul>

                <div class="buttons">

                    <%- if @offer.can_be_modified?  %>
                        <%= link_to t(:edit), edit_offer_path(@offer.uuid), class: "ui button primary" %>
                        <%= link_to t(:delete), offer_path(@offer.uuid),
                        method: :delete, data: { confirm: t(:are_you_sure) },
                        remote: true, class: "ui button secondary" %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>

<%= render 'auctions/bottom_grid' %>
