<% content_for :hero do %>
    <div class="main-hero main-hero--green">
        <h1><%= t('.title') %></h1>
        <%= @offer.auction.domain_name %>
    </div>
<% end %>

<div class="u-container">
    <div class="ui segment padded-block">
        <div class="ui list">
            <div class="item">
                <div class="header"><%= t('auctions.ends_at') %></div>
                <%= @offer.auction.ends_at %>
            </div>

            <div class="item">
                <div class="header"><%= t('offers.price') %></div>
                <%= t('offers.price_in_currency', price: @offer.price) %>
            </div>
        </div>

        <p><%= t('offers.price_is_without_vat') %></p>
        <p><%= t('.we_will_contact_winner') %></p>

        <%- if @offer.can_be_modified?  %>
            <%= link_to t(:edit), edit_offer_path(@offer.uuid), class: "ui button primary" %>
            <%= link_to t(:delete), offer_path(@offer.uuid),
            method: :delete, data: { confirm: t(:are_you_sure) },
            remote: true, class: "ui button primary" %>

        <% end %>
    </div>
</div>
