<% content_for :hero do %>
    <div class="hero green">
        <h1><%= t('.you_are_being_redirected') %></h1>
    </div>
<% end %>

<div class="u-container">
    <div class="margin-block">
        <div class="hidden form">
            <%= form_with(url: @payment_order.form_url, local: true, id: 'payment-order-form') do |f| %>
                <%- @payment_order.form_fields.each do |k, v| %>
                    <%= f.hidden_field k, value: v %>
                <% end %>
                <%= f.submit t(:submit) %>
            <% end %>
        </div>
    </div>
</div>

<%= stylesheet_pack_tag 'stylesheets/payment_orders', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'payment_orders', 'data-turbolinks-track': 'reload' %>
