<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
    </head>
    <body>
        <h1><%= t('.salutation') %></h1>

        <% if @ban.domain_name %>
            <p><%= t('.introduction_short_ban', domain_name: @ban.domain_name) %></p>
            <p><%= t('.details_short_ban') %></p>
            <p><%= t('.number_of_strikes_short_ban', number: @past_due_invoices) %></p>
        <% else %>
            <p><%= t('.introduction_long_ban', domain_name: @ban.domain_name) %></p>
            <p><%= t('.details_long_ban', valid_until: @ban.valid_until) %></p>
        <% end %>

        <%= t('common_mailer.footer_html') %>
    </body>
</html>
