<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
    </head>
    <body>
        <h1><%= t('.salutation', display_name: @user.display_name) %></h1>
        <p><%= t('.first_para', domain_name: @domain_name) %></p>
        <p><%= t('.second_para_html', domain_name: @domain_name) %></p>
        <p><%= t('.third_para', domain_name: @domain_name) %></p>
pc
        <%= t('common_mailer.footer_html') %>
    </body>
</html>
