<% content_for :hero do %>
<div class="hero green">
    <h1><%= t('.title') %></h1>
</div>
<% end %>

<div class="u-container">
    <div class="margin-block">
        <div class="content">
            <h2><%= @billing_profile.name %></h2>

            <div class="body">

                <table class="ui table very basic padded">
                    <tbody>
                        <tr>
                            <td><strong><%= t('billing_profiles.vat_code') %></strong></td>
                            <td><%= @billing_profile.vat_code %></td>
                        </tr>

                        <tr>
                            <td><strong><%= t('billing_profiles.street') %></strong></td>
                            <td><%= @billing_profile.street %></td>
                        </tr>

                        <tr>
                            <td><strong><%= t('billing_profiles.city') %></strong></td>
                            <td><%= @billing_profile.city %></td>
                        </tr>

                        <tr>
                            <td><strong><%= t('billing_profiles.postal_code') %></strong></td>
                            <td><%= @billing_profile.postal_code %></td>
                        </tr>

                        <tr>
                            <td><strong><%= t('billing_profiles.country') %></strong></td>
                            <td><%= @billing_profile.country_code %></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="buttons">
                <%= link_to t(:edit), edit_billing_profile_path(@billing_profile.uuid), class: "ui button primary" %>
                <%= link_to t(:delete), billing_profile_path(@billing_profile.uuid),
                method: :delete, data: { confirm: t(:are_you_sure) },
                class: "ui button red", target: '_top' %>
            </div>
        </div>
    </div>
</div>