<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
    </head>
    <body>
        <p><%= t('.salutation', email: @email) %>!</p>

        <p><%= t('.first_para') %></p>
        <p><%= link_to t('.second_para'), edit_password_url(@resource, reset_password_token: @token) %></p>
        <p><%= t('.third_para') %></p>
        <p><%= t('.fourth_para') %></p>

        <%= t('common_mailer.footer_html') %>
    </body>
</html>
