<%= form_with(model: user, url: url, local: true, id: 'user_form') do |f| %>
    <div class="row">
        <div class="col-12 col-lg-6">
            <h3 class="p3"><%= t('.contact_data') %></h3>
            <div class="form-group">
                <%= f.label t('users.email') %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email",
                class: "form-control" %>
                <% if user.pending_reconfirmation? %>
                    <div>Currently waiting confirmation for: <%= user.unconfirmed_email %></div>
                <% end %>
            </div>
            <div class="form-group">
                <%= f.label t('users.mobile_phone') %><br />
                <%= f.telephone_field :mobile_phone, autofocus: true, autocomplete: "off",
                class: "form-control" %>
            </div>
            <div class="form-group">
                <%= f.label t('users.given_names') %><br />
                <%= f.text_field :given_names, autofocus: true, autocomplete: "off",
                class: "form-control" %>
            </div>
            <div class="form-group">
                <%= f.label t('users.surname') %><br />
                <%= f.text_field :surname, autofocus: true, autocomplete: "off",
                class: "form-control" %>
            </div>
        </div>

        <div class="col-12 col-lg-6">
            <h3 class="p3"><%= t('.personal_data') %></h3>
            <div class="form-group">
                <%= f.label t('users.identity_code') %>
                <%= f.text_field :identity_code, class: "form-control",
                placeholder: t('users.can_be_left_blank_if_not_estonian'), disabled: user.persisted? %>
            </div>
            <div class="form-group">
                <%= f.label t('users.country') %><br />
                <%= f.select :country_code,
                options_for_select(
                    Countries::ALPHA_2_SELECTION,
                    user.country_code || 'EE'
                ),
                {},
                class: "form-control form-control" %>
            </div>

            <div class="form-check text-left">
                <%= f.check_box :accepts_terms_and_conditions, { class: "form-check-input", value: user.accepts_terms_and_conditions }, "true", "false" %>
                <%= f.label t('users.terms_and_conditions') %>
            </div>
        </div>
        <%- unless user.persisted? %>
            <div class="col-12 col-lg-6">
                <h3 class="p3"><%= t('.new_password') %></h3>
                <div class="form-group">
                    <%= f.label t('users.password') %>
                    <%= f.password_field :password, autocomplete: "new-password",
                    class: "form-control" %>
                    <% if user.persisted? %>
                        <br><em><%= t('.you_can_leave_blank') %></em><br>
                    <% end %>
                    <% if @minimum_password_length %>
                        <em><%= t('.password_requirements', minimum: @minimum_password_length) %></em>
                    <% end %><br />
                    <br />
                </div>
                <div class="form-group">
                    <%= f.label t('users.password_confirmation') %><br />
                    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
                </div>
            </div>
        <% end %>
        <div class="col-12 col-lg-6">
            <h3 class="p3"><%= t('.roles') %></h3>
            <%- User::ROLES.each do |role| %>
                <div class="form-check text-left">
                    <%= f.check_box :roles, { multiple: true, class: "form-check-input" }, role, nil %>
                    <%= f.label role, class: "form-check-label" %>
                </div>
            <% end %>
        </div>

        <div class="col-12">
            <div class="mt-4">
                <% if user.persisted? %>
                    <%= f.submit t(:update), class: "btn btn-primary form-control mb-4", id: "user_form_commit" %>
                    <%= link_to t(:back), :back, class: "mt-4" %>
                <% else %>
                    <%= f.submit t(:submit), class: "btn btn-primary form-control", id: "user_form_commit" %>
                <% end %>
            </div>
        </div>
    </div>
<% end %>
