<% content_for :hero do %>
    <div class="hero orange">
        <h1><%= t('.title') %></h1>
    </div>
<% end %>

<div class="u-container">
    <div class="margin-block">
        <% if @user.errors.any? %>
            <h3 id="error-explanation">
                <%= t(:errors_name) %>
            </h3>
            <ul id="errors">
                <% @user.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        <% end %>

        <%= render 'form', user: @user, url: admin_user_path(@user) %>
    </div>
</div>

<%= javascript_include_tag 'users', 'data-turbolinks-track': 'reload' %>
