<% content_for :hero do %>
    <div class="hero orange">
        <h1><%= t('.title') %></h1>
    </div>
<% end %>

<div class="features-grid top narrow grey">
    <div class="ui search">
        <div class="ui massive input icon">
            <%= render 'search_form' %>
        </div>
    </div>
</div>

<div class="ui container">
    <div class="margin-block">
        <%= render 'users_table' %>

        <%= paginate @users %>
        <br><br>

        <p><%= link_to t('.new_user'), new_admin_user_path, class: "ui button primary" %></p>
    </div>
</div>
