<% content_for :title, t('.title') %>

<div class="o-container">
  <div class="c-table c-table--sortable">
    <%= form_with(url: admin_users_path, local: true, method: :get) do |f| %>
      <div class="c-table__filters" >
        <div class="c-table__filters__btns" style='display: flex !important; align-items: center !important; justify-content: space-between !important; width: 100%;'>
          <%= f.search_field :search_string, value: params[:search_string], placeholder: t('search_by_domain_name'), class: 'c-table__search__input js-table-search-dt' %>
          <div>
            <%= f.button 'Search', class: "c-btn c-btn--blue" %>
            <%= link_to 'Clear', request.path, class: 'c-btn c-btn--red' %>
          </div>
        </div>
      </div>
    <% end %>
    <% header_collection = [{column: 'surname', caption: t('users.display_name'), options: {}},
                                { column: 'mobile_phone', caption: t('users.mobile_phone'), options: { class: "sorting" } },
                                { column: 'email', caption: t('users.email'), options: { class: "sorting" } },
                                { column: 'roles', caption: t('users.roles'), options: { class: "sorting" } }] %>
    <%= component 'common/table', header_collection:, options: { class: 'js-table-dt dataTable no-footer' } do %>
      <%= tag.tbody class: 'contents' do %>
        <% @users.each do |user| %>
          <tr class="users-table-row">
            <td class="user-table-user-name"><%= link_to user.display_name, admin_user_path(user) %></td>
            <td>
              <% if user.phone_number_confirmed? && @phone_confirmation_toggle %>
                <i class="ui icon check circle outline"></i>
              <% end %>
              <%= user.mobile_phone %>
            </td>
            <td><%= user.email %></td>
            <td><%= user.roles.join(', ') %></td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
    
    <%= component 'common/pagy', pagy: @pagy %>

    <div class="c-table__filters__btns" style='padding: 1rem 0; display: flex; justify-content: end;'>
      <%= link_to t('.new_user'), new_admin_user_path, class: "c-btn c-btn--green" %>
    </div>
  </div>
</div>
