<% content_for :hero do %>
    <div class="main-hero main-hero--orange">
        <h1><%= t('.title') %></h1>
    </div>
<% end %>

<div class="ui container">
    <div class="ui segment padded-block">
        <table class="ui table fixed" id="users-table">
            <thead>
                <tr>
                    <th scope="col"><%= t('users.display_name') %></th>
                    <th scope="col"><%= t('users.mobile_phone') %></th>
                    <th scope="col" class="six wide"><%= t('users.email') %></th>
                    <th scope="col"><%= t('users.roles') %></th>
                </tr>
            </thead>

            <tbody id="users-table-body">
                <% @users.each do |user| %>
                    <tr class="users-table-row">
                        <td><%= link_to user.display_name, admin_user_path(user) %></td>
                        <td><%= user.mobile_phone %></td>
                        <td><%= user.email %></td>
                        <td><%= user.roles.join(', ') %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>

        <br>
        <p><%= link_to t('.new_user'), new_admin_user_path, class: "ui button primary" %></p>
    </div>
</div>
