<% content_for :hero do %>
    <div class="main-hero main-hero--orange">
        <h1><%= @user.display_name %></h1>
        <%= t('.title') %>
    </div>
<% end %>

<div class="u-container">
    <div class="ui segment padded-block">
        <h2>
            <%= @user.display_name %>
            <%- if @user.invalid? %>
                <span class="badge badge-pill badge-warning"><%= t(:invalid) %></span>
            <% end %>
        </h2>

        <dl id="user-details-list" class="mb-4 no-bullets">
            <dt><%= t('users.email') %></dt>
            <dd><%= @user.email %></dd>

            <dt><%= t('users.mobile_phone') %></dt>
            <dd><%= @user.mobile_phone %></dd>

            <dt><%= t('users.roles') %></dt>
            <dd><%= @user.roles.join(', ') %></dd>

            <dt><%= t('users.country_code') %></dt>
            <dd><%= @user.country_code %></dd>

            <dt><%= t('users.identity_code') %></dt>
            <dd><%= @user.identity_code %></dd>

            <dt><%= t('users.terms_and_conditions_accepted_at') %></dt>
            <dd>
                <%- if @user.terms_and_conditions_accepted_at %>
                    <%= I18n.l(@user.terms_and_conditions_accepted_at) %>
                <% else %>
                    <%= t(:not_accepted) %>
                <% end %>
            </dd>

            <dt><%= t('created_at') %></dt>
            <dd><%= I18n.l(@user.created_at) %></dd>
        </dl>

        <%= link_to t(:edit), edit_admin_user_path(@user), class: "card-link mt" %>
        <%= link_to t(:delete), admin_user_path(@user),
        method: :delete, data: { confirm: t(:are_you_sure) } ,
        remote: true, class: "card-link" %>

        <%= link_to t(:versions_name), admin_user_versions_path(@user), class: "card-link mt" %>
    </div>
</div>
