<div class="column">
    <h3><%= t('.help_and_info')%></h3>
    <ul>
        <li>
            <a href="https://internet.ee/domains/ee-domain-regulation">
                <%= t('.domain_regulation')%>
            </a>
        </li>
        <li>
            <a href="https://internet.ee/help-and-info/faq">
                <%= t('.faq')%>
            </a>
        </li>
        <li>
            <a href="https://internet.ee/help-and-info/statistics">
                <%= t('.statistics')%>
            </a>
        </li>
        <li>
            <a href="https://internet.ee/domain-disputes/domain-disuptes-committee">
                <%= t('.dispute_committee') %>
            </a>
        </li>
    </ul>
</div>
<div class="column">
    <h3><%= t('.registrars') %></h3>
    <ul>
        <li>
            <a href="https://internet.ee/registrars/accredited-registrars">
                <%= t('.list_of_accredited_registrars')%>
            </a>
        </li>
        <li>
            <a href="https://internet.ee/registrars/terms-and-conditions-for-becoming-a-registrar">
                <%= t('.terms_and_conditions_for_registrars') %>
            </a>
        </li>
        <li>
        </li>
        <li>
            <a href="https://internet.ee/registrars/become-a-ee-elite-partner">
                <%= t('.partner_programme') %>
            </a>
        </li>
    </ul>

</div>
<div class="column">
    <h3>
        <%= t('.estonian_internet') %>
    </h3>
    <ul>
        <li>
            <a href="https://www.internet.ee/eif">
                <%= t('.contact_us') %>
            </a>
        </li>
        <li>
            <a href="https://www.internet.ee/eif/tasks-and-management">
                <%= t('.management') %>
            </a>
        </li>
        <li>
            <a href="https://www.internet.ee/eif/registrars-workgroup">
                <%= t('.registrars_working_group') %>
            </a>
        </li>
    </ul>
</div>
