<div class="column">
    <h3><%= t('.help_and_info')%></h3>
    <ul>
        <li>
            <a href="https://internet.ee/domeenid/ee-domeenireeglid">
                <%= t('.domain_regulation')%>
            </a>
        </li>
        <li>
            <a href="https://internet.ee/abi-ja-info/kkk">
                <%= t('.faq')%>
            </a>
        </li>
        <li>
            <a href="https://internet.ee/abi-ja-info/statistika">
                <%= t('.statistics')%>
            </a>
        </li>
        <li>
            <a href="https://internet.ee/domeenivaidlused/domeenivaidluste-komisjon">
                <%= t('.dispute_committee') %>
            </a>
        </li>
    </ul>
</div>
<div class="column">
    <h3><%= t('.registrars') %></h3>
    <ul>
        <li>
            <a href="https://internet.ee/registripidajad/akrediteeritud-registripidajad">
                <%= t('.list_of_accredited_registrars')%>
            </a>
        </li>
        <li>
            <a href="https://internet.ee/registripidajad/kuidas-saada-ee-akrediteeritud-registripidajaks">
                <%= t('.terms_and_conditions_for_registrars') %>
            </a>
        </li>
        <li>
        </li>
        <li>
            <a href="https://internet.ee/registripidajad/kuidas-saada-ee-elite-partneriks">
                <%= t('.partner_programme') %>
            </a>
        </li>
    </ul>

</div>
<div class="column">
    <h3>
        <%= t('.estonian_internet') %>
    </h3>
    <ul>
        <li>
            <a href="https://internet.ee/eis">
                <%= t('.contact_us') %>
            </a>
        </li>
        <li>
            <a href="https://internet.ee/eis/ulesanded-juhatus-ja-noukogu">
                <%= t('.management') %>
            </a>
        </li>
        <li>
            <a href="https://internet.ee/eis/dokumendid">
                <%= t('.documents') %>
            </a>
        </li>
    </ul>
</div>
