<div class="margin-block">
  <h2><%= t('auctions.show.user_list') %></h2>
  <div class="content">
    <%= form_with url: admin_auction_path(@auction), 
                  method: :get,
                  data: { controller: 'debounce',
                          debounce_target: 'form',
                          turbo_action: "advance",
                          turbo_frame: "results",
                          action: 'input->debounce#search' 
                          }, class: 'ui form' do |form| %>
    <div class="field">
      <%= form.search_field :search_string, value: params[:search_string], placeholder: 'Search by user name, email and phone number', class: 'prompt' %>
    </div>
    <%= form.hidden_field :auction_id, value: auction.id %>
    <div class="field" style="display: flex; justify-content: space-evenly; width: 100%;" data-controller="checkbox_toggle">
        <div class="ui checkbox">
          <%= form.check_box :with_deposit_participants, { data: { name: 'first_checkbox' } }, 1, nil %>
          <label>Show only those who have made a deposit</label>
        </div>

        <div class="ui checkbox">
          <%= form.check_box :without_deposit_participants, { data: { name: 'second_checkbox' } }, 1, nil %>
          <label>Show only those who haven't made a deposit</label>
        </div>
    </div>
    <% end %>
  </div>

  <div class="content">
    <%= form_with url: apply_auction_participants_admin_auctions_path do |form| %>
      <%= form.hidden_field :auction_uuid, value: auction.uuid %>
      <div class="buttons">
        <%= form.submit t('auctions.show.apply'), class: 'ui button primary', style: 'margin-bottom: 20px;' %>
      </div>

      <%= turbo_frame_tag "results" do %>
        <table class="ui table" id="auctions-offers-table">
          <thead>
            <tr>
              <th scope="col"><%= t('offers.price') %></th>
              <th scope="col">Email</th>
              <th scope="col" style="text-align: center"><%= t('auctions.show.allow') %></th>
            </tr>
            <tbody id="offers-table-body">
              
              <% @users.each do |user| %>
                <%= render partial: 'deposit_participant', locals: { user: user, form: form, auction: auction } %>
              <% end %>
            </tbody>
          </table>

          <div class="column" style="margin-top:10px; text-align: center;">
            <% if @pagy.pages > 1 %>
                <div class="footer">
                    <%== pagy_nav(@pagy) %>
                </div>
            <% end %>
          </div>

        <% end %>
      <% end %>

    </div>
  </div>
