<%= turbo_frame_tag dom_id(billing_profile) do %>
  <div class="o-card">
    <div class="c-account__form">
      <div class="c-account__title-wrapper c-account__input c-account__input--editable c-account__input-title u-flex u-content-sp u-align-center">
        <input type="text" class="o-card__title c-account__title" placeholder="" value="<%= billing_profile.name.presence || t('billing_profiles.not_filled') %>" readonly>
        <div class="c-account_editicons u-flex u-align-center u-content-end">

          <%= button_to billing_profile_path(uuid: billing_profile.uuid), method: :delete, data: {turbo_method: :delete, turbo_confirm: "Are you sure to delete "}, target: '_top', style: 'background: transparent; border: none;' do %>
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="none"><circle cx="16" cy="16" r="15.5" fill="#FFEEE1" stroke="#FF6E00"/><path stroke="#FF6E00" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m12 12 8 8M12 20l8-8"/></svg>
          <% end %>

          <%= component 'common/action_button', type: 'edit', href: edit_billing_profile_path(billing_profile.uuid), options: { data: { turbo_frame: dom_id(billing_profile) }} %>
        </div>
      </div>

      <div class="c-account__input c-account__input--editable u-mb-20">
        <label for="input1"><%= t('billing_profiles.vat_code') %></label>
        <input id="input1" class="c-account__input--readonly-field" type="text" placeholder="" value="<%= billing_profile.vat_code.presence || t('billing_profiles.not_filled') %>" readonly/>
      </div>

      <div class="c-account__input-wrapper u-flex u-align-start u-content-start">
        <div class="c-account__input c-account__input--editable u-mb-20">
          <label for="input2"><%= t('billing_profiles.street') %></label>
          <input id="input2" class="c-account__input--readonly-field" type="text" placeholder="" value="<%= billing_profile.street.presence || t('billing_profiles.not_filled') %>" readonly/>
        </div>
        <div class="c-account__input c-account__input--editable u-mb-20">
          <label for="input3"><%= t('billing_profiles.city') %></label>
          <input id="input3" class="c-account__input--readonly-field" type="text" placeholder="" value="<%= billing_profile.city.presence || t('billing_profiles.not_filled') %>" readonly/>
        </div>
        <div class="c-account__input c-account__input--editable u-mb-20">
          <label for="input4"><%= t('billing_profiles.postal_code') %></label>
          <input id="input4" class="c-account__input--readonly-field" type="text" placeholder="" value="<%= billing_profile.postal_code.presence || t('billing_profiles.not_filled') %>" readonly/>
        </div>
        <div class="c-account__input c-account__input--editable u-mb-20">
          <label for="input5"><%= t('billing_profiles.country') %></label>
          <input id="input5" class="c-account__input--readonly-field" type="text" placeholder="" value="<%= billing_profile.country_code.presence || t('billing_profiles.not_filled') %>" readonly/>
        </div>
      </div>
    </div>
  </div>
<% end %>
