<%= form_with(model: billing_profile, url: url, local: true, class: "ui form big") do |f| %>
    <div class="ui grid stackable doubling two column">
        <div class="column">
            <div class="field">
                <%= f.label :name, t('billing_profiles.name') %>
                <%= f.text_field :name, class: "form-control" %>
            </div>

            <div class="field">
                <%= f.hidden_field :user_id, value: billing_profile.user_id %>
            </div>

            <div class="field">
                <%= f.label :vat_code, t('billing_profiles.vat_code') %>
                <%= f.text_field :vat_code, class: "form-control" %>
            </div>
        </div>

        <div class="column">
            <div class="field">
                <%= f.label :country %>
                <%= f.select :country_code,
                options_for_select(
                    Countries.for_selection,
                    billing_profile.country_code || Setting.find_by(code: 'default_country').retrieve
                ),
                {} %>
            </div>

            <div class="field">
                <%= f.label :street, t('billing_profiles.street') %>
                <%= f.text_field :street, class: "form-control" %>
            </div>

            <div class="field">
                <%= f.label :city, t('billing_profiles.city') %>
                <%= f.text_field :city, class: "form-control" %>
            </div>

            <div class="field">
                <%= f.label :postal_code, t('billing_profiles.postal_code') %>
                <%= f.text_field :postal_code, class: "form-control" %>
            </div>
        </div>

        <div class="column wide sixteen">
            <%= f.submit t(:submit), class: "ui button primary", data: { turbo: false } %>
            <%= link_to t(:back), :back, class: "ui button secondary" %>
        </div>
    </div>
<% end %>
