<div class="text-center">
    <div class="row justify-content-center">
        <div class="col-12">
            <h1 class="mb-3 mt-4"><%= t('.title') %></h1>
            <% if @billing_profile.errors.any? %>
                <h3 id="error-explanation">
                    <%= pluralize(@billing_profile.errors.count, "error") %> <%= t('.errors') %>
                </h3>
                <ul id="errors">
                    <% @billing_profile.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                </ul>
            <% end %>
        </div>
    </div>

    <%= render 'form', billing_profile: @billing_profile, url: billing_profile_path(@billing_profile.uuid) %>
</div>
