<% content_for :hero do %>
    <div class="hero green">
        <h1><%= t('.title') %></h1>
    </div>
<% end %>

<div class="u-container">
    <div class="margin-block">
        <div class="buttons">
            <%= link_to t(:new), new_billing_profile_path, class: "ui button primary" %>
        </div>

        <div class="ui two column grid doubling stackable">
            <% @billing_profiles.each do |billing_profile|  %>
                <div class="column">
                    <div class="details-list centered-list">
                        <h2>
                            <%= link_to billing_profile.name,
                            billing_profile_path(billing_profile.uuid) %>
                        </h2>

                        <div class="details-list centered-list">
                            <ul>
                                <li>
                                    <span class="label"><%= t('billing_profiles.vat_code') %></span>
                                    <span class="value"><%= billing_profile.vat_code %></span>
                                </li>

                                <li>
                                    <span class="label"><%= t('billing_profiles.street') %></span>
                                    <span class="value"><%= billing_profile.street %></span>
                                </li>

                                <li>
                                    <span class="label"><%= t('billing_profiles.city') %></span>
                                    <span class="value"><%= billing_profile.city %></span>
                                </li>

                                <li>
                                    <span class="label"><%= t('billing_profiles.state') %></span>
                                    <span class="value"><%= billing_profile.state %></span>
                                </li>

                                <li>
                                    <span class="label"><%= t('billing_profiles.postal_code') %></span>
                                    <span class="value"><%= billing_profile.postal_code %></span>
                                </li>

                                <li>
                                    <span class="label"><%= t('billing_profiles.country') %></span>
                                    <span class="value"><%= billing_profile.country_code %></span>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="buttons">
                        <%= link_to t(:edit), edit_billing_profile_path(billing_profile.uuid), class: "ui button primary" %>
                        <%= link_to t(:delete), billing_profile_path(billing_profile.uuid),
                        method: :delete, data: { confirm: t(:are_you_sure) },
                        remote: true, class: "ui button secondary" %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>
