<% content_for :hero do %>
    <div class="main-hero main-hero--green">
        <h1><%= t('.title') %></h1>

        <%=link_to t(:new), new_billing_profile_path, class: "btn btn-primary mb-3" %>
    </div>
<% end %>

<div class="u-container">
    <div class="ui grid">

    </div>
    <% @billing_profiles.each do |billing_profile|  %>
        <div class="col-12 col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h2>
                        <%= link_to billing_profile.name,
                                    billing_profile_path(billing_profile.uuid) %>
                    </h2>

                    <dl class="mb-6 no-bullets billing-profile-card">
                        <dt><%= t('billing_profiles.vat_code') %></dt>
                        <dd><%= billing_profile.vat_code %></dd>

                        <dt><%= t('billing_profiles.street') %></dt>
                        <dd><%= billing_profile.street %></dd>

                        <dt><%= t('billing_profiles.city') %></dt>
                        <dd><%= billing_profile.city %></dd>

                        <dt><%= t('billing_profiles.state') %></dt>
                        <dd><%= billing_profile.state %></dd>

                        <dt><%= t('billing_profiles.postal_code') %></dt>
                        <dd><%= billing_profile.postal_code %></dd>

                        <dt><%= t('billing_profiles.country') %></dt>
                        <dd><%= billing_profile.country_code %></dd>

                        <dt><%= t('created_at') %></dt>
                        <dd><%= I18n.l(billing_profile.created_at) %></dd>
                    </dl>

                    <%= link_to t(:edit), edit_billing_profile_path(billing_profile.uuid), class: "card-link mt" %>
                    <%= link_to t(:delete), billing_profile_path(billing_profile.uuid),
                                method: :delete, data: { confirm: t(:are_you_sure) },
                                remote: true, class: "card-link mt" %>
                </div>
            </div>
        </div>
    <% end %>
</div>
