<% content_for :hero do %>
    <div class="hero green">
        <h1><%= t('.title') %></h1>
    </div>
<% end %>

<div class="u-container">
    <div class="u-container margin-block">
        <p><%= link_to t(:new), new_billing_profile_path, class: "ui button primary" %></p>
        <br>

        <div class="ui two column grid doubling stackable">
            <% @billing_profiles.each do |billing_profile|  %>
                <div class="column">
                    <h2>
                        <%= link_to billing_profile.name,
                        billing_profile_path(billing_profile.uuid) %>
                    </h2>

                    <div class="ui list">
                        <div class="item">
                            <div class="header"><%= t('billing_profiles.vat_code') %></div>
                            <%= billing_profile.vat_code %>
                        </div>

                        <div class="item">
                            <div class="header"><%= t('billing_profiles.street') %></div>
                            <%= billing_profile.street %>
                        </div>

                        <div class="item">
                            <div class="header"><%= t('billing_profiles.city') %></div>
                            <%= billing_profile.city %>
                        </div>

                        <div class="item">
                            <div class="header"><%= t('billing_profiles.state') %></div>
                            <%= billing_profile.state %>
                        </div>

                        <div class="item">
                            <div class="header"><%= t('billing_profiles.postal_code') %></div>
                            <%= billing_profile.postal_code %>
                        </div>

                        <div class="item">
                            <div class="header"><%= t('billing_profiles.country') %></div>
                            <%= billing_profile.country_code %>
                        </div>
                    </div>

                    <%= link_to t(:edit), edit_billing_profile_path(billing_profile.uuid), class: "ui button primary" %>
                    <%= link_to t(:delete), billing_profile_path(billing_profile.uuid),
                    method: :delete, data: { confirm: t(:are_you_sure) },
                    remote: true, class: "ui button secondary" %>
                </div>
            <% end %>
        </div>
    </div>
</div>
