<!DOCTYPE html>
<html lang="<%= locale %>">
    <head>
        <title><%= t('common.header.auction_portal') %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= javascript_pack_tag 'application' %>
        <%= stylesheet_pack_tag 'application', media: 'all' %>

        <%= stylesheet_pack_tag 'stylesheets/application', media: 'all' %>
    </head>

    <body>
        <div class="app-wrapper">
            <%= render 'common/header' %>

            <main class="main-layout">
                <%= yield :hero %>

                <% unless flash.empty? %>
                    <div class="ui message flash">
                        <% flash.each do |key, value| -%>
                            <% if ['notice', 'alert'].include?(key) %>
                                <div class="header <%= key %>" id="flash"><%= h value %></div>
                            <% end %>
                        <% end %>
                    </div>
                <% end %>

                <%= strikes_banner %>
                <%= banned_banner %>

                <%= yield %>
            </main>

            <%= render 'common/footer' %>
            <%= render 'google_analytics', tracking_id: google_analytics.tracking_id if google_analytics.enabled? %>
        </div>
    </body>
</html>
