<!DOCTYPE html>
<html>
    <head>
        <title>Auction Center</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_pack_tag 'stylesheets/application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <div class="ui container">
            <header class="main-header">
                <div class="main-header-top">

                </div>
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <button class="btn btn-menu" type="button" data-toggle="collapse" data-target="#navbar-toggler">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar-toggler">
                        <%= link_to application_name, :root, class: "navbar-brand" %>
                        <%= sign_in_links(current_user) %>
                        <%= navigation_links(current_user) %>
                    </div>
                </nav>
            </header>
            <main class="main-layout" role="main">
                <div class="ui container">
                    <div class="row mt-2">
                        <div class="col-12">
                            <div id="flash">
                                <% flash.each do |key, value| -%>
                                    <div class="alert alert-primary"><%=h value %></div>
                                <% end %>
                            </div>
                        </div>
                    </div>

                    <%= yield %>
                </div>
            </main>
        </div>

        <br><br><br>
        <%= render 'common/footer' %>
    </body>
</html>
