<!DOCTYPE html>
<html lang="<%= locale %>">
  <head>
    <title><%= t('common.header.auction_portal') %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
    <%= stylesheet_link_tag 'application', "data-turbo-track": 'reload' %>
    <style>
      table thead {
          background-color: black !important;
      }

      <%= ".current_#{current_user&.id}_user" %> {
          color: green !important;
      }

      .initial-color {
          color: red;
      }

      @media only screen and (max-width: 767px) {
                .hide-table-header {
                    display: none !important;
                }
              }

          .span-mobile-only {
      display: none;
          }

          @media screen and (max-width: 767px) {
      .span-mobile-only {
        display: inline;
      }

    }


    </style>
  </head>

  <body data-controller="push-notification websocket--user cookie-consent"
        data-push-notification-vapid-public-value="<%= Rails.configuration.customization[:vapid_public] %>"
        data-push-notification-user-login-value="<%= user_signed_in? %>">

    <%= render 'common/webpush_modal' if user_signed_in? %>

    <%= turbo_frame_tag :flash do %>
      <%= turbo_stream_from current_user, :flash %>
      <div id='flash-notice' data-outbid-message="<%= I18n.t('.participant_outbid') %>">
        <%= render partial: 'common/flash', locals: { flash: flash } %>
      </div>
    <% end %>

    <%= component 'common/header', notifications: @notifications_for_header %>

    <main>
      <%= turbo_frame_tag "modal" %>
      <%= yield %>
    </main>

    <%= component 'common/footer' %>

    <%= render 'application/google_analytics', tracking_id: google_analytics.tracking_id if google_analytics.enabled? %>

  </body>
</html>
