<!DOCTYPE html>
<html lang="<%= locale %>">
  <head>
    <title><%= t('common.header.auction_portal') %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', "data-turbo-track": 'reload' %>
    <%= javascript_pack_tag 'users', 'data-turbolinks-track': 'reload' %>

    <% if Rails.env.production? %>
      <%= javascript_include_tag "https://www.googletagmanager.com/gtag/js?id=#{tracking_id}" %>
      <meta name="google-analytics-id" content=<%= tracking_id %>>
    <% end %>
    
    <style>
      table thead {
          background-color: black !important;
      }
      
      <%= ".current_#{current_user&.id}_user" %> {
          color: green !important;
      }
      
      .initial-color {
          color: red;
      }

      @media only screen and (max-width: 767px) {
                .hide-table-header {
                    display: none !important;
                }
              }

    .span-mobile-only {
      display: none;
    }

    @media screen and (max-width: 767px) {
      .span-mobile-only {
        display: inline;
      }
    }
    </style>

  </head>
  <body data-controller="push-notification"
        data-push-notification-vapid-public-value="<%= Rails.configuration.customization[:vapid_public] %>"
        data-push-notification-user-login-value="<%= user_signed_in? %>">

      <%= render 'common/webpush_modal' if user_signed_in? %>

    <div class="app-wrapper">

      <%= render 'common/header' %>
      <main class="main-layout">
  
        <%= yield :hero %>
    
        <%= turbo_frame_tag :flash do %>
          <%= turbo_stream_from current_user, :flash %>
          <div id='flash-notice' data-outbid-message="<%= I18n.t('.participant_outbid') %>">
            <%= render partial: 'common/flash', locals: { flash: flash } %>
          </div>
        <% end %>

        <% if Time.zone.now.between?(Time.zone.parse(start_of_procedure), Time.zone.parse(end_of_procdure))%>
          <div class="ui message flash" style="background-color: red; color: white;">
            <div class="header"><%= t('procedure_warning') %></div>
          </div>
        <% end %>

        <%= banned_banner %>
        <%= invalid_data_banner %>
        <%= yield %>
      </main>

      <%= render 'common/cookies' if show_cookie_dialog? %>
      <%= render 'common/footer' %>
      <%#= render 'google_analytics', tracking_id: google_analytics.tracking_id if google_analytics.enabled? && show_google_analytics? %>
    </div>

  </body>
</html>
